        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PARCELA</th>
                    <th>VALOR</th>
                    <th>VENCIMENTO</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$financeiro_parcelas item="linha"}  
                <tr>
                    <td>{$linha.idFinanceiroParcela|default:''}</td>
                    <td>{$linha.nrParcela|default:''}</td>
                    <td>{$linha.vlParcela|default:0|number_format:"2":",":"."}</td> 
                    <td>{$linha.dtVencimento|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{if $linha.stSituacao|default:'0' eq 1}ABERTA{else}
                    {if $linha.stSituacao|default:'0' eq 2}BAIXADA{else}
                    {if $linha.stSituacao|default:'0' eq 3}EXCLUIDA{else}
                    {if $linha.stSituacao|default:'0' eq 4}CANCELADA{else}
                    {/if}{/if}{/if}{/if}
                    </td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" id="btn-editaritens" title="Clique aqui para editar os dados"onclick="financeiro.editarParcela('{$linha.idFinanceiro}','{$linha.idFinanceiroParcela}');">Nova Parcela</a> 
                        <a class="glyphicon glyphicon-trash" onclick="financeiro.delParcela('{$linha.idFinanceiroParcela}');">  Excluir</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
