        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRODUTO OU SERVICO</th>
                    <th>QTDE</th>
                    <th>UN</th>
                    <th>SUGESTAO PARCEIRO</th>
                    <th>LINK</th>
                    <th>OBSERVACAO</th>
                    <th>PEDIDO</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$solicitacaocomprasitens item="linha"}  
<!--                {var_dump($solicitacaocomprasitens)}-->
                <tr>
                    <td>{$linha.idSolicitacaoItem|default:''}</td>
                    {if $linha.stTipoIS|default:'0' eq '1'}
                        {if $linha.idInsumo|default:'' neq ''}
                            <td>{$linha.dsServico|default:''}</td>
                        {else}
                            <td>{$linha.dsProduto|default:''}</td>
                        {/if}
                    {else}
                        {if $linha.idInsumo|default:'' neq ''}
                            <td>{$linha.dsInsumo|default:''}</td>
                        {else}
                            <td>{$linha.dsProduto|default:''}</td>
                        {/if}
                    {/if}
                    <td>{$linha.qtSolicitacao|default:''|number_format:"2":",":"."}</td> 
                    <td>{$linha.dsUnidade|default:''}</td> 
                    {if $linha.dsParceiro|default:'' eq ''}
                        <td>{$linha.dsParceiroSugerido|default:''}</td> 
                    {else}
                        <td>{$linha.dsParceiro|default:''}</td> 
                    {/if}
                    <td>{$linha.dsLink|default:''}</td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td>{$linha.idPedido|default:''}</td> 
                    <td>{$linha.dsSituacao|default:''}</td> 
                    <td>
<!--                        {if $linha.idSituacao < 4} -->
                            <a class="glyphicon glyphicon-pencil" id="btn-gravarcabecalho" title="Clique aqui para editar os dados"onclick="solicitacaocompras.editar('{$linha.idSolicitacaoItem}', '{$linha.stTipoIS}');">Editar</a> 
<!--                        {/if}-->
                        <a class="glyphicon glyphicon-camera" onclick="solicitacaocompras.selecionarfoto('{$linha.idSolicitacaoItem}');">  Fotos</a>
                        <a class="fa fa-comments-o" onclick="solicitacaocompras.digitarmensagem('{$linha.idSolicitacaoItem}');">  Mensagem</a>
                    </td>                    
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
