{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->   
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>CONTAS CADASTRADAS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-financeiro" action="/financeiro/busca_financeiro" method="POST" enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-1">
                        <label for="form-control">ID</label>
                        <input type="text" class="form-control" name="idFinanceiro" id="idFinanceiro" value="{$busca.idFinanceiro|default:''}">       
                    </div> 
                    <div class="col-md-3">
                        <label for="Parceiro">PARCEIRO</label>                        
                        <input data-label="Parceiro" type="text" data-tipo="dsParceiro" class="form-control complete_Parceiro" name="dsParceiro"  id="dsParceiro"  value="{$busca.dsParceiro|default:''}"/>
                        <input type="hidden" id="idParceiro" value="{$busca.idParceiro|default:''}" name="idParceiro"/>
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">PEDIDO</label>
                        <input type="text" class="form-control" name="idPedido" id="idPedido" value="{$busca.idPedido|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">NOTA FISCAL</label>
                        <input type="text" class="form-control" name="nrNF" id="nrNF" value="{$busca.nrNF|default:''}">       
                    </div>                 
                    <div class="col-md-1">
                        <label for="form-control">DOCUMENTO</label>
                        <input type="text" class="form-control" name="cdDocumento" id="cdDocumento" value="{$busca.cdDocumento|default:''}">       
                    </div>       
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="tipo">TIPO DE CONTA</label>
                            <select class="form-control" name="idTipo" id="idTipo" value="{$busca.idTipo|default:''}">
                                {html_options options=$lista_tipo selected=$busca.idTipo|default:''}
                            </select>                                    
                        </div>
                    </div>                                                         
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacao">SITUACAO</label>
                            <select class="form-control" name="stStatus" id="stStatus" value="{$busca.stStatus|default:''}">
                                {html_options options=$lista_status selected=$busca.stStatus|default:''}
                            </select>                                    
                        </div>
                    </div>        
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>                                                                 
                </div>  
                <br>
                <div class="row small" >                    
                    <div class="col-md-3">
                        <label for="form-control">OBSERVACAO</label>
                        <input type="text" class="form-control" name="dsObservacao"  id="dsObservacao" value="{$busca.dsObservacao|default:''}"> 
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DT DOCUMENTO INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtEmissaoI" id="dtEmissaoI" value="{$busca.dtEmissaoI|date_format:'%d/%m/%Y'|default:''}" >           
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DT DOCUMENTO FIM</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtEmissaoF" id="dtEmissaoF" value="{$busca.dtEmissaoF|default:''|date_format:'%d/%m/%Y'}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DT VENCIMENTO INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtVencimentoI" id="dtVencimentoI" value="{$busca.dtVencimentoI|date_format:'%d/%m/%Y'|default:''}" >           
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DT VENCIMENTO FIM</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtVencimentoF" id="dtVencimentoF" value="{$busca.dtVencimentoF|default:''|date_format:'%d/%m/%Y'}">       
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacao">SETOR</label>
                            <select class="form-control" name="idSetor" id="idSetor" value="{$busca.idSetor|default:''}">
                                {html_options options=$lista_setor selected=$busca.idSetor|default:''}
                            </select>                                    
                        </div>
                    </div>        
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacao">CENTRO CUSTO</label>
                            <select class="form-control" name="idCentroCusto" id="idCentroCusto" value="{$busca.idCentroCusto|default:''}">
                                {html_options options=$lista_centrocusto selected=$busca.idCentroCusto|default:''}
                            </select>                                    
                        </div>
                    </div>                            
                    <br>
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                </div>
                <br>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/financeiro/nova_financeiro"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PARCEIRO</th>
                    <th>TIPO DE CONTA</th>
                    <th>DOCUMENTO</th>
                    <th>DATA DOCUMENTO</th>
                    <th>VALOR TOTAL</th>
                    <th>PEDIDO</th>
                    <th>N.F.</th>
                    <th>SITUACAO</th>
                    <th>OBSERVACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$financeiro item="linha"}  
                <tr>
                    <td><a href="/financeiro/novo_financeiro/idFinanceiro/{$linha.idFinanceiro}">{$linha.idFinanceiro}</a></td>
                    <td>{$linha.dsParceiro|default:''}</td> 
                    <td>{if $linha.idTipo|default:'0' eq '0'}A PAGAR{else}A RECEBER{/if}</td> 
                    <td>{$linha.cdDocumento|default:''}</td>
                    <td>{$linha.dtEmissao|date_format:'%d/%m/%Y'|default:''}</td>
                    <td>{$linha.vlTotal|default:0|number_format:"2":",":"."}</td> 
                    <td>{$linha.idPedido|default:''}</td> 
                    <td>{$linha.nrNF|default:''}</td> 
                    
                    <td>{if $linha.stStatus|default:'0' eq 1}A INICIAR{else}
                    {if $linha.stStatus|default:'0' eq 2}EM ANDAMENTO{else}
                    {if $linha.stStatus|default:'0' eq 3}LIQUIDADA{else}
                    {if $linha.stStatus|default:'0' eq 4}EXCLUIDA{else}
                    {if $linha.stStatus|default:'0' eq 5}CANCELADA{else}
                    {/if}{/if}{/if}{/if}{/if}
                    </td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td><a title="Editar" class="glyphicon glyphicon-pencil" href="/financeiro/nova_financeiro/idFinanceiro/{$linha.idFinanceiro}">Editar</a> |  
                        <a title="Excluir" class="glyphicon glyphicon-trash" onclick="financeiro.excluirfinanceiro('{$linha.idFinanceiro}');">Excluir</a> |
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->

<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>

<!-- Utils -->
<script src="/files/js/util.js"></script>
<script type="text/javascript" src="/files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/files/js/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>       
<script src="/files/js/financeiro/financeiro.js"></script>

{include file="comuns/footer.tpl"}
