{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    <div id="page-wrapper">
        <hr>
        <!--Altere daqui pra baixo-->
        <h1>Lista de Pedidos em Aberto</h1>
        <hr>        
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PEDIDO</th>
                    <th>DATA</th>
                    <th>PARCEIRO</th>
                    <th>SOLCITANTE</th>
                    <th>OBS</th>
                    <th>PRAZO ENTREGA</th>
                    <th>OBS ENTREGA</th>
                    <th>SITUACAO</th>
                    <th>VAL TOTAL</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$pedidos item="linha"}  
                <tr>
                    <td>{$linha.idPedido|default:''}</td>
                    <td>{$linha.nrPedido|default:''}</td>
                    <td>{$linha.dtPedido|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dsParceiro|default:''}</td> 
                    <td>{$linha.dsSolicitante|default:''}</td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td>{$linha.dtPrazoEntrega|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dsComplementoEntrega|default:''}</td> 
                    <td>{if $linha.stSituacao eq 1} Aberto {/if}</td> 
                    <td>R$ {$linha.vlTotalPedido|default:''|number_format:"2":",":"."}</td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/pedido/novo_pedido/idPedido/{$linha.idPedido}">  Editar</a>  |  
                        <a class="glyphicon glyphicon-check" href="/pedido/baixamanual/idPedido/{$linha.idPedido}">  Baixa Manual</a>  |
                        <a class="glyphicon glyphicon-trash" href="/pedido/delpedido/idPedido/{$linha.idPedido}">  Excluir</a></td>
                </tr>
                    {$total = $total + $linha.vlTotalPedido}                
                {/foreach}   
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total:</strong></td>
                    <td><strong>R$ {$total|default:''|number_format:"2":",":"."} </strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/pedido.js"></script>
{include file="comuns/footer.tpl"}
        
