/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

body {
    margin-top: 0px;
}

a { cursor: pointer !important; }

#wrapper {
    padding-left: 0;
    max-height: 100%;
}

#page-wrapper {
    width: 100%;
    padding: 5px 15px;
}

#page-wrapper h1 {}

#page-wrapper hr {
    margin-top: 0;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 14px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 14px;
}


/* Nav Announcements */

.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

/* Table Headers */

table.tablesorter thead {
    cursor: pointer;
}

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

    /* Wrappers */

    #wrapper {
        padding-left: 0px;
        padding-top: 50px;
    }

    #page-wrapper {
        padding: 15px 25px;
    }

    /* Side Nav */

    .side-nav {
        padding-top: 10px;
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 50px;
        height: calc(100% - 50px); /*Nativo*/
        height: -webkit-calc(100% - 50px); /*Chrome*/
        height: -moz-calc(100% - 50px); /*FireFox*/
        border-radius: 0;
        border: none;
        background-color: #222222;
        overflow-y: auto;

    }

    /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

    .side-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 10px 15px 10px 25px;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #080808;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #080808;
    }

    /* Nav Messages */

    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }

    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }

    .navbar-collapse {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}

table.relatorio th { font-size: 10px; }
table.relatorio td { font-size: 10px; }
.relatorio > thead > tr > th, .relatorio > tbody > tr > th, .relatorio > tfoot > tr > th, .relatorio > thead > tr > td, .relatorio > tbody > tr > td, .relatorio > tfoot > tr > td {
        padding: 1px;              
    }

@media print {
    .container {
        width: auto;    
    }
    table.relatorio th { font-size: 7px !important; }
    table.relatorio td { font-size: 6px !important; }
    .relatorio > thead > tr > th, .relatorio > tbody > tr > th, .relatorio > tfoot > tr > th, .relatorio > thead > tr > td, .relatorio > tbody > tr > td, .relatorio > tfoot > tr > td {
        padding: 0;
    }    
}

ul.legenda-geo li {
    float: left;
    display: block;
    margin-right: 20px;
    text-align: center;
}