        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classeb} fa-fw "></i>  {$titulo2|default:'DETALHES'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">

        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRODUTO OU SERVICO</th>
                    <th>QTDE</th>
                    <th>UN</th>
                    <th>LOCAL DE ESTOQUE</th>
                    <th>CENTRO DE CUSTO</th>
                    <th>OBSERVACAO</th>
                    <th>SITUACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$pedidoitens|default:null item="linha"}  
                <tr>
                    <td>{$linha.idPedido|default:''} / {$linha.idPedidoItem|default:''}</td>
                    {if $linha.stTipoIS|default:'0' eq '1'}
                        <td>{$linha.dsServico|default:''}</td>
                    {else}
                        {if $linha.idInsumo|default:'0' neq '0'}
                            <td>{$linha.dsInsumo|default:''}</td>
                        {else}
                            <td>{$linha.dsProduto|default:''}</td>
                        {/if}
                    {/if}
                    <td>{$linha.qtPedido|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.dsUnidade|default:''}</td> 
                    <td>{$linha.localEstoque|default:''}</td> 
                    <td>{$linha.dsCentroCusto|default:''}</td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td>{$linha.dsSituacaoPedido|default:''}</td> 
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
