<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classea} fa-fw "></i> {$titulo1|default:'PRODUTOS EM PONTO DE PEDIDO'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">

        <br>
            <div class="tabela-scroll" id="listagem_pp">                    
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>COD</th>
                        <th>PRODUTO</th>
                        <th>LOCAL ESTOQUE</th>
                        <th>ESTOQUE</th>
                        <th>UNIDADE</th>
                        <th>MINIMO</th>
                        <th>MAXIMO</th>
                        <th>QTDE A COMPRAR</th>
                        <th>DT U.COMPRA</th>
                        <th>FORN U.COMPRA</th>
                        <th>QTDE U.COMPRA</th>
                        <th>EM SOLICITACAO</th>
                        <th>ACAO</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$pontopedido_lista item="linha"}  
                    <tr>
                        <td>{$linha.cdInsumo|default:''}</td>
                        <td>{$linha.dsInsumo|default:''}</td>
                        <td>{$linha.localEstoque|default:''}</td> 
                        <td>{$linha.qtEstoque|default:'0'|number_format:"2":",":"."}</td> 
                        <td>{$linha.dsUnidade|default:''}</td> 
                        <td>{$linha.qtEstoqueMinimo|default:'0'|number_format:"2":",":"."}</td> 
                        <td>{$linha.qtLoteReposicao|default:'0'|number_format:"2":",":"."}</td> 
                        <td>{$linha.qtAComprar|default:'0'|number_format:"2":",":"."}</td> 
                        <td>{$linha.dtUltimaCompra|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsParceiroUC|default:''}</td> 
                        <td>{$linha.qtUltimaCompra|default:'0'|number_format:"2":",":"."}</td> 
                        <td>{$linha.qtEmSolicitacao|default:'0'|number_format:"2":",":"."}</td> 
                        <td> <a onclick="dashboard.lermovimentoitens('{$linha.idInsumo}');">MOVIMENTACAO</a> </td>
                    </tr>
                    {/foreach}   
                </tbody>
            </table>
            </div>
        <!--Altere daqui pra cima-->
        