        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classea} fa-fw "></i> {$titulo1|default:'SOLICITACAO DE COMPRAS EM ABERTO'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">

        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SOLICITANTE</th>
                    <th>DATA SOLICITACAO</th>
                    <th>OBSERVACAO</th>
                    <th>PARCEIRO</th>
                    <th>PRIORIDADE</th>
                    <th>PRAZO ENTREGA</th>
                    <th>COMPLEMENTO ENTREGA</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
<!--            {var_dump($pedidos)}-->
            <tbody>
                {foreach from=$pedidos item="linha"}  
                <tr>
                    <td>{$linha.idPedido|default:''}</td>
                    <td>{$linha.dsSolicitante|default:''}</td> 
                    <td><strong>{$linha.dtPedido|date_format:'d/m/Y'|default:''}</strong></td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td>{$linha.dsParceiro|default:''}</td> 
                    <td>{$linha.dsPrioridade|default:''}</td> 
                    <td>{$linha.dtPrazoEntrega|date_format:'d/m/Y'|default:''}</td> 
                    <td>{$linha.dsComplementoEntrega|default:''}</td> 
                    <td>{$linha.dsSituacaoPedido|default:''}</td> 
                    <td> <a onclick="dashboard.pedidodetalhes('{$linha.idPedido}');">DETALHES</a> </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
