        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classeb} fa-fw "></i>  {$titulo2|default:'MOVIMENTACAO DO PRODUTO'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">
            <br>
            <table class="table table-striped" border="1">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>TIPO MOVIMENTO</th>
                            <th>PARCEIRO / COLABORADOR</th>
                            <th>PEDIDO</th>
                            <th>NOTA</th>                        
                            <th>QTDE ENTRADA</th>
                            <th>QTDE SAIDA</th>
                            <th>LOCAL ESTOQUE ORIGEM</th>
                            <th>LOCAL ESTOQUE DESTINO</th>
                            <th>CENTRO CUSTO</th>
                            <th>REFERENCIA</th>
                        </tr>
                    </thead>
                    <tbody>
    <!--                    {var_dump($movimentoitens)}-->
                        {foreach from=$movimentoitens|default:null item="linha"}  
                        <tr>
                            <td>{$linha.dtMovimento|date_format:'d/m/Y'|default:''}</td> 
                            <td>{$linha.dsTipoMovimento|default:''}</td>
                            <td>
                                {if {$linha.dsColaborador|default:''} neq ''}
                                    {$linha.dsColaborador|default:''}
                                {else}
                                    {$linha.dsParceiro|default:''}
                                {/if}
                            </td> 
                            <td>{$linha.nrPedido|default:''}</td> 
                            <td>{$linha.nrNota|default:''}</td> 
                            {if $linha.stDC eq 'E'}
                                <td>{$linha.qtMovimento|default:'0'|number_format:"2":",":"."}</td>
                            {else}
                                <td></td>
                            {/if}
                            {if $linha.stDC eq 'S'}
                                <td>{$linha.qtMovimento|default:'0'|number_format:"2":",":"."}</td>
                            {else}
                                <td></td>
                            {/if}
                            <td>{$linha.localEstoque|default:''}</td> 
                            <td>{$linha.localEstoqueDestino|default:''}</td> 
                            <td>{$linha.dsCentroCusto|default:''}</td> 
                            <td>{$linha.referencia|default:''}</td> 
                        </tr>
                        {/foreach}   
                    </tbody>
                </table>
            <!--Altere daqui pra cima-->
