        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classea} fa-fw "></i> {$titulo1|default:'SOLICITACAO DE COMPRAS EM ABERTO'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">

        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SOLICITANTE</th>
                    <th>DATA SOLICITACAO</th>
                    <th>OBSERVACAO</th>
                    <th>PRIORIDADE</th>
                    <th>LOCAL ENTREGA</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$solicitacaocompras item="linha"}  
                <tr>
                    <td>{$linha.idSolicitacao|default:''}</td>
                    <td>{$linha.dsSolicitante|default:''}</td> 
                    <td><strong>{$linha.dtSolicitacao|date_format:'d/m/Y'|default:''}</strong></td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td>{$linha.dsPrioridade|default:''}</td> 
                    <td>{$linha.dsLocalEntrega|default:''}</td> 
                    <td>{$linha.dsSituacao|default:''}</td> 
                    <td> <a onclick="dashboard.lersolicitacaodetalhes('{$linha.idSolicitacao}');">DETALHES</a> </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
