        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classeb} fa-fw "></i>  {$titulo2|default:'DETALHES'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">

        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>NOME DO PRODUTO</th>
                    <th>VALOR EM ESTOQUE</th>
                    <th>QUANTIDADE EM ESTOQUE</th>
                    <th>P.M.E</th>
                    <th>UNIDADE</th>
                    <th>GRAFICO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$movimentoitens|default:null item="linha"}  
                <tr>
                    <td>{$linha.cdInsumo|default:''}</td> 
                    <td style="width: 20%;">{$linha.dsInsumo|default:''}</td> 
                    <td>R$ {$linha.valortotal|default:'0'|number_format:"2":",":"."}</td> 
                    <td style="width: 10%;">{$linha.qtdetotal|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlPME|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.dsUnidade|default:''}</td> 
                    <td style="width: 10%;" >
                            <a onclick="dashboard.grafico.montarGraficoInsumo('{$linha.idInsumo}');"> Grafico <span class="pull-left huge fa fa-area-chart fa-1x"></span></a> |
                            <a onclick="dashboard.lermovimentoitens('{$linha.idInsumo}');">Movimentacao</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->      
