        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTA SOLICITACAO:</h3>-->
    <div class="panel-heading huge_menor">
        <i class="fa {$classea} fa-fw "></i> {$titulo1|default:'VALOR DO ESTOQUE POR GRUPO / LOCAL DE ESTOQUE'}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row small">
            <br>
                <div id="campos-dados" class="col-md-6 tab-pane fade active in">
                    <div class="tabela-scroll">                    
                        <table class="table table-striped" border="1">
                            <thead>
                                <tr>
                                    <th>GRUPO</th>
                                    <th>VALOR TOTAL</th>
                                    <th>ACAO</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach from=$estoquegrupo|default:null item="linha"}  
                                <tr>
                                    <td>{$linha.dsGrupo|default:''}</td>
                                    <td>R$ {$linha.valortotal|default:'0'|number_format:"2":",":"."}</td> 
                                    <td> <a onclick="dashboard.lerestoquegrupoitens('{$linha.idGrupo}');">PRODUTOS</a> </td>
                                </tr>
                                {/foreach}   
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="campos-dados" class=" col-md-6 tab-pane fade active in">
                    <div class="tabela-scroll" >                    
                        <table class="table table-striped" border="1">
                            <thead>
                                <tr>
                                    <th>LOCAL ESTOQUE</th>
                                    <th>VALOR TOTAL</th>
                                    <th>ACAO</th>
                                </tr>
                            </thead>
                            <tbody>
<!--                                {var_dump($estoquelocalestoque)}-->
                                {foreach from=$estoquelocalestoque|default:null item="linha"}  
                                <tr>
                                    <td>{$linha.dsLocalEstoque|default:''}</td>
                                    <td>R$ {$linha.valortotal|default:'0'|number_format:"2":",":"."}</td> 
                                    <td> <a onclick="dashboard.lerestoquegrupoLE('{$linha.cdLocalEstoque|default:null}');">GRUPOS</a> </td>
                                </tr>
                                {/foreach}   
                            </tbody>
                        </table>
                    </div>
                </div>
                        <!--Altere daqui pra cima-->
