{include file="comuns/head.tpl"}
<div id="modal_orcamento_compra">
    {include file="orcamentocompras/orcamento/modal/modal.tpl"}                            
</div>                
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>GERENCIAR OS ORÇAMENTOS DE COMPRAS</h1>
            </div>
            <br>
            <form name="frm-busca-orcamento" 
                  id="frm-busca-orcamento" 
                  action="/orcamentocompras/busca_orcamentocompras" 
                  method="POST" 
                  enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">SOLICITANTE</label>
                        <input type="text" class="form-control" name="dsSolicitante" id="dsSolicitante" value="{$busca.dsSolicitante|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                    </div>                 
                    <div class="col-md-5">
                        <label for="Parceiro">PARCEIRO</label>                        
                        <input data-label="Parceiro" type="text" data-tipo="dsParceiro" class="form-control complete_Parceiro" name="dsParceiro"  id="dsParceiro" onchange="solicitacaocompras.lerParceiro();"  value="{$busca.dsParceiro|default:''}"/>     {*onkeypress="pedido.completar_Parceiro();" *}
                        <input type="hidden" id="idParceiro" value="{$busca.idParceiro|default:''}" name="idParceiro"/>
                    </div> 
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="prioridade">PRIORIDADE</label>
                            <select class="form-control" name="idPrioridade" id="idPrioridade" value="{$busca.idPrioridade|default:''}">
                                {html_options options=$lista_prioridade selected=$busca.idPrioridade|default:''}
                            </select>                                    
                        </div>
                    </div>                                                         
                </div>                                                         
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">OBSERVACAO</label>
                        <input type="text" class="form-control" name="dsObservacao"  id="dsObservacao" value="{$busca.dsObservacao|default:''}"> 
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">LOCAL PARA ENTREGA</label>
                        <input type="text" class="form-control" name="dsLocalEntrega" id="dsLocalEntrega" value="{$busca.dsLocalEntrega|default:''}" >           
                    </div>                      
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacao" >SITUACAO</label>
                            <select class="form-control"  id="idSituacao" name="idSituacao"> 
                                    {include file="orcamentocompras/lista_situacao.tpl"}       
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>                         
                    
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                </div>
                <br>
                <br>
                <div class="tabela-scroll" id="listagem">        
                    <table class="table table-striped" border="1" >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>DATA</th>
                                <th>SOLICITANTE</th>
                                <th>PRODUTO/SERVICO</th>
                                <th>PARCEIRO</th>
                                <th>QTDE</th>
                                <th>PRIORIDADE</th>
                                <th>OBSERVACAO</th>
                                <th>LOCAL DE ENTREGA</th>
                                <th>ACAO</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$orcamentocompras item="linha"}  

                            <tr> <td>
                                    {$linha.idOrcamentoCompras}
                                </td>
                                <td>{$linha.dtSolicitacao|date_format:'%d/%m/%Y'|default:''}</td>
                                <td>{$linha.dsSolicitante|default:''}</td> 
                                {if $linha.stTipoIS|default:'0' eq '1'}
                                    {if $linha.idInsumo|default:'' neq ''}
                                        <td style="width:40%;">{$linha.dsServico|default:''}</td>
                                    {else}
                                        <td style="width:40%;">{$linha.dsProduto|default:''}</td>
                                    {/if}
                                {else}
                                    {if $linha.idInsumo|default:'0' neq '0'}
                                        <td style="width:40%;">{$linha.dsProduto|default:''}</td>
                                    {else}
                                        <td style="width:40%;">{$linha.dsInsumo|default:''}</td>
                                    {/if}
                                {/if}
                                <td style="width:40%;">{$linha.dsParceiro|default:''}</td> 
                                <td>{$linha.qtSolicitacao|default:'0'|number_format:"2":",":"."}</td> 
                                <td>{$linha.dsPrioridade|default:''}</td> 
                                <td>{$linha.dsObservacao|default:''}</td> 
                                <td>{$linha.dsLocalEntrega|default:''}</td> 
                                <td style="width:20%;">
                                    <a title="Criar o PDF" class="glyphicon glyphicon-bookmark" onclick="emitir_pedido_compra.showOrcamento('{$linha.idOrcamentoCompras}')">Criar PDF</a>  | 
                                    {if $linha.dsCaminhoPDF neq ''}
                                        <a title="Ver o PDF" class="glyphicon glyphicon-search" href="{$linha.dsCaminhoPDF|default:''}" target="_blanck">Ver PDF</a>  <br>
                                    {/if}  
                                    <a title="Arquivar" class="glyphicon glyphicon-saved" href="/orcamentocompras/delorcamentocompras/idOrcamentoCompras/{$linha.idOrcamentoCompras}">Arquivar</a>  <br>
                                </td>
                            </tr>
                            {/foreach}        
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-12">
                            {$paginacao|default:''}
                        </div>
                    </div>        

                </div>
            <!--Altere daqui pra cima-->
            </form>
        </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>

<!-- Utils -->
<script src="/files/js/util.js"></script>
<script type="text/javascript" src="/files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/files/js/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>       
<script src="/files/js/solicitacaocompras/solicitacaocompras.js"></script>
<script src="/files/js/pedido/pedido.js"></script>
{include file="comuns/footer.tpl"}
