{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>PRODUTOS EM PONTO DE PEDIDO</h1>
            </div>
            <br>
            <form name="frm-busca-pontopedido" 
                  id="frm-busca-pontopedido" 
                  action="/pontopedido/busca_pontopedido" 
                  method="POST" 
                  enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-1">
                        <label for="form-control">GRUPO</label>
                        <input type="text" class="form-control" name="dsGrupo" id="dsGrupo" value="{$busca.dsGrupo|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                    </div>                     
                    <div class="col-md-2">
                        <label for="form-control">NOME DO PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="localestoque" >LOCAL ESTOQUE</label>
                            <select class="form-control"  id="idLocalEstoque" name="idLocalEstoque"> 
                                {html_options options=$localestoque selected={$busca.idLocalEstoque|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-3">
                        <label for="Parceiro">PARCEIRO</label>                        
                        <input data-label="Parceiro" type="text" data-tipo="dsParceiro" class="form-control complete_Parceiro" name="dsParceiro"  id="dsParceiro" onchange="solicitacaocompras.lerParceiro();"  value="{$busca.dsParceiro|default:''}"/>     {*onkeypress="pedido.completar_Parceiro();" *}
                        <input type="hidden" id="idParceiro" value="{$busca.idParceiro|default:''}" name="idParceiro"/>
                    </div> 
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="prioridade" >PRIORIDADE</label>
                            <select class="form-control"  id="idPrioridade" name="idPrioridade"> 
                                {html_options options=$lista_prioridade selected={$busca.idPrioridade|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto" >CENTRO CUSTO</label>
                            <select class="form-control"  id="idCentroCusto" name="idCentroCusto"> 
                                {html_options options=$lista_centrocusto selected={$busca.idCentroCusto|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                </div> 
                <div class="row small" >
                    <div class="col-md-3">
                        <label for="form-control">OBSERVACAO PARA A SOLICITAÇÃO</label>
                        <input type="text" class="form-control" name="dsObservacao" id="dsObservacao" value="{$busca.dsObservacao|default:''}">       
                    </div>  
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="grupodr">GRUPO DE DESPESA (SELECIONE PARA CRIAR)</label>
                            <select class="form-control" name="idGrupoDR"  id="idGrupoDR" onclick="solicitacaocompras.lerItemDR();">  
                                {html_options options=$lista_grupodr selected=null}
                            </select>                      
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="itemdr">ITEM DE DESPESA (SELECIONE PARA CRIAR)</label>
                            <select class="form-control" name="idItemDR"  id="idItemDR"> 
                                {include file="solicitacaocompras/listaItemDR.tpl"}
                            </select>                      
                        </div>
                    </div>                    
                    <div class="col-md-1">
                        <label for="marcar">MARCAR TODOS </label>
                        <input type="checkbox" class="form-control" name="selecionar_tudo" id="selecionar_tudo">       
                    </div>                                             
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>               
                    <br>
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary solicitar" type="submit">SOLICITAR</button>
                    </div>
                </div>
                <br>
                <br>
                <div class="tabela-scroll" id="listagem_pp">                    
                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>
                                <th>COD</th>
                                <th>PRODUTO</th>
                                <th>LOCAL ESTOQUE</th>
                                <th>ESTOQUE</th>
                                <th>VALIDADE</th>
                                <th>STATUS</th>
                                <th>UNIDADE</th>
                                <th>MINIMO</th>
                                <th>MAXIMO</th>
                                <th>COMPRAR</th>
                                <th>DT U.COMPRA</th>
                                <th>FORN U.COMPRA</th>
                                <th>QTDE U.COMPRA</th>
                                <th>MARCAR</th>
                                <th>EM SOLICITACAO</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$pontopedido_lista item="linha"}  
                            <tr>
                                <td>{$linha.cdInsumo|default:''}</td>
                                <td>{$linha.dsInsumo|default:''}</td>
                                <td>{$linha.localEstoque|default:''}</td> 
                                <td>{$linha.estoqueatual|default:'0'|number_format:"2":",":"."}</td> 
                                <td>{$linha.dtValidade|date_format:'%d/%m/%Y'|default:''}</td> 
                                <td>
                                    {if $linha.dtValidade|default:'' neq '0000-00-00 00:00:00'} {if $linha.dtValidade < date('Y-m-d')}VENCIDO{else}VALIDO{/if}{/if}
                                </td> 
                                <td>{$linha.dsUnidade|default:''}</td> 
                                <td>{$linha.qtEstoqueMinimo|default:'0'|number_format:"2":",":"."}</td> 
                                <td>{$linha.qtLoteReposicao|default:'0'|number_format:"2":",":"."}</td> 
                                <td> 
                                    <input class="valor" type="text" id="qtde[{$linha.idInsumo}][{$linha.idLocalEstoque}]" name="qtde[{$linha.idInsumo}][{$linha.idLocalEstoque}]" {if $linha.estoqueatual|default:'0' >= $linha.qtLoteReposicao|default:'0'} value="0" {else} value="{($linha.qtLoteReposicao|default:'0' - $linha.estoqueatual|default:'0') * 100}" {/if}>
                                </td> 
                                <td>{$linha.dtUltimaCompra|date_format:'%d/%m/%Y'|default:''}</td> 
                                <td>{$linha.dsParceiroUC|default:''}</td> 
                                <td>{$linha.qtUltimaCompra|default:'0'|number_format:"2":",":"."}</td> 
                                <td> <input type="checkbox" id="selecionar[{$linha.idInsumo}][{$linha.idLocalEstoque}]" name="selecionar[{$linha.idInsumo}][{$linha.idLocalEstoque}]"></td> 
                                <td>{$linha.qtEmSolicitacao|default:'0'|number_format:"2":",":"."}</td> 
                            </tr>
                            {/foreach}   
                        </tbody>
                    </table>
                </div>                
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                        
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<script src="/files/js/pontopedido/pontopedido.js" type="text/javascript"></script>
<script src="/files/js/solicitacaocompras/solicitacaocompras.js" type="text/javascript"></script>
{include file="comuns/footer.tpl"}
        
