{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <h3>Lista de Ordem de Serviço - Finalizadas</h3>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-os" action="/osfinalizadas/busca_os" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>       
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Sequencia</th>
                    <th>O.S.</th>
                    <th>Data</th>
                    <th>Solicitante</th>
                    <th>Setor</th>
                    <th>Tipo de Manutenção</th>
                    <th>Status</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$os item="linha"}  
                <tr>
                    <td>{$linha.idOS}</td>
                    <td>{$linha.nrOS|default:''}</td>
                    <td>{$linha.dtOS}</td> 
                    <td>{$linha.dsSolicitante|default:''}</td> 
                    <td>{$linha.dsSetor|default:''}</td> 
                    <td>{$linha.dsTipoManutencao|default:''}</td> 
                    <td>{$linha.dsStatusOS|default:''}</td> 
                    <td>
                        <a class="glyphicon glyphicon-file" title="Ver dados da O.S" href="/osfinalizadas/novo_osfinalizadas/idOS/{$linha.idOS}"> Mostrar Dados</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
