{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>USUARIOS CADASTRADOS</h1>
            </div>
            <div class="panel-default">   
                <div class="panel-footer">
                    <form name="frm-busca-usuario" action="/usuarios/busca_usuario" method="POST" enctype="multipart/form-data">
                        DESCRICAO:
                        <div class="input-group">
                            <input type="text" class="form-control" id="buscamensagem" name="buscamensagem" value="{$buscamensagem|default:''}" >
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">BUSCAR</button>
                            </span>          
                        </div><!-- /input-group -->
                        <div class="input-group">
                            <div id="msg_helper"></div>
                        </div>

                    </form>
                </div>
            </div>
        
            <br>
        <a href="/usuarios/novo_usuario" id="btnNovoUsuario" class="btn btn-primary">INCLUIR</a>             
        <br><br>
        <table border="1" class="table table-striped" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>EMAIL</th>
                    <th>TIPO</th>
                    <th>CELULAR</th>
                    <th>SKYPE</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$usuarios_lista item="linha"}
                <tr>
                    <td><a href="/usuarios/novo_usuario/idUsuario/{$linha.idUsuario}">{$linha.idUsuario}</a></td>
                    <td>{$linha.dsUsuario|upper}</td>
                    <td>{$linha.email|lower}</td>
                    <td>{$linha.descricao|upper}</td>
                    <td>{$linha.telefone1}</td>
                    <td>{$linha.telefone2}</td>

                    <td> <a class="glyphicon glyphicon-pencil" href="/usuarios/novo_usuario/idUsuario/{$linha.idUsuario}">Editar</a> |
                        <a class="glyphicon glyphicon-trash" href="/usuarios/del_usuario/idUsuario/{$linha.idUsuario}">EXCLUIR</a> </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
    </div>
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/usuarios/usuario_lista.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
{include file="comuns/footer.tpl"}
