{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <br><br>
            <div class="" >
                <tt><h3>Iniciar Agenda</h3></tt>
            </div>
        <br>     
        <div class="row small" >
            <div class="col-md-12" style="font-size: large">
                Escolha a opção e clique no botão buscar
            </div>
        </div>
        <br>     
        <form name="frm-busca-agenda" id="frm-busca-agenda" action="/agenda/busca_ata_agenda" method="POST" enctype="multipart/form-data">
            <div class="panel panel-default">            
                <div class="panel-footer">
                    <div class="row small" >
                        <div class="col-md-1 hidden">
                            <label for="form-control">Identificador</label>
                            <input type="text" class="form-control" name="idagenda" id="idagenda" value="{$busca.idagenda|default:''}">       
                        </div>  
                        <div class="col-md-1">
                            <label for="form-control">Período inicial/label>
                            <input type="text" class="form-control datetime" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y %H:%M'|default:''}" >    
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">Período final</label>
                            <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y %H:%M'}">       
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">Tipo de Agenda</label>
                            <select class="form-control"  id="idTipo" name="idTipo"> 
                                    {include file="agenda/lista_tipo.tpl"}       
                            </select>                                    
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">Local da Agenda</label>
                            <select class="form-control"  id="idLocal" name="idLocal"> 
                                    {include file="agenda/lista_local.tpl"}       
                            </select>                                    
                        </div>                                                                     
                        <div class="col-md-2">
                            <label for="form-control">Assunto da Agenda</label>
                            <input type="text" class="form-control" name="dsAssunto" id="dsAssunto" value="{$busca.dsAssunto|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">Status da Agenda</label>
                            <select class="form-control"  id="stStatus" name="stStatus"> 
                                    {include file="agenda/lista_status.tpl"}       
                            </select>                                    
                        </div> 
                        <br>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary buscar" type="submit">Buscar</button>
            <a class="btn btn-primary" href="/menuagenda/">Sair</a>
        </form>
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
<!--                    <th>ID</th>-->
                    <th>Data prevista</th>
<!--                    <th>TEMPO PREVISTO</th>
                    <th>DATA REALIZADA</th>
                    <th>TEMPO REALIZADO</th>-->
                    <th>Local</th>
                    <th>Assunto</th>
<!--                    <th>AGENDADA POR</th>-->
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$agenda_lista item="linha"}  
                <tr>
<!--                    <td>{$linha.idagenda|default:''}</td> -->
                    <td>{$linha.dtagenda|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
<!--                    <td>{$linha.dsTempoDuracao|default:''}</td> 
                    <td>{$linha.dtRealizacao|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    <td>{$linha.dsTempoDuracao|default:''}</td> -->
                    <td>{$linha.dsLocalagenda|default:''}</td> 
                    <td>{$linha.dsAssunto|default:''}</td> 
<!--                    <td>{$linha.dsUsuario|default:''}</td> -->
                    <td>
                        {if $linha.stSituacao < '2'}
                            <a title = 'Iniciar a Agenda' class="glyphicon glyphicon-pencil" href="/agenda/novo_ata/idagenda/{$linha.idagenda}/opcao/inciar/voltarmenu/0"></a>
                        {else}
                            <a title = 'Ver as informações' class="glyphicon glyphicon-camera" href="/agenda/novo_ata/idagenda/{$linha.idagenda}/opcao/ver/voltarmenu/0"></a>
                        {/if}
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/agenda/agenda.js"></script>
<script src="/files/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<link href="/files/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
{include file="comuns/footer.tpl"}
