                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Celular</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_itens|default:null item="linha"}  
                            <tr>
                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} > {$linha.dsNome|default:''}</td> 
                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} > {$linha.dsEmail|default:''}</td>
                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} > {$linha.dsCelular|default:''}</td>
                                <td> 
                                    {if $opcao|default:'' neq 'adiar' && $opcao|default:'' neq 'excluir' && $opcao|default:'' neq 'consultar'}
                                        <a class="glyphicon glyphicon-pencil" title ="Ver dados e alterar" onclick="agenda.editarparticipante('{$linha.idAgenda}','{$linha.idParticipante}','{$linha.idUsuario}','{$linha.dsAssunto}','{$linha.dsUsuario}','{$linha.dsNome}','{$linha.dsEmail}','{$linha.dsCelular}');"></a> |  
                                        <a class="glyphicon glyphicon-share" title ="Selecionar arquivo para anexar" onclick="agenda.selecionarfoto('{$linha.idParticipante}');"></a> |
                                        <a class="glyphicon glyphicon-send" title ="Enviar Email" onclick="agenda.enviaremail('{$linha.idParticipante}','{$linha.idAgenda}','agenda');" ></a> |
                                        <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="agenda.delitem('{$linha.idAgenda}','{$linha.idParticipante}');" ></a>
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
