                <table class="table">
                    <thead>
                        <tr>
                            <th>Participante</th>
                            <th>Email</th>
                            <th>Celular</th>
<!--                            <th>ASSUNTO ESPECIFICO</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_itens|default:null item="linha"}  
                            <tr>
                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} >
                                    {$linha.dsUsuario|default:''}</td> 
                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} >
                                    {$linha.email|default:''}</td> 
                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} >
                                    {$linha.telefone1|default:''}</td> 
<!--                                <td {if $linha.leu|default:'0' eq '1'} style="color: #0000FF"; {else} {/if} >
                                    {$linha.assuntoP|default:''}</td> -->
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
