{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <br><br>
            <div class="" >
                <tt><h3>Agenda agendadas por mim - {if {$opcao|default:''} eq 'excluir'} cancelar {else} {$opcao|default:''} {/if}</h3></tt>
            </div>
            <br>     
            <div class="row small" >
                <div class="col-md-12" style="font-size: x-large">
                    Escolha a opção para consulta e clique em buscar
                </div>
            </div>
            <br>     
            <form name="frm-busca-agenda" id="frm-busca-agenda" action="/agenda/busca_agenda" method="POST" enctype="multipart/form-data">
                <div class="panel panel-default">  
                    <input type="text" class="hidden" name="opcao" id="opcao" value="{$opcao|default:''}">       
                    <div class="panel-footer">
                        <div class="row small" >
                            <div class="col-md-1">
                                <label for="form-control">Identificador</label>
                                <input type="text" class="form-control" name="idagenda" id="idagenda" value="{$busca.idagenda|default:''}">       
                            </div>  
                            <div class="col-md-1">
                                <label for="form-control">Período inicial</label>
                                <input type="text" class="form-control datetime" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y %H:%M'|default:''}" >    
                            </div> 
                            <div class="col-md-1">
                                <label for="form-control">Período final</label>
                                <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y %H:%M'}">       
                            </div>                         
                            <div class="col-md-2">
                                <label for="form-control">Tipo de Agenda</label>
                                <select class="form-control"  id="idTipo" name="idTipo"> 
                                        {include file="agenda/lista_tipo.tpl"}       
                                </select>                                    
                            </div>  
                            <div class="col-md-2">
                                <label for="form-control">Local da Agenda</label>
                                <select class="form-control"  id="idLocal" name="idLocal"> 
                                        {include file="agenda/lista_local.tpl"}       
                                </select>                                    
                            </div>    
                            <div class="col-md-2">
                                <label for="form-control">Pauta da Agenda</label>
                                <input type="text" class="form-control" name="dsAssunto" id="dsAssunto" value="{$busca.dsAssunto|default:''}">       
                            </div> 
                            <div class="col-md-2">
                                <label for="form-control">Status da Agenda</label>
                                <select class="form-control"  id="stStatus" name="stStatus"> 
                                        {include file="agenda/lista_status.tpl"}       
                                </select>                                    
                            </div> 
                        </div>
                    </div>
                </div>
                <button title="Clique aqui para ler os dados" class="btn btn-primary buscar" type="submit">Buscar</button>
                <a title="Clique aqui para sair da tela" class="btn btn-primary" href="/menuagenda/">Sair</a>
            </form>
            <br><br>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
<!--                        <th>IDENTIFICADOR</th>-->
                        <th>Data da Agenda</th>
<!--                        <th>DURACAO</th>-->
                        <th>Local da Agenda</th>
                        <th>Assunto da Agenda</th>
<!--                        <th>AGENDADA POR</th>-->
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$agenda_lista item="linha"}  
                    <tr>
<!--                        <td>{$linha.idagenda|default:''}</td> -->
                        <td>{$linha.dtagenda|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
<!--                        <td>{$linha.dsTempoDuracao|default:''}</td> -->
                        <td>{$linha.dsLocalagenda|default:''}</td> 
                        <td>{$linha.dsAssunto|default:''}</td> 
<!--                        <td>{$linha.dsUsuario|default:''}</td> -->
                        <td>
                            {if $opcao|default:'' eq 'pessoas'}
                                <a title="Clique aqui para ver os participantes" class="glyphicon glyphicon-pencil" href="/agenda/participantes/idagenda/{$linha.idagenda}/opcao/pessoas" ></a>   
                            {else}    
                            {if $opcao|default:'' eq 'adiar'}
                                <a title="Clique aqui para adiar a agenda" class="glyphicon glyphicon-calendar" href="/agenda/adiar_agenda/idagenda/{$linha.idagenda}/opcao/adiar"></a>
                            {else}    
                            {if $opcao|default:'' eq 'alterar'}
                                <a title="Clique aqui para alterar os dados" class="glyphicon glyphicon-pencil" href="/agenda/novo_agenda/idagenda/{$linha.idagenda}/opcao/alterar" ></a> 
                            {else}    
                            {if $opcao|default:'' eq 'excluir'}
                                {if $linha.stSituacao|default:'0' < 2}
                                    <a title="Clique aqui para cancelar a Agenda" class="glyphicon glyphicon-stop" href="/agenda/cancelar_agenda/idagenda/{$linha.idagenda}/opcao/excluir"></a>
                                {else}
                                    <a title="Clique aqui para excluir a Agenda" class="glyphicon glyphicon-trash" href="/agenda/delagenda/idagenda/{$linha.idagenda}/opcao/excluir"></a>
                                {/if}
                            {else}    
                                <a title="Clique aqui para alterar os dados" class="glyphicon glyphicon-pencil" href="/agenda/novo_agenda/idagenda/{$linha.idagenda}/opcao/alterar" ></a> |  
                                <a title="Clique aqui para adiar a agenda" class="glyphicon glyphicon-calendar" href="/agenda/adiar_agenda/idagenda/{$linha.idagenda}/opcao/adiar"></a>
                                {if $linha.stSituacao|default:'0' < 2}
                                    <a title="Clique aqui para cancelar a Agenda" class="glyphicon glyphicon-stop" href="/agenda/cancelar_agenda/idagenda/{$linha.idagenda}/opcao/excluir"></a>
                                {else}
                                    <a title="Clique aqui para excluir a Agenda" class="glyphicon glyphicon-trash" href="/agenda/delagenda/idagenda/{$linha.idagenda}/opcao/excluir"></a>
                                {/if}
                            {/if}
                            {/if}
                            {/if}
                            {/if}
                        </td>
                    </tr>
                    {/foreach}        
                </tbody>
            </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/agenda/agenda.js"></script>
<script src="/files/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<link href="/files/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
{include file="comuns/footer.tpl"}
