                            <table class="table table-striped" border="1">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Pessoa</th>
                                        <th>Celular</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach from=$agenda_lista item="linha"}  
                                        <tr>
                                            <td {if $linha.stPresenca eq 1} style='color: green;' {else} {if $linha.stPresenca eq 2} style='color: red;' {/if}{/if} >{$linha.dtAgenda|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                                            <td {if $linha.stPresenca eq 1} style='color: green;' {else} {if $linha.stPresenca eq 2} style='color: red;' {/if}{/if} >{$linha.dsNome|default:''}</td> 
                                            <td {if $linha.stPresenca eq 1} style='color: green;' {else} {if $linha.stPresenca eq 2} style='color: red;' {/if}{/if} >{$linha.telefone1|default:''}</td> 
                                            <td>
                                                
<!--                                                <span style="font-size: 23px; border: 0px; padding: 0px; margin: 0px; position: relative; color: #4285f4; top: 9px; padding-bottom: 9px;" data-toggle="popover"
                                                      data-content="
                                                      <b>Data:</b><br>{$linha.dtagenda|date_format:'%d/%m/%Y %H:%M'|default:''}<br><br>
                                                      <b>Local:</b><br>{$linha.dsLocalagenda|default:''}<br><br>
                                                      <b>Assunto:</b><br>{$linha.dsAssunto|default:''}<br><br>"
                                                      class="glyphicon glyphicon-info-sign">
                                                </span>
                                                -->
                                                {if $linha.idUsuarioSolicitante neq $smarty.session.user.usuario}
                                                    {if $linha.stPresenca eq 1}
                                                        <a title="Clique aqui para NAO CONFIRMAR presença" class="glyphicon glyphicon-unchecked" onclick="agenda.NaoConfirmar('{$linha.idAgenda}');" ></a>   
                                                    {else}
                                                        <a title="Clique aqui para CONFIRMAR presença" class="glyphicon glyphicon-check" onclick="agenda.Confirmar('{$linha.idAgenda}');" ></a>   
                                                    {/if}
                                                {/if}
                                                <a title="Clique aqui para ver" class="glyphicon glyphicon-camera" href="agenda/novo_agenda/idAgenda/{$linha.idAgenda}/opcao/consultar" ></a>   
                                            </td>
                                        </tr>
                                    {/foreach}        
                                </tbody>
                            </table>                            