{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        
                <h1>Lista de Tipos de Usu&aacute;rios</h1>
                
            
                <div class="panel panel-default">
          
            <div class="panel-footer">
                <form name="frm-busca-tipousuarios" action="/usuarios_tipo/busca_usuarios_tipo" method="POST" enctype="multipart/form-data">
                    
                        Descri&ccedil;&atilde;o:
                        <div class="input-group">
                            <input type="text" class="form-control" id="buscamensagem" name="buscamensagem" value="{$buscamensagem|default:''}" >
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">BUSCAR</button>
                            </span>          
                        </div><!-- /input-group -->
                  

                </form>
            </div>
            
        </div>



        <a href="/usuarios_tipo/novo_usuarios_tipo" class="btn btn-primary">Novo Tipos de Usu&aacute;rios</a>     

        <br><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Descri&ccedil;&atilde;o</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$usuarios_tipo_lista item="linha"}
                <tr>
                    <td><a href="/usuarios_tipo/novo_usuarios_tipo/idTipoUsuario/{$linha.idTipoUsuario}">{$linha.idTipoUsuario}</a></td>
                    <td>{$linha.descricao}</td>
                    <td> <a class="glyphicon glyphicon-pencil" href="/usuarios_tipo/novo_usuarios_tipo/idTipoUsuario/{$linha.idTipoUsuario}">Editar</a> |
                    <a class="glyphicon glyphicon-trash" href="/usuarios_tipo/del_usuarios_tipo/idTipoUsuario/{$linha.idTipoUsuario}">Excluir</a> </td>
                </tr>
                {foreachelse}
                <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                {/foreach}        
            </tbody>
        </table>

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/usuarios_tipo/usuarios_tipo_lista.js"></script>
{include file="comuns/footer.tpl"}
