{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>KARDEX - ENTRADA DE SUCATA POR PERÍODO</h1>
            </div>
            <form name="frm-busca-setor" action="/listakardex/busca_kardex" method="POST" enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">PARCEIRO</label>
                        <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">NOTA</label>
                        <input type="text" class="form-control" name="nrNota" id="nrNota" value="{$busca.nrNota|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">MOTORISTA</label>
                        <input type="text" class="form-control" name="dsColaborador" id="dsColaborador" value="{$busca.dsColaborador|default:''}">       
                    </div>                                         
                    <div class="col-md-1">
                        <label for="form-control">PLACA</label>
                        <input type="text" class="form-control" name="nrPlaca" id="nrPlaca" value="{$busca.nrPlaca|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">LACRE</label>
                        <input type="text" class="form-control" name="nrLacre" id="nrLacre" value="{$busca.nrLacre|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">DATA INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y'|default:Date('d/m/Y')}" >           
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">DATA FIM</label>
                        <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:date('m/d/Y')|date_format:'%d/%m/%Y'}">       
                    </div> 
                </div>
                </br>
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdProduto" id="cdProduto" value="{$busca.cdProduto|default:''}">       
                    </div>                                         
                    <div class="col-md-2">
                        <label for="form-control">NOME DO PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">REFERENCIA</label>
                        <input type="text" class="form-control" name="dsReferencia" id="dsReferencia" value="{$busca.dsReferencia|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="localestoque" >LOCAL DE ESTOQUE</label>
                            <select class="form-control"  id="idLocalEstoque" name="idLocalEstoque"> 
                                {html_options options=$localestoque selected={$busca.idLocalEstoque|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto" >CENTRO DE CUSTO</label>
                            <select class="form-control"  id="idCentroCusto" name="idCentroCusto"> 
                                {html_options options=$centrocusto selected={$busca.idCentroCusto|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    </br>                    
                    <div class="col-md-1">
                        <button class="btn btn-primary" type="submit">BUSCAR</button>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
            {foreach from=$movimento item="linha"}  
                <table class="table table-striped" border="1">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>SEMANA</th>
                            <th>CLIENTE</th>
                            <th>CNPJ</th>
                            <th>LOCAL RETIRADA</th>
                            <th>NF</th>
                            <th>NF LAMPADAS</th>
                            <th>PLACA</th>
                            <th>MOTORISTA</th>
                            <th>LACRE</th>
                            <th>QTDE NF</th>
                            <th>QTDE NF LAMP</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td><strong>{$linha.dtMovimento|date_format:'d/m/Y'|default:''}</strong></td> 
                        <td><strong>{$linha.semana|default:''}</strong></td>
                        <td><strong>{$linha.dsParceiro|default:''}</strong></td> 
                        <td><strong>{$linha.cdCNPJ|default:''}</strong></td> 
                        <td><strong>{$linha.dsCidade|default:''}</strong></td> 
                        <td><strong>{$linha.nrNota|default:''}</strong></td> 
                        <td><strong>{$linha.nrNota2|default:''}</strong></td> 
                        <td><strong>{$linha.nrPlaca|default:''}</strong></td> 
                        <td><strong>{$linha.dsColaborador|default:''}</strong></td> 
                        <td><strong>{$linha.nrLacre|default:''}</strong></td> 
                        <td><strong>{$linha.qtTotalNota|default:'0'|number_format:"2":",":"."}</strong></td> 
                        <td><strong>{$linha.qtTotalNota2|default:'0'|number_format:"2":",":"."}</strong></td> 
                    </tr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>PRODUTO</th>
                                    <th>QTDE</th>
                                    <th>VALOR</th>
                                    <th>LOCAL ESTOQUE</th>
                                    <th>CENTRO CUSTO</th>
                                    <th>REFERENCIA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $linha.itens item="itens"}  
                                <tr>
                                    <td>{$itens.cdInsumo|default:''} - {$itens.dsInsumo|default:''}</td>
                                    <td>{$itens.qtMovimento|default:'0'|number_format:"2":",":"."}</td>
                                    <td>{$itens.vlMovimento|default:'0'|number_format:"2":",":"."}</td> 
                                    <td>{$itens.cdLocalEstoque|default:''} - {$itens.dsLocalEstoque|default:''}</td> 
                                    <td>{$itens.dsCentroCusto|default:''}</td> 
                                    <td>{$itens.dsObservacao|default:''}</td> 
                                </tr>
                                {/foreach}   
                            </tbody>
                        </table>
                    </tbody>
                </table>
            {/foreach}   
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/producao.js"></script>
{include file="comuns/footer.tpl"}
        
