{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>MOVIMENTACAO DE ESTOQUE</h1>
            </div>
            <form name="frm-lista-movimento" 
                  id="frm-lista-movimento" 
                  action="/listamovimentoestoque/busca_movimento" 
                  method="POST" 
                  enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="tipomovimento" >TIPO DE MOVIMENTO</label>
                            <select class="form-control"  id="idTipoMovimento" name="idTipoMovimento"> 
                                {html_options options=$tipomovimento selected={$busca.idTipoMovimento|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">GRUPO</label>
                        <input type="text" class="form-control" name="dsGrupo" id="dsGrupo" value="{$busca.dsGrupo|default:''}">       
                    </div>                                         
                    <div class="col-md-2">
                        <label for="form-control">PARCEIRO</label>
                        <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">PEDIDO</label>
                        <input type="text" class="form-control" name="idPedido" id="idPedido" value="{$busca.idPedido|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">NOTA</label>
                        <input type="text" class="form-control" name="nrNota" id="nrNota" value="{$busca.nrNota|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DATA INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y'|default:Date('d/m/Y')}" >           
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DATA FIM</label>
                        <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:date('m/d/Y')|date_format:'%d/%m/%Y'}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">CONTROLADOS</label>
                        <input type="checkbox" class="form-control" name="controlados" id="controlados" {if $busca.controlados|default:0 eq 1} checked {/if} >       
                    </div>                         
                    <div class="col-md-1">
                        <label for="form-control">ORGÃO</label>
                        <input type="text" class="form-control" name="dsOrgaoControlador" id="dsOrgaoControlador" value="{$busca.dsOrgaoControlador|default:''}">       
                    </div> 
                </div>
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdProduto" id="cdProduto" value="{$busca.cdProduto|default:''}">       
                    </div>                                         
                    <div class="col-md-2">
                        <label for="form-control">NOME DO PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">REFERENCIA</label>
                        <input type="text" class="form-control" name="dsReferencia" id="dsReferencia" value="{$busca.dsReferencia|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="localestoque" >LOCAL DE ESTOQUE</label>
                            <select class="form-control"  id="idLocalEstoque" name="idLocalEstoque"> 
                                {html_options options=$localestoque selected={$busca.idLocalEstoque|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto" >CENTRO DE CUSTO</label>
                            <select class="form-control"  id="idCentroCusto" name="idCentroCusto"> 
                                {html_options options=$centrocusto selected={$busca.idCentroCusto|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="colaborador">RETIRADO POR</label>
                            <select class="form-control" name="idColaborador" id="idColaborador">
                                {html_options options=$lista_colaborador selected=$busca.idColaborador}
                            </select>                      
                        </div>
                    </div>                                        
                    </br>                    
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    {if $movimento}
                        <div class="col-md-1">
                            <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                        </div>                    
                    {/if}
                </div>
            </form>
            <br>
            <br>
            <br>
            {foreach from=$movimento item="linha"}  
                <table class="table table-striped" border="1">
                    <thead>
                        <tr>
                            <th>TIPO DE MOVIMENTO</th>
                            <th>ID MOVIMENTO</th>
                            <th>DATA MOVIMENTO</th>
                            <th>PARCEIRO</th>
                            <th>PEDIDO</th>
                            <th>NOTA</th>
                            <th>RETIRADO POR</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td><strong>{$linha.dsTipoMovimento|default:''}</strong></td>
                        <td><strong>{$linha.idMovimento|default:''}</strong></td>
                        <td><strong>{$linha.dtMovimento|date_format:'d/m/Y'|default:''}</strong></td> 
                        <td><strong>
                            {if {$linha.dsParceiro|default:''} neq ''}
                                {$linha.dsParceiro|default:''}
                            {else}
                                {$linha.dsParceiro|default:''}
                            {/if}
                        </strong></td> 
                        <td><strong>{$linha.nrPedido|default:''}</strong></td> 
                        <td><strong>{$linha.nrNota|default:''}</strong></td> 
                        <td><strong>{$linha.dsColaborador|default:''}</strong></td> 
                        <td><strong> 
                            {if $linha.stDC eq 'E'}
                                <a class="glyphicon glyphicon-pencil" href="/entradaestoque/novo_entradaestoque/idMovimento/{$linha.idMovimento}"  target="_blank">  Editar</a> |    
                            {else}
                                <a class="glyphicon glyphicon-pencil" href="/saidaestoque/novo_saidaestoque/idMovimento/{$linha.idMovimento}"  target="_blank">  Editar</a> |    
                            {/if}
                            <a class="glyphicon glyphicon-trash" href="/listamovimentoestoque/delmovimento/idMovimento/{$linha.idMovimento}">  Excluir</a>
                        </strong></td>    
                    </tr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>PRODUTO</th>
                                    <th>QTDE</th>
                                    <th>UNIDADE</th>
                                    <th>VALOR</th>
                                    <th>LOCAL ESTOQUE ORIGEM</th>
                                    <th>LOCAL ESTOQUE DESTINO</th>
                                    <th>CENTRO CUSTO</th>
<!--                                    <th>MAQUINA</th>
                                    <th>O.S</th>
                                    <th>MOTIVO O.S</th>-->
                                    <th>REFERENCIA</th>
                                    <th>CONTROLADO</th>
                                    <th>ORGAO</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $linha.itens item="itens"}  
                                <tr>
                                    <td>{$itens.cdInsumo|default:''} - {$itens.dsInsumo|default:''}</td>
                                    <td>{$itens.qtMovimento|default:'0'|number_format:"2":",":"."}</td>
                                    <td>{$itens.dsUnidade|default:''}</td> 
                                    <td>{$itens.vlMovimento|default:'0'|number_format:"2":",":"."}</td> 
                                    <td>{$itens.localEstoque|default:''}</td> 
                                    <td>{$itens.localEstoqueDestino|default:''}</td> 
                                    <td>{$itens.dsCentroCusto|default:''}</td> 
<!--                                    <td>{$itens.dsMaquina|default:''}</td> 
                                    <td>{$itens.idOS|default:''}</td> 
                                    <td>{$itens.dsMotivo|default:''}</td> -->
                                    <td>{$itens.dsObservacao|default:''}</td> 
                                    <td>{if $itens.stControlado|default:0 eq 0} NAO {else} SIM {/if}</td> 
                                    <td>{$itens.dsOrgaoControlador|default:''}</td> 
                                    
                                </tr>
                                {/foreach}   
                            </tbody>
                        </table>
                    </tbody>
                </table>
            {/foreach}   
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script> -->
<!--<script src="/files/js/producao.js"></script>-->
<script src="/files/js/movimento/movimento.js"></script>
{include file="comuns/footer.tpl"}
        
