{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>CONSUMO POR SETOR</h1>
            </div>
            <form name="frm-lista-movimento-setor" 
                  id="frm-lista-movimento-setor" 
                  action="/listamovimentoestoquesetor/busca_movimento" 
                  method="POST" 
                  enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="setor">SETOR </label>
                            <select class="form-control" name="idSetor" id="idSetor" value="{$busca.idSetor|default:''}">
                                {html_options options=$lista_setor selected={$busca.idSetor|default:''}}
                            </select>                      
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto" >CENTRO DE CUSTO</label>
                            <select class="form-control"  id="idCentroCusto" name="idCentroCusto"> 
                                {html_options options=$centrocusto selected={$busca.idCentroCusto|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="localestoque" >LOCAL DE ESTOQUE</label>
                            <select class="form-control"  id="idLocalEstoque" name="idLocalEstoque"> 
                                {html_options options=$localestoque selected={$busca.idLocalEstoque|default:''}}
                            </select>                                    
                        </div>
                    </div>                     
                    <div class="col-md-2">
                        <label for="form-control">GRUPO</label>
                        <input type="text" class="form-control" name="dsGrupo" id="dsGrupo" value="{$busca.dsGrupo|default:''}">       
                    </div>                                         
                    <div class="col-md-1">
                        <label for="form-control">DATA INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y'|default:Date('d/m/Y')}" >           
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DATA FIM</label>
                        <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:date('m/d/Y')|date_format:'%d/%m/%Y'}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">CONTROLADOS</label>
                        <input type="checkbox" class="form-control" name="controlados" id="controlados" {if $busca.controlados|default:0 eq 1} checked {/if} >       
                    </div>                         
                    <div class="col-md-1">
                        <label for="form-control">ORGÃO</label>
                        <input type="text" class="form-control" name="dsOrgaoControlador" id="dsOrgaoControlador" value="{$busca.dsOrgaoControlador|default:''}">       
                    </div> 
                </div>
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdProduto" id="cdProduto" value="{$busca.cdProduto|default:''}">       
                    </div>                                         
                    <div class="col-md-2">
                        <label for="form-control">NOME DO PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">REFERENCIA</label>
                        <input type="text" class="form-control" name="dsReferencia" id="dsReferencia" value="{$busca.dsReferencia|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="colaborador">RETIRADO POR</label>
                            <select class="form-control" name="idColaborador" id="idColaborador">
                                {html_options options=$lista_colaborador selected=$busca.idColaborador}
                            </select>                      
                        </div>
                    </div>                                                            
                    </br>                    
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    {if $movimento}
                        <div class="col-md-1">
                            <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                        </div>                    
                    {/if}
                </div>
            </form>
            <br>
            <br>
            <br>
            {foreach from=$movimento item="linha"}  
                <table class="table table-striped" border="1">
                    <thead>
                        <tr>
                            <th>SETOR</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td><strong>{$linha.dsSetor|default:''}</strong></td>
                    </tr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>DATA MOVIMENTO</th>
                                    <th>PRODUTO</th>
                                    <th>QTDE</th>
                                    <th>UNIDADE</th>
                                    <th>VALOR</th>
                                    <th>LOCAL ESTOQUE</th>
                                    <th>CENTRO CUSTO</th>
                                    <th>REFERENCIA</th>
                                    <th>CONTROLADO</th>
                                    <th>ORGAO</th>
                                    <th>RETIRADO POR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $linha.itens item="itens"}  
                                <tr>
                                    <td>{$itens.dtMovimento|date_format:'d/m/Y'|default:''}</td> 
                                    <td>{$itens.cdInsumo|default:''} - {$itens.dsInsumo|default:''}</td>
                                    <td>{$itens.qtMovimento|default:'0'|number_format:"2":",":"."}</td>
                                    <td>{$itens.dsUnidade|default:''}</td> 
                                    <td>{$itens.vlMovimento|default:'0'|number_format:"2":",":"."}</td> 
                                    <td>{$itens.localEstoque|default:''}</td> 
                                    <td>{$itens.dsCentroCusto|default:''}</td> 
                                    <td>{$itens.dsObservacao|default:''}</td> 
                                    <td>{if $itens.stControlado|default:0 eq 0} NAO {else} SIM {/if}</td> 
                                    <td>{$itens.dsOrgaoControlador|default:''}</td>                                     
                                    <td>{$itens.dsColaborador|default:''}</td> 
                                </tr>
                                {/foreach}   
                            </tbody>
                        </table>
                    </tbody>
                </table>
            {/foreach}   
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script> -->
<!--<script src="/files/js/producao.js"></script>-->
<script src="/files/js/movimento/movimento.js"></script>
{include file="comuns/footer.tpl"}
        
