{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>MOVIMENTACAO DE ESTOQUE - TOTAIS</h1>
            </div>
            <form 
                name="frm-busca-movimento-total" 
                id="frm-busca-movimento-total" 
                action="/listamovimentoestoquetotal/busca_movimento" 
                method="POST" 
                enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="tipomovimento" >TIPO DE MOVIMENTO</label>
                            <select class="form-control"  id="idTipoMovimento" name="idTipoMovimento"> 
                                {html_options options=$tipomovimento selected={$busca.idTipoMovimento|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">GRUPO</label>
                        <input type="text" class="form-control" name="dsGrupo" id="dsGrupo" value="{$busca.dsGrupo|default:''}">       
                    </div>                                         
                    <div class="col-md-2">
                        <label for="form-control">PARCEIRO</label>
                        <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">PEDIDO</label>
                        <input type="text" class="form-control" name="idPedido" id="idPedido" value="{$busca.idPedido|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">NOTA</label>
                        <input type="text" class="form-control" name="nrNota" id="nrNota" value="{$busca.nrNota|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">DATA INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y'|default:Date('d/m/Y')}" >           
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">DATA FIM</label>
                        <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:date('m/d/Y')|date_format:'%d/%m/%Y'}">       
                    </div> 
                </div>
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdProduto" id="cdProduto" value="{$busca.cdProduto|default:''}">       
                    </div>                                         
                    <div class="col-md-2">
                        <label for="form-control">NOME DO PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">REFERENCIA</label>
                        <input type="text" class="form-control" name="dsReferencia" id="dsReferencia" value="{$busca.dsReferencia|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="localestoque" >LOCAL DE ESTOQUE</label>
                            <select class="form-control"  id="idLocalEstoque" name="idLocalEstoque"> 
                                {html_options options=$localestoque selected={$busca.idLocalEstoque|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto" >CENTRO DE CUSTO</label>
                            <select class="form-control"  id="idCentroCusto" name="idCentroCusto"> 
                                {html_options options=$centrocusto selected={$busca.idCentroCusto|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    </br>                    
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    {if $movimentoTotal}
                        <div class="col-md-1">
                            <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                        </div>                    
                    {/if}                    
                </div>
            </form>
            <br>
            <br>
            <br>
            <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>PRODUTO</th>
                    <th>QTDE TOTAL ENTRADAS</th>
                    <th>QTDE TOTAL SAIDAS</th>
                    <th>VALOR TOTAL ENTRADAS</th>
                    <th>VALOR TOTAL SAIDAS</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$movimentoTotal item="linha"}  
                    <tr>
                        <td>{$linha.cdInsumo|default:''} - {$linha.dsInsumo|default:''}</td>
                        <td>{$linha.qtTotalEntradas|default:'0'|number_format:"2":",":"."}</td>
                        <td>{$linha.qtTotalSaidas|default:'0'|number_format:"2":",":"."}</td>
                        <td>{$linha.vlTotalEntradas|default:'0'|number_format:"2":",":"."}</td>
                        <td>{$linha.vlTotalSaidas|default:'0'|number_format:"2":",":"."}</td>
                    </tr>
                {/foreach}   
            </tbody>
            </table>
            <div class="row">
                <div class="col-xs-12">
                    {$paginacao|default:''}
                </div>
            </div>                
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script> -->
<script src="/files/js/producao.js"></script>
{include file="comuns/footer.tpl"}
        
