{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <tt><h1>{if {$registro.idMaquina}>0} {$registro.dsMaquina|default:''}{else} Mudança do Status da Maquina{/if}</h1></tt>
            </div>          
            <a href="/maquinamudanca" class="btn btn-primary"> ABORTAR</a><br>

            <form name="frm-maquinamudanca" 
                  action="/maquinamudanca/gravar_maquina" 
                  method="POST" 
                  enctype="multipart/form-data"
                  onsubmit="return validaFormulario();">
                <br>
                <div class="row small">
                    <div class="col-md-1">
                        {if {$registro.idMaquina}>0}
                                <label for="form-control">CODIGO</label>
                                <input type="text" class="form-control" name="idMaquina" id="idMaquina" value="{$registro.idMaquina}" READONLY>           
                        {else}
                                 <label for="form-control">CODIGO</label>
                                 <input type="text" class="form-control" name="idMaquina" value="" READONLY>           
                        {/if}                     
                    </div> 
                    <div class="col-md-3">
                        <label for="form-control">Nome do Maquina</label>
                        <input type="text" class="form-control" name="descricao" id="descricao" value="{$registro.dsMaquina|default:''}" READONLY>           
                    </div> 
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="maquinapai">Máquina mãe</label>
                            <select class="form-control" name="idMaquinaPai" id="idMaquinaPai" READONLY>
                                {html_options options=$lista_maquina selected=$registro.idMaquinaPai}
                            </select>                      
                        </div>
                    </div>                     
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <select class="form-control" name="idModelo" id="idModelo" READONLY>
                                {html_options options=$lista_modelo selected=$registro.idModelo}
                            </select>                      
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <select class="form-control" name="idMarca" id="idMarca" READONLY>
                                {html_options options=$lista_marca selected=$registro.idMarca}
                            </select>                      
                        </div>
                    </div> 
                </div>    
                <br>
                <div class="row small">
                    <div class="col-md-2">
                        <label for="form-control">Número de série</label>
                        <input type="text" class="form-control" name="nrSerie" id="nrSerie" value="{$registro.nrSerie|default:''}" READONLY>           
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">Código do Fabricante</label>
                        <input type="text" class="form-control" name="dsCodigoDoFabricante" id="dsCodigoDoFabricante" value="{$registro.dsCodigoDoFabricante|default:''}" READONLY>           
                    </div> 
                    <div class="col-md-3">
                        <label for="form-control">Caracteristicas</label>
                        <input type="text" class="form-control" name="dsCaracteristicas" id="dsCaracteristicas" value="{$registro.dsCaracteristicas|default:''}" READONLY>           
                    </div> 
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="grupocusto">Grupo de Custo</label>
                            <select class="form-control" name="idGrupoCusto" id="idGrupoCusto" READONLY>
                                {html_options options=$lista_grupocusto selected=$registro.idGrupoCusto}
                            </select>                      
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="setor">Setor</label>
                            <select class="form-control" name="idSetor" id="idSetor" READONLY>
                                {html_options options=$lista_setor selected=$registro.idSetor}
                            </select>                      
                        </div>
                    </div> 
                </div>    
                <br>
                <div class="row small">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="status">Escolha o novo Status</label>
                            <select class="form-control" name="idStatusMaquina" id="idStatusMaquina" >
                                {html_options options=$lista_status selected=$registro.idStatusMaquina}
                            </select>                      
                        </div>
                    </div> 
                    <div class="col-md-5">
                        <label for="form-control">Observações</label>
                        <input type="text" class="form-control" name="dsObservacao" id="dsObservacao">           
                    </div> 
                </div> 
                <br>
                <div class="row small">
                    <div class="col-md-3">
                        <input class="btn btn-primary" type="submit" value="GRAVAR" name="btnGravar"/>         
                    </div> 
                </div> 
            </form>
            
        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<script src="/files/js/maquina/maquina_novo.js"></script>



{include file="comuns/footer.tpl"}

