{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
            <br>
            <div class="alert alert-info" >
                <tt><h1>LISTA DE MAQUINAS PARA MUDANCA DE STATUS</h1></tt>
            </div> 
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-maquinamudanca" action="/maquinamudanca/busca_maquinamudanca" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
<!--        <a class="btn btn-primary" href="/maquinamudanca/novo_maquinamudanca"> Nova Maquina</a>  -->
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Nome do Maquina</th>
                    <th>Grupo de Custo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Numero Série</th>
                    <th>Status</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$maquinamudanca_lista item="linha"}  
                <tr>
                    <td><a href="/maquinamudanca/novo_maquinamudanca/idMaquina/{$linha.idMaquina}">{$linha.idMaquina}</a></td>
                    <td>{$linha.dsMaquina}</td> 
                    <td>{$linha.dsGrupoCusto}</td> 
                    <td>{$linha.dsMarca}</td> 
                    <td>{$linha.dsModelo}</td> 
                    <td>{$linha.nrSerie}</td> 
                    <td>{$linha.dsStatusMaquina}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/maquinamudanca/novo_maquinamudanca/idMaquina/{$linha.idMaquina}">  Mudar</a>  
<!--                        <a class="glyphicon glyphicon-trash" href="/maquinamudanca/delmaquinamudanca/idMaquina/{$linha.idMaquina}">  Excluir</a></td>-->
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
