    <div class="form-group">
        <input type="text" class="form-control hidden" name="idUsuarioOrigem" value="{$idUsuarioOrigem}">                                       
        <input type="text" class="form-control hidden" name="idSolicitacaoPai" value="{$idSolicitacaoPai}">                                       
        <input type="text" class="form-control hidden" name="idSolicitacaoItem" value="{$idSolicitacaoItem}">                                       
        <input type="text" class="form-control hidden" name="dsTabela" value="{$dsTabela}">                                       
        <input type="text" class="form-control hidden" name="idMensagemItem" value="{$idMensagemItem}">                                       
        <div class="row small">
            <div class="col-md-12">
                <label for="form-control">DIGITE UMA RESPOSTA</label>
                <input type="text" class="form-control" name="dsMensagem"  id="dsMensagem" value=""> 
            </div>        
        </div>   
        <br>
        <div class="row small">
            <div class="col-md-4">
                 <input type="file" name="arquivo" />
            </div> 
            <div class="col-md-2" id="botao_sair">
                 <input class="btn btn-primary" type="button" onclick="dashboard.clear_mensagemresposta();" value="ABORTAR" />
            </div> 
            <div class="col-md-1" id="botao_enviar">
                 <input class="btn btn-primary" type="submit" value="GRAVAR" />
            </div> 
        </div> 
        <br>
        <div class="row small">
        </div>
    </div>