{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        
        <div class="alert alert-info" >
            <h1>Lista de Tipos de Logs</h1>
        </div>  
       
        <div class="panel-body">
            <form name="frm-busca-log_tipo" action="/log_tipo/busca_log_tipo" method="POST" enctype="multipart/form-data">
                <div class="panel-body">
                    Mensagem:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                        </span>          
                    </div><!-- /input-group -->
                </div>
            </form>
        </div>
       
        <table class="table" border="1">
            <thead>
                <tr>
                    <td colspan="4">
                        <a href="/log_tipo/novo_log_tipo" class="btn btn-primary">Novo Tipo de Log</a>     
                    </td>    
                </tr>
                <tr>
                    <th>id</th>
                    <th>descricao</th>
                    <th>stStatus</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$log_tipo_lista item="linha"}
                <tr>
                    <td><a href="/log_tipo/novo_log_tipo/idLogTipo/{$linha.idLogTipo}">{$linha.idLogTipo}</a></td>
                    <td>{$linha.descricao}</td>
                    <td>{if $linha.stStatus=1} Ativo {else} Inativo {/if}</td>
                    <td> <a class="glyphicon glyphicon-pencil" href="/log_tipo/novo_log_tipo/idLogTipo/{$linha.idLogTipo}">Editar</a> |
                        <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.idLogTipo})">Excluir</a>
                </tr>
                {/foreach}        
            </tbody>
        </table>

<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/log_tipo/log_tipo_lista.js"></script>

{include file="comuns/footer.tpl"}

