{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!-- Sidebar -->
        {include file="comuns/sidebar.tpl"}        
        <!--Altere daqui pra baixo-->


        <div id="page-wrapper">
            <div class="row small">
                <div class="col-lg-12">
                    <h1>Perfil</h1>          
                    <hr>
                    <ol class="breadcrumb">
                    {if $smarty.session.user.tipousuario != 1 && $smarty.session.user.tipousuario != 3}
                    <b>Projeto:</b> {$smarty.session.user.projeto.nome} <br>
                    {/if}                                   
                    <b>Nome:</b> {$smarty.session.user.nome}<br>
                    <b>Email:</b> {$email} <br>
                    <b>Telefone 1:</b> {$fone1} <br>
                    <b>Telefone 2:</b> {$fone2}             <br>                         
                    
                    </ol>                    
                </div>
            </div><!-- /.row -->
        </div><!-- /#page-wrapper -->
        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<!-- Blank JS -->
<!--<script src="/files/js/blank/blank.js"></script> -->
{include file="comuns/footer.tpl"}