{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>MAO DE OBRA CADASTRADA</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-maoobra" action="/maoobra/busca_maoobra" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/maoobra/novo_maoobra"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>TIPO DE MAO DE OBRA</th>
                    <th>UNIDADE</th>
                    <th>VALOR UNITARIO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$maoobra_lista item="linha"}  
                <tr>
                    <td><a href="/maoobra/novo_maoobra/idMaoObra/{$linha.idMaoObra}">{$linha.idMaoObra}</a></td>
                    <td>{$linha.dsMaoObra}</td> 
                    <td>{$linha.dsTipoMaoObra}</td> 
                    <td>{$linha.dsUnidade}</td> 
                    <td>{$linha.vlUnitario}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/maoobra/novo_maoobra/idMaoObra/{$linha.idMaoObra}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/maoobra/delmaoobra/idMaoObra/{$linha.idMaoObra}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
