<div class="form-group">
    <div class="row small">
        <div class="col-md-2" id="botao_sair">  
             <input class="btn btn-primary" type="button" onclick="agenda.closejanelaResumo();" value="Sair" />
        </div>                       
    </div> 
    <br>
    <div class="row small">
    </div>
</div>
<script src="/files/js/agenda/agenda.js"></script>        