{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>ORCAMENTOS CADASTRADOS - LANÇAR DESPESAS E RECEITAS REALIZADAS</h1>
            </div>
            <br>
            <br>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>DESCRICAO ORCAMENTO</th>
                        <th>DATA CRIACAO</th>
                        <th>CRIADO POR</th>
                        <th>INICIO DA VIGENCIA</th>
                        <th>FIM DA VIGENCIA</th>
                        <th>SITUACAO</th>
                    <th>ACAO</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$orcamento_lista item="linha"}  
                    <tr>
                        <td><a href="/orcamento/lancardespesasrealizadas/idOrcamento/{$linha.idOrcamento}">{$linha.idOrcamento}</a></td>
                        <td>{$linha.dsOrcamento|default:''}</td> 
                        <td>{$linha.dtCriacao|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsUsuario|default:''}</td> 
                        <td>{$linha.dtInicioVigencia|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dtFimVigencia|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsStatusOrcamento|default:''}</td> 
                        <td> {if $linha.idStatusOrcamento < 3}
                            <a class="glyphicon glyphicon-pencil" href="/orcamento/lancardespesasrealizadas/idOrcamento/{$linha.idOrcamento}">  Lançar</a>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}        
                </tbody>
            </table>
            <!--Altere daqui pra cima-->
        </div>
    </div>
</div>
{include file="comuns/footer.tpl"}
