{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    <div id="modal_grafico">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>                
        {include file="orcamento/graficocc/modalcc.tpl"}                            
    </div>     
    <div id="modal_verorcamento">
        {include file="orcamento/verorcamento/modal.tpl"}                            
    </div> 
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>ORCAMENTOS CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-orcamento" action="/orcamento/busca_orcamento" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/orcamento/novo_orcamento"> INCLUIR</a>
        <br>       
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRICAO ORCAMENTO</th>
                    <th>DATA CRIACAO</th>
                    <th>INICIO DA VIGENCIA</th>
                    <th>FIM DA VIGENCIA</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$orcamento_lista item="linha"}  
                <tr>
                    <td><a href="/orcamento/novo_orcamento/idOrcamento/{$linha.idOrcamento}">{$linha.idOrcamento}</a></td>
                    <td>{$linha.dsOrcamento|default:''}</td> 
                    <td>{$linha.dtCriacao|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dtInicioVigencia|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dtFimVigencia|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dsStatusOrcamento|default:''}</td> 
                    <td style='width:6%;'>
                        <a class="glyphicon glyphicon-pencil" href="/orcamento/novo_orcamento/idOrcamento/{$linha.idOrcamento}">  Editar</a>
                        <a class="pull-left huge fa fa-area-chart fa-1x" onclick="orcamento.grafico.montarGrafico('','{$linha.idOrcamento}','orcamento');">  Grafico</a>
                        <a class="glyphicon glyphicon-check" onclick="orcamento.showVerOrcamentoG('{$linha.idOrcamento}');"> Dados</a>                        
                        {if $linha.idStatusOrcamento eq 1}                        
                         <a class="glyphicon glyphicon-trash" href="/orcamento/delorcamento/idOrcamento/{$linha.idOrcamento}"> Excluir</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
{include file="comuns/footer.tpl"}
<script src="/files/js/orcamento/orcamento.js"></script>                            
