                <table class="table">
                    <thead>
                        <tr>
                            <th>CENTRO DE CUSTO</th>
                            <th>RECEITAS ORCADAS</th>
                            <th>DESPESAS ORCADAS</th>
                            <th>STATUS</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_orcamentocc item="linha"}  
                            <tr>
                                <td>{$linha.cdCentroCusto|default:''}-{$linha.dsCentroCusto|default:''}</td> 
                                <td>R$ {$linha.vlReceitas|default:'0'|number_format:"2":",":"."}</td> 
                                <td>R$ {$linha.vlDespesas|default:'0'|number_format:"2":",":"."}</td> 
                                {if $linha.stSituacao|default:0 eq 1}
                                    <td style="background-color: greenyellow;">
                                        <a class="glyphicon glyphicon-check" title ="Clique para ver" onclick="orcamento.showVerOrcamento('{$linha.idOrcamentoColaboradorCC}','{$linha.stSituacao}','{$linha.idColaborador}','{$linha.idOrcamento}','{$linha.idCentroCusto}');" > PRONTO </a>                                    
                                    </td> 
                                {else}
                                {if $linha.stSituacao|default:0 eq 2}
                                <td style="background-color: green; width:15%;">
                                        <a class="glyphicon glyphicon-check" title ="Clique para ver" onclick="orcamento.showVerOrcamento('{$linha.idOrcamentoColaboradorCC}','{$linha.stSituacao}','{$linha.idColaborador}','{$linha.idOrcamento}','{$linha.idCentroCusto}');" > APROVADO </a>                                    
                                    </td> 
                                {else}
                                    <td style="width:15%;" >Em planejamento</td> 
                                {/if}
                                {/if}
                                <td style="width:8%;"> 
                                    {if $linha.vlReceitas eq 0 && $linha.vlDespesas eq 0}
                                        <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="orcamento.delcentrocusto('{$linha.idOrcamento}','{$linha.idColaborador}','{$linha.idOrcamentoColaboradorCC}');" > Excluir </a>
                                    {/if}
                                    <div class="col-md-2 huge_menor">                                    
                                        <a onclick="orcamento.grafico.montarGrafico('{$linha.idOrcamentoColaboradorCC}','{$linha.idOrcamento}','centrocusto');"> <span class="pull-right huge fa fa-area-chart fa-1x"></span></a>
                                    </div>                                    
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
