                <table class="table">
                    <thead>
                        <tr>
                            <th>COLABORADOR</th>
                            <th>CARGO</th>
                            <th>SETOR</th>
                            <th>EMAIL</th>
                            <th>RECEITAS ORCADAS</th>
                            <th>DESPESAS ORCADAS</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_orcamentocolaborador item="linha"}  
                            <tr>
                                <td>{$linha.dsColaborador|default:''}</td> 
                                <td>{$linha.dsCargo|default:''}</td> 
                                <td>{$linha.dsSetor|default:''}</td> 
                                <td>{$linha.dsEmail|default:''}</td> 
                                <td>R$ {$linha.vlReceitas|default:'0'|number_format:"2":",":"."}</td> 
                                <td>R$ {$linha.vlDespesas|default:'0'|number_format:"2":",":"."}</td> 
                                <td>
                                    {if $linha.idOrcamentoColaborador}
                                        {if $linha.vlReceitas eq 0 &&  $linha.vlDespesas eq 0} 
                                            <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="orcamento.delColaborador('{$linha.idOrcamento|default:''}','{$linha.idOrcamentoColaborador|default:''}');" > Excluir </a>
                                        {/if}
                                        <a class="glyphicon glyphicon-book" title ="Centro de Custo" onclick="orcamento.verCentroCusto('{$linha.idOrcamento|default:''}','{$linha.idColaborador|default:''}');" > Centro Custo </a>
                                        <div class="col-md-2 huge_menor">                                    
                                            <a onclick="orcamento.grafico.montarGrafico('{$linha.idColaborador}','{$linha.idOrcamento}','colaborador');"> <span class="pull-right huge fa fa-area-chart fa-1x"></span></a>
                                        </div>                                    
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

