                <table class="table">
                    <thead>
                        <tr>
                            <th>GRUPO</th>
                            <th>ITEM</th>
                            <th>DATA</th>
                            <th>QTDE ORÇADA</th>
                            <th>VALOR ORÇADO</th>
                            <th>OBSERVACAO</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_orcamentocc item="linha"}  
                            <tr>
                                <td>{$linha.dsGrupoDR|default:''}</td> 
                                <td>{$linha.dsItemDR|default:''}</td> 
                                <td>{$linha.dtValorOrcado|date_format:'%d/%m/%Y'|default:''}</td> 
                                <td>{$linha.qtOrcado|default:'0'|number_format:"2":",":"."}</td> 
                                <td>R$ {$linha.vlOrcado|default:'0'|number_format:"2":",":"."}</td> 
                                <td>{$linha.dsValorOrcado|default:''}</td> 
                                <td> 
                                    {if $linha.situacaocc neq 2}
                                        <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="orcar.dellancamento('{$linha.idLancamento}');"> Excluir </a>
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
