                <table class="table">
                    <thead>
                        <tr>
                            <th>Colaborador</th>
                            <th>Setor</th>
                            <th>Cargo</th>
                            <th>Mão de Obra</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_agendacolaboradores item="linha"}  
                            <tr>
                                <td>{$linha.dsColaborador}</td> 
                                <td>{$linha.dsSetor}</td> 
                                <td>{$linha.dsCargo}</td> 
                                <td>{$linha.dsMaoObra}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="delcolaborador({$linha.idColaborador});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

