                    <table class="table" border="1">
                    <thead>
                        <tr>
                            <th>Colaborador</th>
                            <th>{$valores.dia1}</th>
                            <th>{$valores.dia2}</th>
                            <th>{$valores.dia3}</th>
                            <th>{$valores.dia4}</th>
                            <th>{$valores.dia5}</th>
                            <th>{$valores.dia6}</th>
                            <th>{$valores.dia7}</th>
                            <th>{$valores.dia8}</th>
                            <th>{$valores.dia9}</th>
                            <th>{$valores.dia10}</th>
                            <th>{$valores.dia11}</th>
                            <th>{$valores.dia12}</th>
                            <th>{$valores.dia13}</th>
                            <th>{$valores.dia14}</th>
                            <th>{$valores.dia15}</th>
                            <th>{$valores.dia16}</th>
                            <th>{$valores.dia17}</th>
                            <th>{$valores.dia18}</th>
                            <th>{$valores.dia19}</th>
                            <th>{$valores.dia20}</th>
                            <th>{$valores.dia21}</th>
                            <th>{$valores.dia22}</th>
                            <th>{$valores.dia23}</th>
                            <th>{$valores.dia24}</th>
                            <th>{$valores.dia25}</th>
                            <th>{$valores.dia26}</th>
                            <th>{$valores.dia27}</th>
                            <th>{$valores.dia28}</th>
                            <th>{$valores.dia29|default:''}</th>
                            <th>{$valores.dia30|default:''}</th>
                            <th>{$valores.dia31|default:''}</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_diaria item="linha"}  
                            <tr>
                                <td>{$linha.dsColaborador}</td> 
                                <td <span style="background-color: {$linha.dias.dia0.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia1.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia2.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia3.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia4.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia5.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia6.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia7.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia8.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia9.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia10.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia11.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia12.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia13.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia14.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia15.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia16.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia17.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia18.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia19.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia20.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia21.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia22.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia23.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia24.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia25.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia26.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia27.dsCor}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia28.dsCor|default:''}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia29.dsCor|default:''}"> </span> </td> 
                                <td <span style="background-color: {$linha.dias.dia30.dsCor|default:''}"> </span> </td> 
                                <td> 
                                    <a class="glyphicon glyphicon-comment" title ="Editar" onclick="editarColaborador({$linha.idColaborador}, '{$linha.dsColaborador}');" > Editar </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

