{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <h1>Lista de Agenda / Horarios (Colaboradores)</h1>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-agendahorario" action="/agendahorario/busca_agendahorario" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/agendahorario/novo_agendahorario"> Nova Agenda Anual</a>
        <br>       
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Ano</th>
                    <th>DESCRICAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$agendahorario_lista item="linha"}  
                <tr>
                    <td><a href="/agendahorario/novo_agendahorario/idAgendaHorario/{$linha.idAgendaHorario}">{$linha.idAgendaHorario}</a></td>
                    <td>{$linha.soano}</td> 
                    <td>{$linha.dsAgendaHorario}</td> 
                    <td ><a class="glyphicon glyphicon-pencil" href="/agendahorario/novo_agendahorario/idAgendaHorario/{$linha.idAgendaHorario}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/agendahorario/delagendahorario/idAgendaHorario/{$linha.idAgendaHorario}"> Excluir</a> </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
