{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>PARCEIROS CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-Parceiro" action="/parceiro/busca_Parceiro" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/parceiro/novo_Parceiro"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>NOME DO PARCEIRO</th>
                    <th>ENDERECO</th>
                    <th>CIDADE</th>
                    <th>CNPJ</th>
                    <th>TIPO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$Parceiro_lista item="linha"}  
                <tr>
                    <td><a href="/parceiro/novo_Parceiro/idParceiro/{$linha.idParceiro}">{$linha.idParceiro|default:''}</a></td>
                    <td>{$linha.dsParceiro|default:''}</td> 
                    <td>{$linha.dsEndereco|default:''}</td> 
                    <td>{$linha.dsCidade|default:''}</td> 
                    <td>{$linha.cdCNPJ|default:''}</td> 
                    <td>{$linha.dsTipoParceiro|default:''}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/parceiro/novo_Parceiro/idParceiro/{$linha.idParceiro}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/parceiro/delParceiro/idParceiro/{$linha.idParceiro}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
