{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <h1>Relatório de Parceiroes</h1>
        
        <form name="frm_relatorioParceiro_pre" action="/parceiro/relatorioParceiro" method="POST" enctype="multipart/form-data">
            <br>
            <input type="submit" value="Gerar Relatório" name="btnGerar" class="btn btn-primary" />
        </form>
        

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/jquery_ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
