{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    <div id="modal_fotos">
        {include file="os/modalFotos/modal.tpl"}                            
    </div>                 
    
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <div class="row small" >
            <div class="col-md-12" style="font-size: x-large">
                ESCOLHA A OPÇÃO PARA CONSULTA E CLIQUE EM BUSCAR
            </div>
        </div>
        <br>     
        <form name="frm-busca-os" id="frm-busca-reuniao" action="/os/busca_minhas_os" method="POST" enctype="multipart/form-data">
            <div class="panel panel-default">  
                <div class="panel-footer">
                    <div class="row small" >
                        <div class="col-md-1">
                            <label for="form-control">IDENTIFICADOR</label>
                            <input type="text" class="form-control" name="idOS" id="idOS" value="{$busca.idOS|default:''}">       
                        </div>  
                        <div class="col-md-1">
                            <label for="form-control">PERIODO INICIO</label>
                            <input type="text" class="form-control datetime" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y %H:%M'|default:''}" >    
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">PERIODO FIM</label>
                            <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y %H:%M'}">       
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">LOCAL</label>
                            <select class="form-control"  id="idSetor" name="idSetor"> 
                                    {include file="os/lista_setor.tpl"}       
                            </select>                                    
                        </div>  
                        <div class="col-md-2">
                            <label for="form-control">CENTRO DE CUSTO</label>
                            <select class="form-control"  id="idCentroCusto" name="idCentroCusto"> 
                                    {include file="os/lista_cc.tpl"}       
                            </select>                                    
                        </div>    
                        <div class="col-md-3">
                            <label for="form-control">DESCRICAO</label>
                            <input type="text" class="form-control" name="dsProblema" id="dsProblema" value="{$busca.dsProblema|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">STATUS DA O.S</label>
                            <select class="form-control"  id="idStatusOS" name="idStatusOS"> 
                                    {include file="os/lista_status.tpl"}       
                            </select>                                    
                        </div> 
                    </div>
                </div>
            </div>
            <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
            <a class="btn btn-primary" id="btn-sairtela" title="Clique aqui para sair da tela e voltar tela anterior" href="/menuOS" > VOLTAR PARA TELA ANTERIOR</a><br>                
        </form>
        <br><br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Número da O.S.</th>
                    <th>Data da Solicitacao</th>
                    <th>Descrição</th>
                    <th>Local</th>
                    <th>Centro de Custo</th>
                    <th>Status da O.S</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$os item="linha"}  
                <tr>
                    <td>{$linha.idOS}</td>
                    <td>{$linha.nrOS|default:''}</td>
                    <td>{$linha.dtOS|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    <td>{$linha.dsProblema|default:''}</td> 
                    <td>{$linha.dsSetor|default:''}</td> 
                    <td>{$linha.dsCentroCusto|default:''}</td> 
                    <td>{$linha.dsStatusOS|default:''}</td> 
                    <td>
                       {if $linha.idStatusOS eq 1} 
                          <a class="glyphicon glyphicon-pencil" href="/os/solicitar/idOS/{$linha.idOS}"> Alterar</a> &nbsp;                       
                          <a class="glyphicon glyphicon-trash" onclick="os.delOS('{$linha.idOS}');">  Excluir</a>&nbsp;
                       {else}
                          <a class="glyphicon glyphicon-save" onclick="os.arquivar('{$linha.idOS}');">  Arquivar</a>
                       {/if}
                       <a class="glyphicon glyphicon-check" onclick="os.acompanhar('{$linha.idOS}');">  Acompanhar</a>
                       <a class="glyphicon glyphicon-camera" onclick="os.selecionarfoto('{$linha.idOS}');">  Fotos</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<script src="/files/js/os/os.js"></script>
<script src="/files/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<link href="/files/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>

{include file="comuns/footer.tpl"}
