                <table class="table">
                    <thead>
                        <tr>
                            <th>Insumo</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Observacao</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_ostarefainsumo item="linha"}  
                            <tr>
                                <td>{$linha.dsInsumo}</td> 
                                <td>{$linha.qtInsumo}</td> 
                                <td>{$linha.dsUnidade}</td> 
                                <td>{$linha.dsObservacao}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="ostarefa.delOSTarefaInsumo({$linha.idOSTarefa}, {$linha.idOSTarefaInsumo});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

