                <table class="table">
                    <thead>
                        <tr>
                            <th>Mao de Obra</th>
                            <th>Inicio da Tarefa</th>
                            <th>Fim da Tarefa</th>
                            <th>Observação</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_ostarefamaoobra item="linha"}  
                            <tr>
                                <td>{$linha.dsMaoObra}</td> 
                                <td>{$linha.dtInicio}</td> 
                                <td>{$linha.dtFim}</td> 
                                <td>{$linha.dsObservacao}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="ostarefa.delOSTarefaMaoObra({$linha.idOSTarefa}, {$linha.idOSTarefaMaoObra});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
