                <table class="table">
                    <thead>
                        <tr>
                            <th>Maquina</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Observacao</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_ostarefamaquina item="linha"}  
                            <tr>
                                <td>{$linha.dsMaquina}</td> 
                                <td>{$linha.qtHoras}</td> 
                                <td>{$linha.dsUnidade}</td> 
                                <td>{$linha.dsObservacao}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="ostarefa.delOSTarefaMaquina({$linha.idOSTarefa}, {$linha.idOSTarefaMaquina});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
