{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <h1>Lista de Projetos para Mudança de Status</h1>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-projetomudanca" action="/projetomudanca/busca_projetomudanca" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
<!--        <a class="btn btn-primary" href="/projetomudanca/novo_projetomudanca"> Nova Projeto</a>  -->
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Nome do Projeto</th>
                    <th>Empresa</th>
                    <th>Colaborador Responsavel</th>
                    <th>Data da Abertura</th>
                    <th>Status</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$projetomudanca_lista item="linha"}  
                <tr>
                    <td><a href="/projetomudanca/novo_projetomudanca/idProjeto/{$linha.idProjeto}">{$linha.idProjeto}</a></td>
                    <td>{$linha.dsProjeto}</td> 
                    <td>{$linha.dsEmpresa}</td> 
                    <td>{$linha.dsColaborador}</td> 
                    <td>{$linha.dtAbertura|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsStatusProjeto}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/projetomudanca/novo_projetomudanca/idProjeto/{$linha.idProjeto}">  Mudar</a>  
<!--                        <a class="glyphicon glyphicon-trash" href="/projetomudanca/delprojetomudanca/idProjeto/{$linha.idProjeto}">  Excluir</a></td>-->
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
