{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <br>
        <!--Altere daqui pra baixo-->   
        <div class="panel-body">
            <div class="alert alert-info" >
            <h1>MENUS CADASTRADOS</h1>
            </div>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-menu" action="/menu/busca_menu" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button><br><br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>   
        <a href="/menu/novo_menu" class="btn btn-primary">INCLUIR</a>   
        <br><br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>GRUPO</th>
                    <th>DESCRICAO</th>
                    <th>ORDEM</th>
                    <th>STATUS</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$menu_lista item="linha"}
                <tr>
                    <td><a href="/menu/novo_menu/idMenu/{$linha.idMenu}">{$linha.idMenu}</a></td>                                        
                    <td>{$linha.descricao_pai}</td>
                    <td>{$linha.descricao}</td>
                    <td>{$linha.ordem}</td>
                    <td> {if $linha.status==1 }
                        ATIVO
                        {else}
                        $linha.stStatus
                        {/if}</td>                    
                    <td> 
                        <a class="glyphicon glyphicon-pencil" href="/menu/novo_menu/idMenu/{$linha.idMenu}">Editar</a> |
                        <a class="glyphicon glyphicon-trash" href="/menu/delmenu/idMenu/{$linha.idMenu}">Excluir</a> </td>
                </tr>
                {foreachelse}
                <tr><td colspan="6">NENHUM MENU ENCONTRADO</td></tr>
                {/foreach}        
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>              
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/menu/menu_lista.js"></script>
{include file="comuns/footer.tpl"}
