    <div class="form-group">
        <input type="text" class="form-control hidden" name="idSolicitacaoPai" value="{$idSolicitacaoPai}">                                       
        <input type="text" class="form-control hidden" name="idSolicitacaoItem" value="{$idSolicitacaoItem}">                                       
        <input type="text" class="form-control hidden" name="dsTabela" value="{$dsTabela}">                                       
        <div class="row small">
            <div class="col-md-8">
                <label for="form-control">DIGITE SUA MENSAGEM</label>
                <input type="text" class="form-control" name="dsMensagem"  id="dsMensagem" value=""> 
            </div> 
            <br>
            <div class="col-md-2" id="botao_enviar">
                 <input class="btn btn-primary" type="submit" value="GRAVAR" />
            </div> 
            <div class="col-md-2" id="botao_sair">
                 <input class="btn btn-primary" type="button" onclick="solicitacaocompras.closemensagem();" value="ABORTAR" />
            </div> 
        </div> 
    </div>