    <div class="form-group">
        <input type="text" class="form-control hidden" name="idInsumo" value="{$idInsumo}">                                       
        <input type="text" class="form-control hidden" name="dsTabela" value="{$dsTabela}">                                       
        <div class="row small">
            <div class="col-md-3">
                 <input type="file" name="arquivo" />
            </div> 
            <div class="col-md-1" id="botao_sair">
                 <input class="btn btn-primary" type="button" onclick="insumo.closejanela();" value="ABORTAR" />
            </div> 
            <div class="col-md-1" id="botao_enviar">
                 <input class="btn btn-primary" type="submit" value="GRAVAR" />
            </div> 
        </div> 
        <br>
        <div class="row small">
        </div>
    </div>