{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <!--Altere daqui pra baixo-->
                <h1>N.C.M CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-ncm" action="/ncm/busca_ncm" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/ncm/novo_ncm"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$ncm_lista item="linha"}  
                <tr>
                    <td><a href="/ncm/novo_ncm/idNCM/{$linha.idNCM}">{$linha.idNCM}</a></td>
                    <td>{$linha.cdNCM}</td> 
                    <td style="width:70%;">{$linha.dsNCM}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/ncm/novo_ncm/idNCM/{$linha.idNCM}" target="_blank">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/ncm/delncm/idNCM/{$linha.idNCM}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
