{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>EMPRESAS CADASTRADAS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-empresa" action="/empresa/busca_empresa" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/empresa/novo_empresa"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>ENDERECO</th>
                    <th>CIDADE</th>
                    <th>CNPJ</th>                    
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$empresa_lista item="linha"}  
                <tr>
                    <td><a href="/empresa/novo_empresa/idEmpresa/{$linha.idEmpresa}">{$linha.idEmpresa|default:''}</a></td>
                    <td>{$linha.dsEmpresa|default:''}</td> 
                    <td>{$linha.dsEndereco|default:''}</td> 
                    <td>{$linha.dsCidade|default:''}</td> 
                    <td>{$linha.cdCNPJ|default:''}</td>                     
                    <td><a class="glyphicon glyphicon-pencil" href="/empresa/novo_empresa/idEmpresa/{$linha.idEmpresa}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/empresa/delempresa/idEmpresa/{$linha.idEmpresa}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
