{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <br><br>            
            <div class="" >
                <tt><h3>Ações definidas por mim em reunião</h3></tt>
            </div>
        <br>     
        <div class="row small" >
            <div class="col-md-12" style="font-size: large">
                Escolha a opção para consulta e clique em Buscar
            </div>
        </div>
        <br>             
        <div id="modal_resumo">
            {include file="reuniao/modalResumo/modal.tpl"}                            
        </div>        
<!--        <div id="modal_grafico">
            {include file="reuniao/grafico/modal.tpl"}                            
        </div>        -->
        
        <form name="frm-busca-gestao-tarefas" id="frm-busca-tarefas" action="/reuniao/busca_gestao_tarefas" method="POST" enctype="multipart/form-data">
            <div class="panel panel-default">     
                <input type="text" class="hidden" name="opcao" id="opcao" value="{$opcao|default:''}">       
                <div class="panel-footer">
                    <div class="row small" >
<!--                        <div class="col-md-1">
                            <label for="form-control">IDENTIFICAÇÃO</label>
                            <input type="text" class="form-control" name="idReuniao" id="idReuniao" value="{$busca.idReuniao|default:''}">       
                        </div>  -->
                        <div class="col-md-1">
                            <label for="form-control">Período inicial</label>
                            <input type="text" class="form-control datetime" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y %H:%M'|default:''}" >    
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">Período final</label>
                            <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y %H:%M'}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">Usuário responsável pela ação</label>
                                <select class="form-control" name="idUsuarioTarefa" id="idUsuarioTarefa" > 
                                    {include file="reuniao/lista_usuarioGestao.tpl"}       
                            </select>                                    
                        </div>                                                                                             
                        <div class="col-md-3">
                            <label for="form-control">Ação a ser executada</label>
                            <input type="text" class="form-control" name="dsPauta" id="dsPauta" value="{$busca.dsPauta|default:''}">       
                        </div>  
                        <div class="col-md-2">
                            <label for="form-control">Status da ação</label>
                            <select class="form-control"  id="stStatusTarefa" name="stStatusTarefa"> 
                                    {include file="reuniao/lista_statusTarefa.tpl"}       
                            </select>                                    
                        </div>  
                        <br>
                    </div>
                </div>
            </div>
            <button title="Clique aqui para buscar os dados" class="btn btn-primary buscar" type="submit">Buscar</button>
<!--            <button class="btn btn-primary" onclick='reuniao.montarGrafico();' type="button">GRAFICO</button>-->
            <button title="Clique aqui para ver o resumo das tarefas" class="btn btn-primary" onclick='reuniao.montarResumo();' type="button">Resumo</button>
            <a title="Clique aqui para sair" class="btn btn-primary" href="/menuReuniao/">Sair</a>
        </form>
        <br><br>
        <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>Pessoa</th>
                        <th>Data da reunião</th>
                        <th>Pauta da reunião</th>
                        <th>Ação a ser executada</th>
                        <th>Prazo de entrega</th>
                        <th>Status da ação</th>
                        <th>Concluido em</th>
                        <th>Ação</th>
                    </tr>
                </thead>
            <tbody>
                {foreach from=$tarefas_lista item="linha"}  
                <tr>
                    <td>{$linha.UTarefa|default:''}</td> 
                    <td style='width:8%;'> {$linha.dtReuniao|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    <td>{$linha.dsPauta|default:''}</td> 
                    <td>{$linha.dsTarefa|default:''}</td> 
                    {if $linha.temOutrasDatas eq 1}
                        <td> 
                            <div id="modal_fotos">
                                {include file="reuniao/modalDatas/modal.tpl"}                            
                            </div>                                            
                            <a class="glyphicon glyphicon-info-sign" onclick="reuniao.selecionardatas('{$linha.idReuniao}','{$linha.idTarefa}','usuario','{$linha.idUsuario}');"> </a> {$linha.dtPrazo|date_format:'%d/%m/%Y %H:%M'|default:''}
                            </td> 
                    {else}
                        <td style='width:8%;'> {$linha.dtPrazo|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    {/if}
                    <td>{if $linha.stStatusTarefa|default:'' eq '0'}Aberta{else}Concluida{/if}</td> 
                    <td>{$linha.dtConclusao|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    <td> 
<!--                        {var_dump($linha.dsCaminhoPDF)}-->
                            <a title="Ver PDF da ATA" class="btn btn-primary" href="/{$linha.dsCaminhoPDF}" target="_blanck" {if $linha.dsCaminhoPDF eq ''} disabled {/if} >Ver PDF da ATA</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<link href="/files/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
<script src="/files/js/reuniao/reuniao.js"></script>