                <table class="table">
                    <thead>
                        <tr>
<!--                            <th>PARTICIPANTE</th>-->
                            <th>Nome</th>
<!--                            <th>EMAIL</th>-->
                            <th>Celular</th>
<!--                            <th>ASSUNTO ESPECIFICO</th>-->
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_itens|default:null item="linha"}  
                            <tr>
<!--                                <td {if $linha.stSituacao|default:'0' < '2'} style="color: #B32B2B"; {else} style="color: #008000"; {/if} >
                                    {$linha.dsUsuario|default:''}
                                </td> -->
                                <td {if $linha.ausenteoupresente|default:'0' < '2'} style="color: #B32B2B"; {else} style="color: #008000"; {/if} >
                                    {$linha.dsNome|default:''}
                                </td> 
<!--                                <td {if $linha.ausenteoupresente|default:'0' < '2'} style="color: #B32B2B"; {else}  style="color: #008000"; {/if} >
                                    {$linha.email|default:''}</td> -->
                                <td {if $linha.ausenteoupresente|default:'0' < '2'} style="color: #B32B2B"; {else} style="color: #008000";  {/if} >
                                    {$linha.telefone1|default:''}</td> 
<!--                                <td {if $linha.stSituacao|default:'0' < '2'} style="color: #B32B2B"; {else} style="color: #008000";  {/if} >
                                    {$linha.assuntoP|default:''}</td> -->
                                <td> 
                                    {if $linha.stSituacao|default:'' < '3'} 
                                        <a  class="glyphicon glyphicon-pencil" title ="Editar" onclick="reuniao.editarparticipante('{$linha.idReuniao}','{$linha.idParticipante}','{$linha.idUsuario}','{$linha.dsAssunto}','{$linha.dsUsuario}','{$linha.dsNome}','{$linha.dsEmail}','{$linha.dsCelular}');"></a> |
                                        <a  class="glyphicon glyphicon-share" title ="Anexar" onclick="reuniao.selecionarfoto('{$linha.idParticipante}','Ata');"></a> |
                                        <a  class="glyphicon glyphicon-send" title ="Enviar Email" onclick="reuniao.enviaremail('{$linha.idParticipante}','{$linha.idReuniao}','Ata');" ></a> |
                                        {if $linha.ausenteoupresente|default:'0' < '2'}
                                             <a  class="glyphicon glyphicon-check" title ="Tornar Presente" onclick="reuniao.presente('{$linha.idReuniao}','{$linha.idParticipante}','{$linha.idUsuario}');" ></a>
                                        {else}
                                             <a  class="glyphicon glyphicon-eject" title ="Tornar Ausente" onclick="reuniao.ausente('{$linha.idReuniao}','{$linha.idParticipante}','{$linha.idUsuario}');" ></a>
                                        {/if}
                                   {/if}
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
