                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome do participante</th>
                            <th>Ação a ser executada</th>
                            <th>Prazo para entrega</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_itensTarefa|default:null item="linha"}  
                            <tr>
                                <td>{$linha.UTarefa|default:''}</td> 
                                <td>{$linha.dsTarefa|default:''}</td> 
                                <td>        
                                    <div id="modal_fotos">
                                        {include file="reuniao/modalDatas/modal.tpl"}                            
                                    </div> 
                                    {if $linha.stSituacao|default:'' neq '4'} 
                                        <a class="glyphicon glyphicon-info-sign"  title ="Definir Sub Tarfas"  onclick="reuniao.selecionardatas('{$linha.idReuniao}','{$linha.idTarefa}','ata','{$linha.idUsuario}');"> </a> {$linha.dtPrazo|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                                    {/if}    
                                <td> 
                                    {if $linha.stSituacao|default:'' < '3'} 
                                        <a {if $linha.stSituacao|default:'' eq '4'} disabled {/if} class="glyphicon glyphicon-pencil" title ="Editar" onclick="reuniao.editartarefa('{$linha.idReuniao}','{$linha.idTarefa}','{$linha.idUsuario}','{$linha.dsTarefa}','{$linha.dtPrazo}');"></a> |  
                                        <a {if $linha.stSituacao|default:'' eq '4'} disabled {/if} class="glyphicon glyphicon-trash" title ="Excluir" onclick="reuniao.excluirtarefa('{$linha.idReuniao}','{$linha.idTarefa}');" ></a>
                                    {/if}    
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
