                            <table class="table table-striped" border="1">
                                <thead>
                                    <tr>
                                        <th>Data da reunião</th>
                                        <th>Local da reunião</th>
                                        <th>Assunto da reunião</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach from=$reuniao_lista item="linha"}  
                                        <tr>
                                            <td {if $linha.stPresenca eq 1} style='color: green;' {else} {if $linha.stPresenca eq 2} style='color: red;' {/if}{/if} >{$linha.dtReuniao|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                                            <td {if $linha.stPresenca eq 1} style='color: green;' {else} {if $linha.stPresenca eq 2} style='color: red;' {/if}{/if} >{$linha.dsLocalReuniao|default:''}</td> 
                                            <td {if $linha.stPresenca eq 1} style='color: green;' {else} {if $linha.stPresenca eq 2} style='color: red;' {/if}{/if} >{$linha.dsAssunto|default:''}</td> 
                                            <td>
                                                
<!--                                                <span style="font-size: 23px; border: 0px; padding: 0px; margin: 0px; position: relative; color: #4285f4; top: 9px; padding-bottom: 9px;" data-toggle="popover"
                                                      data-content="
                                                      <b>Data:</b><br>{$linha.dtReuniao|date_format:'%d/%m/%Y %H:%M'|default:''}<br><br>
                                                      <b>Local:</b><br>{$linha.dsLocalReuniao|default:''}<br><br>
                                                      <b>Assunto:</b><br>{$linha.dsAssunto|default:''}<br><br>"
                                                      class="glyphicon glyphicon-info-sign">
                                                </span>
                                                -->
                                                {if $linha.idUsuarioSolicitante neq $smarty.session.user.usuario}
                                                    {if $linha.stPresenca eq 1}
                                                        <a title="Clique aqui para NAO CONFIRMAR presença" class="glyphicon glyphicon-unchecked" onclick="reuniao.NaoConfirmar('{$linha.idReuniao}');" ></a>   
                                                    {else}
                                                        <a title="Clique aqui para CONFIRMAR presença" class="glyphicon glyphicon-check" onclick="reuniao.Confirmar('{$linha.idReuniao}');" ></a>   
                                                    {/if}
                                                {/if}
                                                <a title="Clique aqui para ver" class="glyphicon glyphicon-camera" href="reuniao/novo_reuniao/idReuniao/{$linha.idReuniao}/opcao/consultar" ></a>   
                                            </td>
                                        </tr>
                                    {/foreach}        
                                </tbody>
                            </table>                            