{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>LOCAIS DE ESTOQUE CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-localestoque" action="/localestoque/busca_localestoque" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/localestoque/novo_localestoque"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>ANALITICO</th>
                    <th>ID DO PAI</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$localestoque_lista item="linha"}  
                <tr>
                    <td><a href="/localestoque/novo_localestoque/idLocalEstoque/{$linha.idLocalEstoque}">{$linha.idLocalEstoque}</a></td>
                    <td>{$linha.cdLocalEstoque}</td> 
                    <td>{$linha.dsLocalEstoque}</td> 
                    <td>{$linha.stAnalitico}</td> 
                    <td>{$linha.idLocalEstoqueSuperior}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/localestoque/novo_localestoque/idLocalEstoque/{$linha.idLocalEstoque}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/localestoque/dellocalestoque/idLocalEstoque/{$linha.idLocalEstoque}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
