                <table class="table">
                    <thead>
                        <tr>
                            <th>DESCRIÇÃO DO ITEM</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_itens|default:'' item="linha"}  
                            <tr>
                                <td>{$linha.dsItemDR|default:''}</td> 
                                <td> 
                                    {if !$linha.idLancamento|default:''}
                                        <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="grupodr.delitem('{$linha.idItemDR|default:''}');" > Excluir </a>
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
