    <div class="form-group">
        <input type="text" class="form-control hidden" id="idagenda" name="idagenda" value="{$idagenda}">                                       
        <input type="text" class="form-control hidden" id="idParticipante" name="idParticipante" value="{$idParticipante}">                                       
        <input type="text" class="form-control hidden" id="dsTabela" name="dsTabela" value="{$dsTabela}">                                       
        <input type="text" class="form-control hidden" id="Origem" name="Origem" value="{$Origem}">                                       
        <div class="row small">
            <div class="col-md-3">
                 <input type="file" name="arquivo" />
            </div> 
            <div class="col-md-2">
                <label for="form-control">Nome do arquivo</label>
                <input type="text" class="form-control" name="dsNome" id="dsNome">           
            </div>             
        </div>             
        <br>
        <div class="row small">
            <div class="col-md-2">
                 <input class="btn btn-primary" type="submit" value="Salvar" />
                 <input class="btn btn-primary" type="button" onclick="agenda.closejanela();" value="Sair" />
            </div> 
        </div> 
        <br>
        <div class="row small">
        </div>
    </div>