        <!--Altere daqui pra baixo-->
        <h3>PRODUTOS RELACIONADOS NESTA SAIDA</h3>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
<!--                    <th>Sequencia</th>-->
                    <th>CODIGO</th>
                    <th>PRODUTO</th>
                    <th>LOCAL ESTOQUE</th>
                    <th>SETOR</th>
                    <th>CENTRO CUSTO</th>
                    <th>REFERENCIA</th>
                    <th>QUANTIDADE</th>
                    <th>VALOR UNITARIO</th>
                    <th>VALOR TOTAL</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$movimentoitens item="linha"}  
                <tr>
<!--                    <td>{$linha.idMovimentoItem|default:''}</td>-->
                    <td>{$linha.cdInsumo|default:''}</td>
                    <td>{$linha.dsInsumo|default:''}</td> 
                    <td>{$linha.localEstoque|default:''}</td> 
                    <td>{$linha.dsSetor|default:''}</td> 
                    <td>{$linha.dsCentroCusto|default:''}</td> 
                    <td>{$linha.dsObservacaoItem|default:''}</td> 
                    <td>{$linha.qtMovimento|default:'0'}</td> 
                    <td>R$ {$linha.valorPME|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlMovimento|default:'0'|number_format:"2":",":"."}</td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" onclick="saidaestoque.estornarmovimentoitem('{$linha.idMovimentoItem}');"> Estornar</a>
<!--                        <a class="glyphicon glyphicon-pencil" onclick="saidaestoque.editamovimentoitem('{$linha.cdInsumo}','{$linha.dsInsumo}','{$linha.localEstoque}','{$linha.dsLocalEstoque}','{$linha.idLocalEstoque}','{$linha.idMovimentoItem}','{$linha.idCentroCusto}','{$linha.dsCentroCusto}','{$linha.idSetor}','{$linha.dsObservacaoItem}','{$linha.qtMovimento}','{$linha.valorPME}','{$linha.vlMovimento}');">  Editar</a>-->
                    </td>
                </tr>
                {/foreach}        
            </tbody>
            <tfoot>
                <tr>
<!--                    <td></td>-->
                    <td></td>
                    <td><strong>VALOR TOTAL DA SAIDA:</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>R$ {$totalmovimento|default:'0'|number_format:"2":",":"."} </strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <!--Altere daqui pra cima-->
