{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>PERIODOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-periodoContabil" action="/periodoContabil/busca_periodoContabil" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/periodoContabil/novo_Periodo"> INCLUIR</a>
        <br>       
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>DESCRICAO PERIODO</th>
                    <th>DATA CRIACAO</th>
                    <th>INICIO DO PERÍODO</th>
                    <th>FIM DO PERÍODO</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$periodo_lista item="linha"}  
                <tr>
                    <td>{$linha.dsPeriodo|default:''}</td> 
                    <td>{$linha.dtCriacao|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dtInicial|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dtFinal|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{if $linha.stSituacao|default:'A' eq 'A'} ABERTO {else} ENCERRADO {/if}</td> 
                    <td >
                       {if $linha.stSituacao eq 'A'}                        
                            <a class="glyphicon glyphicon-pencil" href="/periodoContabil/novo_periodo/idPeriodo/{$linha.idPeriodo}">  Editar</a>
                            <a class="glyphicon glyphicon-trash" href="/periodoContabil/delperiodo/idPeriodo/{$linha.idPeriodo}"> Excluir</a>
                       {/if}
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
{include file="comuns/footer.tpl"}
