        <br>
        <table class="table" border="0">
            <thead>
                <tr>
                    <th>CONTA REDUZIDA</th>
                    <th>CONTA ESTRUTURADA</th>
                    <th>DESCRICAO DA CONTA</th>
                    <th>ANALITICA/SINTETICA</th>
                    <th>CRIADA EM</th>
                    <th>SALDO INICIAL</th>
                    <th>DEBITOS</th>
                    <th>CREDITOS</th>
                    <th>SALDO ATUAL</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$contasitens item="linha"}  
                <tr>
                    <td>{$linha.idContaReduzida|default:''}</td>
                    <td>{$linha.idCE1} . {$linha.idCE2} . {$linha.idCE3} . {$linha.idCE4} . {$linha.idCE5}</td>
                    <td>{$linha.dsConta|default:''}</td>
                    <td>{$linha.stTipoConta|default:''}</td>
                    <td>{$linha.dtCriacao|date_format:'%d/%m/%Y'|default:''}</td>
                    <td>R$ {$linha.vlSaldoInicial|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlDebitos|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlCreditos|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlSaldoFinal|default:'0'|number_format:"2":",":"."}</td> 
                    <td>
                        
                        <a class="glyphicon glyphicon-pencil" title="Clique aqui para editar os dados"onclick="planodecontas.editarconta('{$linha.idPeriodo}','{$linha.idConta}','{$linha.idContaReduzida}','{$linha.dsConta}','{$linha.stTipoConta}','{$linha.vlSaldoInicial}','{$linha.idCE1}','{$linha.idCE2}','{$linha.idCE3}','{$linha.idCE4}','{$linha.idCE5}');">Editar</a>                             
                        {if !($linha.vlSaldoInicial neq 0 || $linha.vlDebitos neq 0  || $linha.vlCreditos neq 0 || $linha.vlSaldoFinal neq 0)}
                            <a class="glyphicon glyphicon-trash" onclick="planodecontas.delconta('{$linha.idPeriodo}', '{$linha.idConta}');">  Excluir</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <div class="row small">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
        <!--Altere daqui pra cima-->
