{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>LANCAMENTOS CONTABEIS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-periodo" action="/lancamentosContabeis/busca_lc" method="POST" enctype="multipart/form-data">
                    <input type="text" class="form-control hidden" name="dtLancamento" id="dtLancamento" value="{$busca.dtInicial|date_format:'%d/%m/%Y'|default:''}">       
                    <div class="row small" >
                        <div class="col-md-1">
                            <label for="form-control">ID</label>
                            <input type="text" class="form-control" name="idLancamento" id="idLancamento" value="{$busca.idLancamento|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">CTA DEBITO</label>
                            <input data-label="contadebito" type="text" data-tipo="contadebito" class="form-control complete_contaDebito" name="dsContaDebito"  id="dsContaDebito" value="{$busca.dsContaDebito|default:''}"/> 
                            <input type="hidden" id="idContaDebito" value="" name="idContaDebito" value="{$busca.idContaDebito|default:''}"/>                            
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">CTA CREDITO</label>
                            <input data-label="contacredito" type="text"  data-tipo="contacredito" class="form-control complete_contaCredito" name="dsContaCredito"  id="dsContaCredito" value="{$busca.dsContaCredito|default:''}"/> 
                            <input type="hidden" id="idContaCredito" value="" name="idContaCredito" value="{$busca.idContaCredito|default:''}"/>                            
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">DTA DE </label>
                            <input type="text" class="form-control" name="dtInicial" id="dtInicial" value="{$busca.dtInicial|date_format:'%d/%m/%Y'|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">DTA ATE </label>
                            <input type="text" class="form-control" name="dtFinal" id="dtFinal" value="{$busca.dtFinal|date_format:'%d/%m/%Y'|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">DOCUMENTO</label>
                            <input type="text" class="form-control" name="nrDocumento" id="nrDocumento" value="{$busca.nrDocumento|default:''}">       
                        </div> 
                        <div class="col-md-3">
                            <label for="form-control">HISTORICO</label>
                            <input type="text" class="form-control" name="dsHistorico" id="dsHistorico" value="{$busca.dsHistorico|default:''}">       
                        </div> 
                        </br>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                        </div>
                    </div>
                    <br>
                    <div class="row small" >
                        <div class="col-md-2">
                            <label for="form-control">LANCAMENTOS NAO CONFERIDOS</label>
                            <input type="checkbox" {if $busca.stConferidos|default:0 eq 1} CHECKED {/if} class="form-control" name="stConferidos" id="stConferidos" value="">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">LANCAMENTOS COM DIFERENCA</label>
                            <input type="checkbox" {if $busca.stDiferenca|default:0 eq 1} CHECKED {/if} class="form-control" name="stDiferenca" id="stDiferenca" value="">       
                        </div> 
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" id="btnIncluirLC"  href="/lancamentosContabeis/novo_lancamentoContabil/"> INCLUIR</a>
        <br>       
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                    <th>HISTORICO</th>
                    <th>DOCUMENTO</th>
                    <th>CONTA DEBITO</th>
                    <th>VALOR DEBITO</th>
                    <th>CONTA CREDITO</th>
                    <th>VALOR CREDITO</th>
                    <th>SITUACAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$lancamentoscontabeis_lista item="linha"}  
                <tr>
                    <td style="background-color: #efebdd;"><strong>{$linha.idLancamento|default:''}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.dtLancamento|date_format:'%d/%m/%Y'|default:''}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.dsHistorico|default:''}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.nrDocumento|default:''}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.nomecontadebito|default:''}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.valortotaldebito|default:'0'|number_format:"2":",":"."}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.nomecontacredito|default:''}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{$linha.valortotalcredito|default:'0'|number_format:"2":",":"."}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>{if $linha.stSituacao|default:'L' eq 'L'} LANÇADO {else} CONFERIDO {/if}</strong></td> 
                    <td style="background-color: #efebdd;"><strong>
                        <a class="glyphicon glyphicon-pencil" href="/lancamentosContabeis/novo_lancamentoContabil/idLancamento/{$linha.idLancamento}" target="_blank">  Editar</a>
                       {if $linha.stSituacao eq 'L'}                        
                            <a class="glyphicon glyphicon-trash" onclick="LancamentoContabil.delLancamento('{$linha.idLancamento}');">  Excluir</a>
                       {/if}
                    </strong></td>
                </tr>
                {if !($linha.linhastotaldebito eq 1 && $linha.linhastotalcredito eq 1)}     
                    {foreach from=$lancamentosdebito[$linha.idLancamento] item="linhadebito"}  
                       <tr>
                            <td></td>
                            <td></td>
                            <td>{$linhadebito.dsHistorico|default:''}</td> 
                            <td></td>
                            <td>{$linhadebito.idContaDebito|default:''}-{$linhadebito.dsConta|default:''}</td>
                            <td>R$ {$linhadebito.vlLancamento|default:'0'|number_format:"2":",":"."}</td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {/foreach}  
                    {foreach from=$lancamentoscredito[$linha.idLancamento] item="linhacredito"}  
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{$linhacredito.dsHistorico|default:''}</td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{$linhacredito.idContaCredito|default:''}-{$linhacredito.dsConta|default:''}</td>
                            <td>R$ {$linhacredito.vlLancamento|default:'0'|number_format:"2":",":"."}</td> 
                            <td></td>
                            <td></td>
                        </tr>
                    {/foreach} 
                {/if}                       
                {/foreach}        
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
{include file="comuns/footer.tpl"}
<script src="/files/js/contabilidade/lancamentosContabeis.js" type="text/javascript"></script>