        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Maquina</th>
                    <th>Motivo</th>
                    <th>Tarefa</th>
                    <th>De</th>
                    <th>Ate</th>
                    <th>Observação</th>
                    <th>Usuario Digitado</th>
                    <th>Data Digitado</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$os_listamaquinaparada item="linha"}  
                <tr>
                    <td>{$linha.dsMaquina}</td> 
                    <td>{$linha.dsMaquinaParada}</td> 
                    <td>{$linha.dsTarefa}</td> 
                    <td>{$linha.dtInicio|date_format:'%d/%m/%Y'|default:Date("d/m/Y H:i")}</td> 
                    <td>{$linha.dtFim|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsObservacao}</td> 
                    <td>{$linha.dsUsuario}</td> 
                    <td>{$linha.dtDigitado|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td> 
                        <a class="glyphicon glyphicon-trash" title ="Excluir esta informação" onclick="osmaquinaparada.delOSMaquinaParada({$linha.idOSMaquinaParada});"> Excluir </a> 
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>