{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <h1>Lista de Logs</h1> 
        <!-- //Dock das mensagens -->
        <div id="mensagem-dock"></div>
        <!-- //Dock das mensagens -->
        <div id="box-mensagem-log" class="alert alert-info alert-dismissable hidden">
            <div class="bs-example">
                <h3 id="progress-animated">Por favor aguarde enquanto estou excluindo os logs pra você :)</h3>
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>   
        </div>       
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-log" action="/log/busca_log" method="POST" enctype="multipart/form-data">
                    Mensagem:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscamensagem" name="buscamensagem" value="{$buscamensagem|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button><br><br>
                        </span>                        
                    </div>
                    <div class="input-group">
                        <div id="msg-helper"></div>
                    </div>                    
                </form>
            </div>
        </div>        
        <!--
        <a href="/log/novo_log" id="btnNovoLog" class="btn btn-primary">Novo Log</a>             
        <br><br>
        -->
        <div id="painel">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Usuário</th>
                        <th>Mensagem</th>
                        <!-- <th>stStatus</th> -->
                        <th>Tipo</th>
                        <th>Data/ Hora</th>
                        <!-- <th>ACAO</th> -->
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$log_lista item=linha}
                    <tr>
                        <td><!-- <a href="/log/novo_log/idLog/{$linha.idLog}"> -->{$linha.idLog}<!-- </a> --></td>
                        <td>{$linha.nome}</td>
                        <td>{$linha.mensagem}</td>
                        <!-- <td>{if $linha.stStatus==1 }ATIVO{else}INATIVO{/if}</td> -->
                        <td>{$linha.descricao}</td>
                        <td>{$linha.data|date_format:"%d/%m/%Y %H:%M:%S"}</td>
                        <!--
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/log/novo_log/idLog/{$linha.idLog}">Editar</a> |
                            <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.idLog})">Excluir</a>
                        </td>
                        -->
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>        
            <div class="row small">
                <div class="col-md-12">
                    {$paginacao|default:''}
                </div>
            </div>
        </div>    
        <!--Altere daqui pra cima-->
    </div>
</div>
<img src="/files/images/areyousure.gif" width="200px" class="hidden"/>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/log/log_lista.js"></script>
{include file="comuns/footer.tpl"}
