
{include file="comuns/head.tpl"}

<div style="margin-left: 15px;margin-right: 15px;margin-top: -15px">

    <h1>Relatório de Logs</h1>

    <div>
        <h4>{$titulo_relatorio|default:""}</h4>
        <table class="table table-hover table-striped">
            <!--"table table-hover"> -->
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Mensagem</th>
                    <th>Usuário</th>
                    <th>stStatus</th>
                    <th>Tipo</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$log_lista|default:[] item="linha"}
                <tr>
                    <td>{$linha.idLog}</td>
                    <td>{$linha.mensagem}</td>
                    <td>{$linha.nome}</td>
                    <td> {if $linha.stStatus==1 }
                        ATIVO
                        {else}
                        $linha.stStatus
                        {/if}</td>
                    <td>{$linha.descricao}</td>
                    <td>{$linha.data|date_format:"%d/%m/%Y %H:%M"}</td>
                </tr>
                {foreachelse}
                <tr><td colspan="6">Nenhum Registro Encontrado</td></tr>
                {/foreach}        
            </tbody>
        </table>
    </div>
</div>

<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>  

{include file="comuns/footer.tpl"}
