    <div class="form-group">
        <div class="row small">
            <div class="col-md-2">
                <label for="form-control">ID</label>
                <input type="text" class="form-control" name="idSolicitacaoM"  id="idSolicitacaoM"> 
            </div>        
            <div class="col-md-4">
                <label for="form-control">MENSAGEM</label>
                <input type="text" class="form-control" name="descricaoM"  id="descricaoM"> 
            </div>        
            <br>
            <div class="col-md-1" id="botao_buscar">
                 <a class="btn btn-primary" onclick='dashboard.mensagem.buscarID();'> Buscar </a>
            </div> 
            <div class="col-md-1" id="botao_apagar">
                 <a class="btn btn-primary" onclick='dashboard.mensagem.apagartodas();'> Apagar todas </a>
            </div> 
        </div>   
    </div>