<div id="parcelas_show" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document" style="width: 30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">INCLUIR NOVA PARCELA</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>