                <table class="table">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Quantidade</th>
                            <th>Valor Total</th>
                            <th>Observacao</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_servicosprojeto item="linha"}  
                            <tr>
                                <td>{$linha.dsServico}</td> 
                                <td>{$linha.qtServico}</td> 
                                <td>R$ {$linha.vlTotal}</td> 
                                <td>{$linha.dsObservacao}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="delservico({$linha.idProjetoServicosServico});"   > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

