                <table class="table">
                    <thead>
                        <tr>
                            <th>ANO/MES</th>
                            <th>VALOR BUDGET</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_budget|default:null item="linha"}  
                            <tr>
                                <td>{$linha.idAnoMes|default:''}</td> 
                                <td>R$ {$linha.vlBudget|default:'0'|number_format:"2":",":"."}</td> 
                                <td> 
                                   <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="budget.delbudget('{$linha.idSetorBudget}');"> Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
