{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
            <div class="alert alert-info" >
                <tt><h1>LISTA DE MOTIVO PARA MAQUINA PARADA</h1></tt>
            </div> 
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-maquinaparada" action="/maquinaparada/busca_maquinaparada" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/maquinaparada/novo_maquinaparada"> INSERIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$maquinaparada_lista item="linha"}  
                <tr>
                    <td><a href="/maquinaparada/novo_maquinaparada/idMaquinaParada/{$linha.idMaquinaParada}">{$linha.idMaquinaParada}</a></td>
                    <td>{$linha.dsMaquinaParada}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/maquinaparada/novo_maquinaparada/idMaquinaParada/{$linha.idMaquinaParada}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/maquinaparada/delmaquinaparada/idMaquinaParada/{$linha.idMaquinaParada}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
