                    <table class="table" border="1">
                    <thead>
                        <tr>
                            <th>Colaborador</th>
                        {foreach from=$lista_reduzida item="linha"}
                        <th <span style="background-color: {$linha.dsCor}"> {$linha.dsResumida|default:''}</span> </th>
                        {/foreach}
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {assign var="total" value=0}
                        {foreach from=$lista_status item="linha"}
                        <tr>
                            <td>{$linha.dsColaborador|default:''}</td>
                                {foreach from=$linha.tipoagenda item="itemdet"}
                                  <td> {$itemdet.qtHoras|default:''}</td>
                                  {if $itemdet.idTipoAgenda eq 1}
                                  {$total = $total + $itemdet.qtHoras}
                                  {/if}
                                {/foreach}
                            <td><a class="glyphicon glyphicon-book" title ="Reservar" onclick="os.reservarColaborador({$linha.idColaborador}, '{$linha.dsColaborador}');" > Reservar </a></td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
                    <strong>Total de Horas Disponíveis:</strong>
                    <strong>{$total|default:''}</strong>                            

