        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>OS</th>
                    <th>Data</th>
                    <th>Status OS</th>
                    <th>Inicio Previsto/Iniciado</th>
                    <th>Fim Previsto</th>
                    <th>Colaborador</th>
                    <th>Data Inicio</th>
                    <th>Data Fim</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$os_listacolabos item="linha"}  
                <tr>
                    <td><strong>{$linha.nrOS}</strong></td> 
                    <td>{$linha.dtOS|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsStatusOS}</td> 
                    <td>{$linha.dtInicio|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dtFim|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsColaborador}</td> 
                    <td>{$linha.dtInicioC|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dtFimC|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td><a class="glyphicon glyphicon-trash" onclick="os.delOSColaborador({$linha.idOS}, {$linha.idColaborador});">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>