{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <!--Altere daqui pra baixo-->
                <h1>CENTROS DE CUSTOS CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form id="frm-busca-centrocusto" 
                      name="frm-busca-centrocusto" 
                      action="/centrocusto/busca_centrocusto" 
                      method="POST" 
                      enctype="multipart/form-data">
                    <div class="row small" >
                        <div class="col-md-2">
                            <label for="form-control">DESCRICAO</label>
                            <input type="text" class="form-control" name="dsCentroCusto" id="dsCentroCusto" value="{$busca.dsCentroCusto|default:''}">       
                        </div> 
                        </br>
                        <div class="col-md-1">
                            <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                        </div>
                        {if $centrocusto_lista}                        
                            <div class="col-md-1">
                                <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                            </div>                        
                        {/if}
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/centrocusto/novo_centrocusto"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>ANALITICO</th>
                    <th>ID DO PAI</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$centrocusto_lista item="linha"}  
                <tr>
                    <td><a href="/centrocusto/novo_centrocusto/idCentroCusto/{$linha.idCentroCusto}">{$linha.idCentroCusto}</a></td>
                    <td>{$linha.cdCentroCusto}</td> 
                    <td>{$linha.dsCentroCusto}</td> 
                    <td>{$linha.stAnalitico}</td> 
                    <td>{$linha.idCentroCustoSuperior}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/centrocusto/novo_centrocusto/idCentroCusto/{$linha.idCentroCusto}"  target="_blank">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/centrocusto/delcentrocusto/idCentroCusto/{$linha.idCentroCusto}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/centrocusto/centrocusto.js" type="text/javascript"></script>
{include file="comuns/footer.tpl"}
