{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    {assign var="totalQ" value=0}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>POSICAO DE ESTOQUE</h1>
            </div>
            <form id="frm-busca-estoque" name="frm-busca-estoque" action="/listagemestoque/busca_estoque" method="POST" enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-1">
                        <label for="form-control">GRUPO</label>
                        <input type="text" class="form-control" name="dsGrupo" id="dsGrupo" value="{$busca.dsGrupo|default:''}">       
                    </div>                     
                    <div class="col-md-1">
                        <label for="form-control">CODIGO</label>
                        <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                    </div>                     
                    <div class="col-md-3">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="localestoque" >LOCAL DE ESTOQUE</label>
                            <select class="form-control"  id="idLocalEstoque" name="idLocalEstoque"> 
                                {html_options options=$localestoque selected={$busca.idLocalEstoque|default:''}}
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">QTDE ZEROS</label>
                        <input type="checkbox" class="form-control" name="qtZeros" id="qtZeros" {if $busca.qtZerosT|default:0 eq 1} checked {/if}>       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">VALOR ZEROS</label>
                        <input type="checkbox" class="form-control" name="vlZeros" id="vlZeros" {if $busca.vlZerosT|default:0 eq 1} checked {/if} >       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div> 
                    </br>
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    {if $estoque}
                        <div class="col-md-1">
                            <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                        </div>
                    {/if}
                </div>
            </form>
            <br>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>CODIGO PRODUTO</th>
                        <th>PRODUTO</th>
                        <th>LOCAL ESTOQUE</th>
                        <th>QUANTIDADE</th>
                        <th>UNIDADE</th>
                        <th>P.M.E</th>
                        <th>VALOR TOTAL</th>
                        <th>ACAO</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$estoque item="linha"}  
                    <tr>
                        <td>{$linha.cdInsumo|default:''}</td>
                        <td>{$linha.dsInsumo|default:''}</td>
                        <td>{$linha.localEstoque|default:''}</td> 
                        <td>{$linha.qtdeEstoque|default:'0'|number_format:"2":",":"."}</td> 
                        <td>{$linha.dsUnidade|default:''}</td> 
                        <td>R$ {$linha.vlPME|default:'0'|number_format:"2":",":"."}</td> 
                        <td>R$ {$linha.vlEstoque|default:'0'|number_format:"2":",":"."}</td> 
                        <td><a class="glyphicon glyphicon-pencil" href="/insumo/novo_insumo/idInsumo/{$linha.idInsumo}/pkRsuviop/ert" target="_blanck">  Ajustar</a>
                    </tr>
                    {/foreach}   
                </tbody>
            </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
            
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/producao.js"></script>
{include file="comuns/footer.tpl"}
        
