{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>LISTAGEM DOS PRODUTOS CADASTRADOS</h1>
            </div>
        <br>    
        <div id="modal_fotos">
            {include file="insumo/modalFotos/modal.tpl"}                            
        </div>                     
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form id="frm-busca-insumo" 
                      name="frm-busca-insumo" 
                      action="/listaInsumos/busca_insumo_cadastro" 
                      method="POST" 
                      enctype="multipart/form-data">
                    <div class="row small" >
                        <div class="col-md-2">
                            <label for="form-control">GRUPO</label>
                            <select class="form-control"  id="idGrupo" name="idGrupo"> 
                                    {include file="estoque/lista_grupos.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">CODIGO</label>
                            <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">PRODUTO</label>
                            <input type="text" class="form-control" name="dsInsumo" id="dsInsumo" value="{$busca.dsInsumo|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">PARCEIRO</label>
                            <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">NCM</label>
                            <input type="text" class="form-control" name="cdNCM" id="cdNCM" value="{$busca.cdNCM|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">ORDEM CADASTRO</label>
                            <input type="checkbox" class="form-control" name="ordemcadastro" id="ordemcadastro" {if $busca.ordemcadastro|default:0 eq 1} checked {/if} >       
                        </div>                         
                        </br>
                        <div class="col-md-1">
                            <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                        </div>
                        {if $insumo_lista}                        
                            <div class="col-md-1">
                                <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                            </div>                        
                        {/if}
                    </div>
                    </br>
                    <div class="row small" >
                        <div class="col-md-2">
                            <label for="form-control">COM PAGINAÇAO</label>
                            <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">CONTROLADOS</label>
                            <input type="checkbox" class="form-control" name="controlados" id="controlados" {if $busca.controlados|default:0 eq 1} checked {/if} >       
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">SEM CLASSIFICACAO DE GRUPO</label>
                            <input type="checkbox" class="form-control" name="semgrupo" id="semgrupo" {if $busca.semgrupo|default:0 eq 1} checked {/if} >       
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">ORGÃO</label>
                            <input type="text" class="form-control" name="dsOrgaoControlador" id="dsOrgaoControlador" value="{$busca.dsOrgaoControlador|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">UNIDADE</label>
                            <select class="form-control"  id="idUnidade" name="idUnidade"> 
                                    {include file="estoque/lista_unidades.tpl"}       
                            </select>                                    
                        </div>                         
                    </div>                    
                </form>
            </div>
        </div>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CODIGO</th>
                    <th>NOME DO PRODUTO</th>
                    <th>UNIDADE</th>
                    <th>GRUPO</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>NUMERO DE SERIE</th>
                    <th>DATA CADASTRO</th>
                    <th>VALIDADE</th>
                    <th>NCM</th>
                    <th>CONTROLADO</th>
                    <th>ORGÃO</th>
                    <th>FISPQ</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$insumo_lista item="linha"}  
                <tr>
                    <td>{$linha.idInsumo}</td>
                    <td>{$linha.cdInsumo|default:''}</td> 
                    <td>{$linha.dsInsumo|default:''}</td> 
                    <td>
                        <select class="form-control" name="unidade[{$linha.idInsumo}]" id="unidade{$linha.idInsumo}"> 
                            {html_options options=$linha.lista_unidade selected=$linha.idUnidade}
                        </select>  
                            <a class="glyphicon glyphicon-save-file" onclick="insumo.atualizaunidade('{$linha.idInsumo}');"> Gravar</a>                        
                    </td> 
                    <td>
                        <select class="form-control" name="grupo[{$linha.idInsumo}]" id="grupo{$linha.idInsumo}"> 
                            {html_options options=$linha.lista_grupo selected=$linha.idGrupo}
                        </select>  
                            <a class="glyphicon glyphicon-save-file" onclick="insumo.atualizagrupo('{$linha.idInsumo}');"> Gravar</a>                        
                    </td>
                    <td>{$linha.dsMarca|default:''}</td> 
                    <td>{$linha.dsModelo|default:''}</td> 
                    <td>{$linha.nrSerie|default:''}</td> 
                    <td>{$linha.dtCadastro|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.dtValidade|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.cdNCM}-{$linha.dsNCM}</td> 
                    <td>{if $linha.stControlado|default:0 eq 0} NAO {else} SIM {/if}</td> 
                    <td>{$linha.dsOrgaoControlador|default:''}</td> 
                    <td>
                        {if $linha.stQuimico|default:0 eq 1}
                            <a class="glyphicon glyphicon-camera" onclick="insumo.selecionarfoto('{$linha.idInsumo}');">  FISPQ</a>
                        {/if}    
                    </td> 
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/listainsumo/listainsumo.js"></script>
{include file="comuns/footer.tpl"}
