{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>MAPA DO ALMOXARIFADO</h1>
            </div>
            <br>
            <div class="panel panel-default">            
                <div class="panel-footer">
                    <form name="frm-busca-insumo" action="/mapaestoque/trocarordem/ordem/{$ordem}" method="POST" enctype="multipart/form-data">
                        <div class="row small" >
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="submit">{$nomedaordem|default:''}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class ="row small">
                 {foreach from=$colunas item="coluna"}  
                 <div class="col-md-12" style="width:{(100/{$coluna.totalcol|default:0})}%;"> 
                        <table class="table table-striped" border="1">
                            <thead>
                                <tr>
                                    <th>% DE UTILIZAÇÃO : {if $coluna.totallinhasCheias|default:0 > $coluna.totallinhas|default:0} 100 % {else} {if $coluna.totallinhasCheias|default:0 > 0} {(($coluna.totallinhasCheias|default:0 / $coluna.totallinhas|default:0) * 100)|number_format:'2':',':'.'} % {/if} {/if}</th>
                                </tr>
                            </thead>
                            <tbody>
                               {if $coluna.cdLocalEstoque >0}
                                {foreach from=$mapaestoque[$coluna.cdLocalEstoque] item="linha"}  
                                 <tr>
                                     <td {if $linha.qtdeEstoque|default:0>0} 
                                             style="background-color:#baf2b7!important;"
                                         {else}
                                         {if $linha.qtdeEstoque neq null} 
                                             style="background-color:#f2d0cd!important;"
                                         {/if}
                                         {/if}>
                                         {if $linha.idInsumo >0} 
                                             <span style="font-size: 23px; border: 0px; padding: 0px; margin: 0px; position: relative; color:#4285f4; top: 9px; padding-bottom: 9px;"  data-toggle="popover"
                                                   data-content="
                                                   <b>CODIGO DO PRODUTO : {$linha.cdInsumo|default:''}<br>
                                                   <b>NOME DO PRODUTO : {$linha.dsInsumo|default:''}<br>
                                                   <b>QTDE ESTOQUE :{$linha.qtdeEstoque|default:'0'|number_format:'2':',':'.'}<br><br>
                                                   <b>ULTIMA COMPRA :{$linha.dtUltimaCompra|date_format:'%d/%m/%Y'|default:''}<br>
                                                   <b>Parceiro :{$linha.dsParceiroUltimaCompra|default:''}<br>
                                                   <b>NOTA :{$linha.nrNotaUltimaCompra|default:''}<br>
                                                   <b>QUANTIDADE :{$linha.qtUltimaCompra|default:'0'|number_format:'2':',':'.'}<br><br>
                                                   <b>ULTIMA VENDA :{$linha.dtUltimaVenda|date_format:'%d/%m/%Y'|default:''}<br>
                                                   <b>CLIENTE :{$linha.dsParceiroUltimaVenda|default:''}<br>
                                                   <b>NOTA :{$linha.nrNotaUltimaVenda|default:''}<br>
                                                   <b>QUANTIDADE :{$linha.qtUltimaVenda|default:'0'|number_format:'2':',':'.'}<br><br>
                                                   <b>ULTIMO MOVIMENTO :{$linha.dsTipoMovimento|default:''}<br>
                                                   <b>DATA :{$linha.dtMovimento|date_format:'%d/%m/%Y'|default:''}<br>"
                                                   class="glyphicon glyphicon-info-sign">
                                             </span>   
                                         {/if}
                                         {$linha.dsLocalEstoque|default:''} - {$linha.dsInsumo|default:''}
                                     </td>
                                 </tr>
                               {/foreach}
                             {/if}
                            </tbody>
                        </table>
                    </div>
                  {/foreach}   
              </div>
        </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<!--<script src="/files/js/bootstrap.js" type="text/javascript"></script>-->
<script src="/files/js/producao.js"></script>
<script src="/files/js/util.js" type="text/javascript"></script>
<script type="text/javascript" src="/files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/files/js/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>       
{include file="comuns/footer.tpl"}