        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR DEPRECIACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$lista_depreciacoes|default:null item="linha"}  
                <tr>
                    <td>{$linha.dtDepreciacao|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.vlDepreciacao|default:'0'|number_format:"2":",":"."}</td> 
                </tr>
                {/foreach}        
            </tbody>
        </table>