{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>ATIVO FIXO CADASTRADOS</h1>
            </div>
        <br>     
        <div id="modal_fotos">
            {include file="ativofixo/modalFotos/modal.tpl"}                            
        </div>             
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-ativofixo" action="/ativofixo/busca_ativofixo" method="POST" enctype="multipart/form-data">
                    <div class="row small" >
                        <div class="col-md-1">
                            <label for="form-control">TIPO</label>
                            <select class="form-control"  id="idTipoAtivo" name="idTipoAtivo"> 
                                    {include file="ativofixo/lista_tipoativo.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">CLASSE</label>
                            <select class="form-control"  id="idClasseAtivo" name="idClasseAtivo"> 
                                    {include file="ativofixo/lista_classeativo.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">GRUPO</label>
                            <select class="form-control"  id="idGrupoAtivo" name="idGrupoAtivo"> 
                                    {include file="ativofixo/lista_grupoativo.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">CODIGO DO ATIVO</label>
                            <input type="text" class="form-control" name="idCodigoAtivo" id="idCodigoAtivo" value="{$busca.idCodigoAtivo|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">DESCRIÇÃO DO ATIVO FIXO</label>
                            <input type="text" class="form-control" name="dsAtivoFixo" id="dsAtivoFixo" value="{$busca.dsAtivoFixo|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">MARCA</label>
                            <select class="form-control"  id="idMarca" name="idMarca"> 
                                    {include file="ativofixo/lista_marca.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">MODELO</label>
                            <select class="form-control"  id="idModelo" name="idModelo"> 
                                    {include file="ativofixo/lista_modelo.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">NUMERO DE SÉRIE</label>
                            <input type="text" class="form-control" name="nrSerie" id="nrSerie" value="{$busca.nrSerie|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">CODIGO DO FABRICANTE</label>
                            <input type="text" class="form-control" name="dsCodigoDoFabricante" id="dsCodigoDoFabricante" value="{$busca.dsCodigoDoFabricante|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">NOTA FISCAL AQUISIÇÃO</label>
                            <input type="text" class="form-control" name="nrNotaAquisicao" id="nrNotaAquisicao" value="{$busca.nrNotaAquisicao|default:''}">       
                        </div> 
                    </div>
                    </br>
                    <div class="row small" >
                        <div class="col-md-1">
                            <label for="form-control">AQUISIÇÃO INICIO</label>
                            <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y'|default:''}" >    
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">AQUISIÇÃO FIM</label>
                            <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y'}">       
                        </div>                         
                        <div class="col-md-4">
                            <label for="Parceiro">PARCEIRO AQUISIÇÃO</label>                        
                            <input data-label="Parceiro" type="text" data-tipo="dsParceiro" class="form-control complete_Parceiro" name="dsParceiro"  id="dsParceiro" onchange="solicitacaocompras.lerParceiro();"  value="{$busca.dsParceiro|default:''}"/>     {*onkeypress="pedido.completar_Parceiro();" *}
                            <input type="hidden" id="idParceiro" value="{$busca.idParceiro|default:''}" name="idParceiro"/>
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">COLABORADOR RESPONSAVEL PELO USO</label>
                            <select class="form-control"  id="idColaborador" name="idColaborador"> 
                                    {include file="ativofixo/lista_colaborador.tpl"}       
                            </select>                                    
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">SITUACAO</label> <br>
                            <input type="radio" class="form-group" name="situacao" id="situacao_ativo" value="0"> ATIVO <br>     
                            <input type="radio" class="form-group" name="situacao" id="situacao_emreparo" value="1"> EM REPARO <br>    
                            <input type="radio" class="form-group" name="situacao" id="situacao_baixado" value="2"> BAIXADOS
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">COM PAGINAÇAO</label>
                            <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                        </div>                         
                        </br>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/ativofixo/novo_ativofixo/idAtivoFixo/"> INCLUIR</a>
        <br><br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>TIPO</th>
                    <th>CLASSE</th>
                    <th>GRUPO</th>
                    <th>CODIGO</th>
                    <th>SEQUENCIA</th>
                    <th>DESCRICAO DO BEM</th>
                    <th>DESCRICAO DETALHADA DO BEM</th>
                    <th>UNIDADE</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>NUMERO DE SERIE</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$ativofixo_lista item="linha"}  
                <tr>
                    <td>{$linha.dsTipoAtivo|default:''}</td> 
                    <td>{$linha.dsClasseAtivo|default:''}</td> 
                    <td>{$linha.dsGrupoAtivo|default:''}</td> 
                    <td>{$linha.cdCodigoAtivo|default:''}</td> 
                    <td>{$linha.cdSequenciaAtivo|default:''}</td> 
                    <td>{$linha.dsAtivoFixo|default:''}</td> 
                    <td>{$linha.dsDetalhadaAtivoFixo|default:''}</td> 
                    <td>{$linha.dsUnidade|default:''}</td> 
                    <td>{$linha.dsMarca|default:''}</td> 
                    <td>{$linha.dsModelo|default:''}</td> 
                    <td>{$linha.nrSerie|default:''}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/ativofixo/novo_ativofixo/idAtivoFixo/{$linha.idAtivoFixo}"  target="_blank">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/ativofixo/delativofixo/idAtivoFixo/{$linha.idAtivoFixo}">  Excluir</a>
                        </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/ativofixo/ativofixo.js"></script>
{include file="comuns/footer.tpl"}
