        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>NUMERO O.S</th>
                    <th>FORNECEDOR</th>
                    <th>NUMERO DA N.F</th>
                    <th>MOTIVO DO REPARO</th>
                    <th>SERVICOS EXECUTADOS</th>
                    <th>VALOR SERVICOS</th>
                    <th>PEÇAS</th>
                    <th>VALOR PEÇAS</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$lista_depreciacoes|default:null item="linha"}  
                <tr>
                    <td>{$linha.dtReparo|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.nrOS|default:''}</td> 
                    <td>{$linha.dsParceiro|default:''}</td> 
                    <td>{$linha.nrNF|default:''}</td> 
                    <td>{$linha.dsMotivoReparo|default:''}</td> 
                    <td>{$linha.dsServicosExecutados|default:''}</td> 
                    <td>{$linha.vlServicos|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.dsPecas|default:''}</td> 
                    <td>{$linha.vlPecas|default:'0'|number_format:"2":",":"."}</td> 
                </tr>
                {/foreach}        
            </tbody>
        </table>