    <div class="form-group">
        <input type="text" class="form-control hidden" name="idOS" value="{$idOS}">                                       
        <input type="text" class="form-control hidden" name="dsTabela" value="{$dsTabela}">                                       
        <div class="row small">
            <div class="col-md-7">
                 <input type="file" name="arquivo" />
            </div> 
            <div class="col-md-2" id="botao_enviar">
                 <input class="btn btn-primary" type="submit" value="ADICIONAR FOTO" />
            </div> 
            <div class="col-md-1" id="botao_sair">
                 <input class="btn btn-primary" type="button" onclick="os.closejanela();" value="FECHAR A TELA" />
            </div> 
        </div> 
        <br>
        <div class="row small">
        </div>
    </div>