                <table class="table">
                    <thead>
                        <tr>
                            <th>DESCRIÇÃO DO GRUPO</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_itens|default:'' item="linha"}  
                            <tr>
                                <td>{$linha.dsGrupoAtivo|default:''}</td> 
                                <td> 
                                   <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="classeativo.delitem('{$linha.idGrupoAtivo|default:''}');" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
