{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>PRODUTOS CADASTRADOS</h1>
            </div>
        <br>     
        <div id="modal_fotos">
            {include file="insumo/modalFotos/modal.tpl"}                            
        </div>             
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form id="frm-busca-insumo" name="frm-busca-insumo" action="/insumo/busca_insumo" method="POST" enctype="multipart/form-data">
                    <div class="row small" >
                        <div class="col-md-2">
                            <label for="form-control">GRUPO</label>
                            <input type="text" class="form-control" name="dsGrupo" id="dsGrupo" value="{$busca.dsGrupo|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">CODIGO DO PRODUTO</label>
                            <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                        </div> 
                        <div class="col-md-3">
                            <label for="form-control">PRODUTO</label>
                            <input type="text" class="form-control" name="dsInsumo" id="dsInsumo" value="{$busca.dsInsumo|default:''}">       
                        </div> 
                        <div class="col-md-2">
                            <label for="form-control">PARCEIRO</label>
                            <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">NCM</label>
                            <input type="text" class="form-control" name="cdNCM" id="cdNCM" value="{$busca.cdNCM|default:''}">       
                        </div> 
                        </br>
                        <div class="col-md-1">
                            <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                        </div>
                        {if $insumo_lista}                        
                            <div class="col-md-1">
                                <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                            </div>                        
                        {/if}                        
                    </div>
                    </br>
                    <div class="row small" >
                        <div class="col-md-2">
                            <label for="form-control">COM PAGINAÇAO</label>
                            <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">CONTROLADOS</label>
                            <input type="checkbox" class="form-control" name="controlados" id="controlados" {if $busca.controlados|default:0 eq 1} checked {/if} >       
                        </div>                         
                        <div class="col-md-1">
                            <label for="form-control">COM FISPQ</label>
                            <input type="checkbox" class="form-control" name="comfispq" id="comfispq" {if $busca.comfispq|default:0 eq 1} checked {/if} >       
                        </div>                         
                        <div class="col-md-3">
                            <label for="form-control">ORGÃO</label>
                            <input type="text" class="form-control" name="dsOrgaoControlador" id="dsOrgaoControlador" value="{$busca.dsOrgaoControlador|default:''}">       
                        </div>                         
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/insumo/novo_insumo/pkRsuviop/ikl"> INCLUIR</a>
        <br><br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CODIGO</th>
                    <th>NOME DO PRODUTO</th>
                    <th>UNIDADE</th>
                    <th>GRUPO</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>NUMERO DE SERIE</th>
                    <th>VAL UNITARIO</th>
                    <th>VALIDADE</th>
                    <th>NCM</th>
                    <th>CONTROLADO</th>
                    <th>ORGÃO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$insumo_lista item="linha"}  
                <tr>
                    <td><a href="/insumo/novo_insumo/idInsumo/{$linha.idInsumo}/pkRsuviop/ikl"  target="_blank">{$linha.idInsumo}</a></td>
                    <td>{$linha.cdInsumo|default:''}</td> 
                    <td>{$linha.dsInsumo|default:''}</td> 
                    <td>{$linha.dsUnidade|default:''}</td> 
                    <td>{$linha.dsGrupo|default:''}</td> 
                    <td>{$linha.dsMarca|default:''}</td> 
                    <td>{$linha.dsModelo|default:''}</td> 
                    <td>{$linha.nrSerie|default:''}</td> 
                    <td>{$linha.vlUnitario|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.dtValidade|date_format:'%d/%m/%Y'|default:''}</td> 
                    <td>{$linha.cdNCM}-{$linha.dsNCM}</td> 
                    <td>{if $linha.stControlado|default:0 eq 0} NAO {else} SIM {/if}</td>                     
                    <td>{$linha.dsOrgaoControlador|default:''}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/insumo/novo_insumo/idInsumo/{$linha.idInsumo}/pkRsuviop/ikl"  target="_blank">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/insumo/delinsumo/idInsumo/{$linha.idInsumo}">  Excluir</a>
                        {if $linha.stQuimico|default:0 eq 1}
                            <a class="glyphicon glyphicon-camera" onclick="insumo.selecionarfoto('{$linha.idInsumo}');">  FISPQ</a>
                        {/if}    
                        </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/insumo/insumo.js"></script>
{include file="comuns/footer.tpl"}
