        <!--Altere daqui pra baixo-->
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRODUTO</th>
                    <th>LOCAL DE ESTOQUE</th>
                    <th>QTDE ESTOQUE</th>
                    <th>P.M.E</th>
                    <th>VAL ESTOQUE</th>
                    <th>EST MINIMO</th>
                    <th>EST MAXIMO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$produtos_localestoque item="linha"}  
                <tr>
                    <td>{$linha.idInsumo|default:''}</td>
                    <td>{$linha.dsInsumo|default:''}</td>
                    <td>{$linha.dsLocalEstoqueSuperior|default:''} - {$linha.dsLocalEstoque|default:''}</td> 
                    <td>{$linha.qtdeEstoque|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlPME|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlEstoque|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.qtEstoqueMinimo|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.qtLoteReposicao|default:'0'|number_format:"2":",":"."}</td> 
                    <td><a class="glyphicon glyphicon-pencil" onclick="insumo.acertar('{$linha.idLocalEstoque}','{$linha.dsLocalEstoqueSuperior}','{$linha.dsLocalEstoque}','{$linha.qtdeEstoque}','{$linha.qtEstoqueMinimo}','{$linha.qtLoteReposicao}');">Escolher</a>
                    <a class="glyphicon glyphicon-bitcoin" onclick="insumo.ajustarPME('{$linha.idEstoque}');">Ajustar PME</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
