        <!--Altere daqui pra baixo-->
        <h3>PARCELAS</h3>
        {assign var="total" value=0}            
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>PARCELA</th>
                    <th>VENCIMENTO PREVISTO</th>
                    <th>VALOR DA PARCELA</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$financeiroitens item="linha"}  
                <tr>
                    <td>{$linha.nrParcela|default:''}</td>
                    <td> <input type="text" disabled id="dtVencimento-{$linha.nrParcela}" name="dtVencimento" value="{$linha.dtVencimento|date_format:'%d/%m/%Y'|default:Date('d/m/Y')}"></td> 
                    <td>R$ <input type="text" disabled id="vlParcela-{$linha.nrParcela}" name="vlParcela" value="{$linha.vlParcela|default:''}"></td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" onclick="pedido.editarfinanceiro({$linha.nrParcela});">EDITAR</a>  |  
                        <a class="glyphicon glyphicon-floppy-disk" onclick="pedido.alterarfinanceiro({$linha.idFinanceiroParcela}, {$linha.nrParcela});">GRAVAR</a> |  
                        <a class="glyphicon glyphicon-trash" onclick="pedido.delfinanceiroitem({$linha.idFinanceiroParcela});">EXCLUIR</a>
                    </td>
                </tr>
                {$total = $total + $linha.vlParcela}                                
                {/foreach}        
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td><strong>VALOR TOTAL DO FINANCEIRO:</strong></td>
                    <td><strong>R$ {$total|default:''} </strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>VALOR TOTAL ORIGEM DO PEDIDO:</strong></td>
                    <td><strong>R$ {$totalpedido|default:''} </strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <!--Altere daqui pra cima-->