        <!--Altere daqui pra baixo-->
<!--        <h3>LISTA DE PRODUTOS DIGITADOS PARA ESTE PEDIDO:</h3>-->
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRODUTO</th>
                    <th>NOME DO PRODUTO</th>
                    <th>GRUPO</th>
                    <th>QTDE PEDIDO</th>
                    <th>QTDE ENTREGUE</th>
                    <th>VAL UNITARIO</th>
                    <th>VAL TOTAL</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$pedidoitens item="linha"}  
                <tr>
                    <td>{$linha.idPedidoItem|default:''}</td>
                    <td>{$linha.cdInsumo|default:''}</td>
                    {if $linha.stTipoIS|default:'0' eq '1'}
                        <td>{$linha.dsServico|default:''}</td>
                        <td></td> 
                    {else}
                        <td>{$linha.dsInsumo|default:''}</td>
                        <td>{$linha.dsGrupo|default:''}</td> 
                    {/if}
                    <td>{$linha.qtPedido|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.qtEntregue|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlUnitario|default:'0'|number_format:"2":",":"."}</td> 
                    <td>R$ {$linha.vlPedido|default:'0'|number_format:"2":",":"."}</td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" title="Clique aqui para editar os dados"onclick="pedido.editar('{$linha.idPedidoItem}','{$linha.stTipoIS}');">Editar</a>                             
                        <a class="glyphicon glyphicon-trash" onclick="pedido.delpedidoitem('{$linha.idPedidoItem}');">  Excluir</a>
                    </td>
                </tr>
                {/foreach}        
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>VALOR TOTAL DO PEDIDO:</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>R$ {$totalpedido|default:'0'|number_format:"2":",":"."} </strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
        <!--Altere daqui pra cima-->
