{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>LISTA DE PEDIDOS ATENDIDOS</h1>
            </div>
            <form name="frm-busca-pedido-fechado" 
                  id="frm-busca-pedido-fechado"
                  action="/pedidofechado/busca_pedido" 
                  method="POST" 
                  enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-1">
                        <label for="form-control">PEDIDO</label>
                        <input type="text" class="form-control" name="idPedido" id="idPedido" value="{$busca.idPedido|default:''}">       
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">SOLICITANTE</label>
                        <input type="text" class="form-control" name="dsSolicitante" id="dsSolicitante" value="{$busca.dsSolicitante|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PARCEIRO</label>
                        <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">OBSERVACAO</label>
                        <input type="text" class="form-control" name="dsObservacao"  id="dsObservacao" value="{$busca.dsObservacao|default:''}"> 
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacaoPedido" >SITUACAO</label>
                            <select class="form-control"  id="idSituacaoPedido" name="idSituacaoPedido"> 
                                    {include file="pedido/lista_situacao.tpl"}       
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>                                             
                </div> 
                <div class="row small" >
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto">EMPRESA </label>
                            <select class="form-control" name="idEmpresa" id="idEmpresa">
                                {html_options options=$lista_empresa selected=$busca.idEmpresa}
                            </select>                      
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="centrocusto">CENTRO DE CUSTO </label>
                            <select class="form-control" name="idCentroCusto" id="idCentroCusto">
                                {html_options options=$lista_centrocusto selected=$busca.idCentroCusto}
                            </select>                      
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="grupodr">GRUPO DE DESPESA </label>
                            <select class="form-control" name="idGrupoDR"  id="idGrupoDR" onclick="solicitacaocompras.lerItemDR();">  
                                {html_options options=$lista_grupodr selected=$busca.idGrupoDR}
                            </select>                      
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="itemdr">ITEM DE DESPESA </label>
                            <select class="form-control" name="idItemDR"  id="idItemDR"> 
                                {include file="solicitacaocompras/listaItemDR.tpl"}
                            </select>                      
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="form-control">DATA INICIO</label>
                        <input type="text" class="form-control obg standard-mask-date standard-form-date standard-form-require" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y'|default:''}" >           
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">DATA FIM</label>
                        <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y'}">       
                    </div>                     
                    </br>
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    {if $pedidos}
                        <div class="col-md-1">
                            <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                        </div>                    
                    {/if}                    
                </div>
            </form>
            <br>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>PEDIDO</th>
                        <th>DATA</th>
                        <th>SOLCITANTE</th>
                        <th>PARCEIRO</th>
                        <th>CENTRO CUSTO</th>
                        <th>DESPESA</th>
                        <th>ITEM DESPESA</th>
                        <th>JUSTIFICATIVA</th>
                        <th>OBS</th>
                        <th>PRAZO ENTREGA</th>
                        <th>OBS ENTREGA</th>
                        <th>SITUACAO</th>
                        <th>VAL TOTAL</th>
                        <th>ACAO</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$pedidos item="linha"}  
                    <tr>
                        <td>{$linha.idPedido|default:''}</td>
                        <td>{$linha.dtPedido|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsSolicitante|default:''}</td> 
                        <td>{$linha.dsParceiro|default:''}</td> 
                        <td>{$linha.dsCentroCusto|default:''}</td> 
                        <td>{$linha.dsGrupoDR|default:''}</td> 
                        <td>{$linha.dsItemDR|default:''}</td> 
                        <td>{$linha.dsJustificativa|default:''}</td> 
                        <td>{$linha.dsObservacao|default:''}</td> 
                        <td>{$linha.dtPrazoEntrega|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsComplementoEntrega|default:''}</td> 
                        <td>{$linha.dsSituacaoPedido|default:''}</td> 
                        <td>R$ {$linha.vlTotalPedido|default:''}</td> 
                        <td>
                            {if $linha.idSituacaoPedido < 6}
                                <a title="Arquivar" class="glyphicon glyphicon-saved" href="/pedido/delpedidoencerrado/idPedido/{$linha.idPedido}"></a>
                            {/if}
                        </td>
                    </tr>
                        {$total = $total + $linha.vlTotalPedido}                
                    {/foreach}   
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td><strong>R$ {$total|default:''} </strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
            
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<script src="/files/js/pedido/pedido.js" type="text/javascript"></script>
<script src="/files/js/solicitacaocompras/solicitacaocompras.js" type="text/javascript"></script>
{include file="comuns/footer.tpl"}