{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}    
    <div id="page-wrapper">
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>LISTA DE PEDIDOS EM ABERTO</h1>
            </div>
            <form name="frm-busca-pedidosemaberto"
                  id="frm-busca-pedidosemaberto"
                  action="/pedidoaberto/busca_pedido" 
                  method="POST" enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-1">
                        <label for="form-control">SOLICITANTE</label>
                        <input type="text" class="form-control" name="dsSolicitante" id="dsSolicitante" value="{$busca.dsSolicitante|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PARCEIRO</label>
                        <input type="text" class="form-control" name="dsParceiro" id="dsParceiro" value="{$busca.dsParceiro|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">OBSERVACAO</label>
                        <input type="text" class="form-control" name="dsObservacao"  id="dsObservacao" value="{$busca.dsObservacao|default:''}"> 
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacaoPedido" >SITUACAO</label>
                            <select class="form-control"  id="idSituacaoPedido" name="idSituacaoPedido"> 
                                    {include file="pedido/lista_situacao.tpl"}       
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>                         
                    
                    </br>
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    {if $pedidos}
                        <div class="col-md-1">
                            <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                        </div>                    
                    {/if}                    
                    
                </div>
            </form>
            <div id="modal_recebimento">
                {include file="pedido/recebimento/modal.tpl"}                            
            </div> 
            <div id="modal_pedido_compra">
                {include file="pedido/pedido_compra/modal/modal.tpl"}                            
            </div>                
            
            <br>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>PEDIDO</th>
                        <th>DATA</th>
                        <th>SOLCITANTE</th>
                        <th>PARCEIRO</th>
                        <th>CENTRO CUSTO</th>
                        <th>DESPESA</th>
                        <th>ITEM DESPESA</th>
                        <th>JUSTIFICATIVA</th>                        
                        <th>OBS</th>
                        <th>PRAZO ENTREGA</th>
                        <th>OBS ENTREGA</th>
                        <th>SITUACAO</th>
                        <th>VAL TOTAL</th>
                        <th>ACAO</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$pedidos item="linha"}  
                    <tr>
                        <td>{$linha.idPedido|default:''}</td>
                        <td>{$linha.dtPedido|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsSolicitante|default:''}</td> 
                        <td>{$linha.dsParceiro|default:''}</td> 
                        <td>{$linha.dsCentroCusto|default:''}</td> 
                        <td>{$linha.dsGrupoDR|default:''}</td> 
                        <td>{$linha.dsItemDR|default:''}</td> 
                        <td>{$linha.dsJustificativa|default:''}</td> 
                        <td>{$linha.obssol|default:''}-{$linha.obsitem|default:''}</td> 
                        <td>{$linha.dtPrazoEntrega|date_format:'%d/%m/%Y'|default:''}</td> 
                        <td>{$linha.dsComplementoEntrega|default:''}</td> 
                        <td>{$linha.dsSituacaoPedido|default:''}</td> 
                        <td>R$ {$linha.vlTotalPedido|default:'0'|number_format:"2":",":"."}</td> 
                        <td style="width:10%;">
                            <a title="Editar" class="glyphicon glyphicon-pencil" href="/pedido/novo_pedido/idPedido/{$linha.idPedido}">Editar</a> <br>
                            <a title="Baixa Manual" class="glyphicon glyphicon-check" href="/pedido/baixamanual/idPedido/{$linha.idPedido}">Baixa Manual</a>  <br>
                            <a title="Recebimento" class="glyphicon glyphicon-transfer" 
                               onclick="recebimento_modal.show('{$linha.idPedido}');"
                               >Recebimento</a> <br>
                            <a title="Arquivar" class="glyphicon glyphicon-saved" href="/pedido/delpedido/idPedido/{$linha.idPedido}">Arquivar</a>  <br>
                                <a title="Criar o PDF" class="glyphicon glyphicon-bookmark" onclick="emitir_pedido_compra.show('{$linha.idPedido}')">Criar PDF</a>  <br>
<!--                            {if $linha.idSituacaoPedido == 1}-->
<!--                            {/if}  -->
                            {if $linha.dsCaminhoPDF neq ''}
                                <a title="Ver o PDF" class="glyphicon glyphicon-search" href="http://thopos.tecnologiafox.com/{$linha.dsCaminhoPDF}" target="_blanck">Ver PDF</a>  <br>
                            {/if}  
                            {if $linha.dsCaminhoPDF neq ''}
                                <a title="Enviar o PDF por Email" class="glyphicon glyphicon-send" onclick="emitir_pedido_compra.enviar('{$linha.idPedido}');" target="_blanck">Enviar Email</a>
                            {/if}  
                            
                        </td>
                    </tr>
                        {$total = $total + $linha.vlTotalPedido}                
                    {/foreach}   
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td><strong>R$ {$total|default:'0'|number_format:"2":",":"."} </strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="col-xs-12">
                    {$paginacao|default:''}
                </div>
            </div>        
            
        </div>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!--<script src="/files/js/bootstrap.js"></script>-->-->
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>

<script src="/files/js/pedido/pedido.js"></script>
{include file="comuns/footer.tpl"}
        
