{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"} 
    {assign var="total" value=0}
    <div id="page-wrapper">
        <hr>
        <!--Altere daqui pra baixo-->
        <h1>Lista de Pedidos</h1>
        <hr>        
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-pedido" action="/pedido/busca_pedido" method="POST" enctype="multipart/form-data">
                    Número do Pedido:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscapedido" name="buscapedido" value="{$buscapedido|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/pedido/novo_pedido"> Novo Pedido</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                    <th>Parceiro</th>
                    <th>SITUACAO</th>
                    <th>VALOR TOTAL</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$pedidos item="linha"} 
                <tr>
                    <td>{$linha.idPedido|default:''}</td>
                    <td>{$linha.dtPedido|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsParceiro|default:''}</td> 
                    <td>{$linha.dsSituacaoPedido}</td> 
                    <td>R$ {$linha.vlTotalPedido|default:''}</td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/pedido/novo_pedido/idPedido/{$linha.idPedido}"> Editar</a>  |  
                        <a class="glyphicon glyphicon-check" href="/pedido/baixamanual/idPedido/{$linha.idPedido}">  Baixa Manual</a>  |
                        <a class="glyphicon glyphicon-trash" href="/pedido/delpedido/idPedido/{$linha.idPedido}">  Excluir</a></td>
                </tr>
                    {$total = $total + $linha.vlTotalPedido}
                {/foreach}        
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total:</strong></td>
                    <td><strong>R$ {$total|default:''} </strong></td>
                    <td></td>
                </tr>
            </tfoot>            
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
        
