{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>CARGOS CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-cargo" action="/cargo/busca_cargo" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/cargo/novo_cargo"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRICAO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$cargo_lista item="linha"}  
                <tr>
                    <td><a href="/cargo/novo_cargo/idCargo/{$linha.idCargo}">{$linha.idCargo}</a></td>
                    <td>{$linha.dsCargo}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/cargo/novo_cargo/idCargo/{$linha.idCargo}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/cargo/delcargo/idCargo/{$linha.idCargo}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
