<div id="orcamentocompra_show" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ORÇAMENTO DE COMPRAS</h4>
            </div>
{*                  action="/pedido/emitir_pedido_compra" 
                  onsubmit="return emitir_pedido_compra.consisteEmitirPedidoCompra();">
*}            <form name="frm-emitir-orcamento-compra" 
                  method="POST" 
                  enctype="multipart/form-data">
                    <div class="modal-body"></div>
            </form>    
        </div>
    </div>
</div>
<script src="/files/js/pedido/orcamento.js"></script>
                    