{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>COLABORADORES CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-colaborador" action="/colaborador/busca_colaborador" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/colaborador/novo_colaborador"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>NOME</th>
                    <th>SETOR</th>
                    <th>CARGO</th>
                    <th>MAO DE OBRA</th>
                    <th>USUARIO</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$colaborador_lista item="linha"}  
                <tr>
                    <td><a href="/colaborador/novo_colaborador/idColaborador/{$linha.idColaborador}">{$linha.idColaborador}</a></td>
                    <td>{$linha.dsColaborador|default:''}</td> 
                    <td>{$linha.dsSetor|default:''}</td> 
                    <td>{$linha.dsCargo|default:''}</td> 
                    <td>{$linha.dsMaoObra|default:''}</td> 
                    <td>{$linha.dsUsuario|default:''}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/colaborador/novo_colaborador/idColaborador/{$linha.idColaborador}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/colaborador/delcolaborador/idColaborador/{$linha.idColaborador}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
