                            <table class="table table-striped" border="1">
                                <thead>
                                    <tr>
                                        <th>#Ticket</th>
                                        <th>Aberto em</th>
                                        <th>Descrição</th>
                                        <th>Status</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach from=$chamados_lista item="linha"}  
                                        <tr>
                                            <td>{$linha.idChamdo|default:''}</td> 
                                            <td>{$linha.dtChamado|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                                            <td>{$linha.dsChamado|default:''}</td> 
                                            <td>{$linha.dsStatus|default:''}</td> 
                                            <td>
                                                <a title="Clique aqui para ver" class="glyphicon glyphicon-camera" href="chamado/novo_chamado/idChamado/{$linha.idChamado}" ></a>   
                                            </td>
                                        </tr>
                                    {/foreach}        
                                </tbody>
                            </table>                            