{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <br><br>            
            <div class="" >
                <tt><h3>Minhas ações</h3></tt>
            </div>
        <br>     
        <div class="row small" >
            <div class="col-md-12" style="font-size: large">
                Escolha a opção e clique em buscar
            </div>
        </div>
        <br>
        <form name="frm-busca-tarefas" id="frm-busca-tarefas" action="/reuniao/busca_tarefas" method="POST" enctype="multipart/form-data">
        <div class="panel panel-default">            
            <div class="panel-footer">
                    <div class="row small" >
<!--                        <div class="col-md-1">
                            <label for="form-control">IDENTIFICADOR</label>
                            <input type="text" class="form-control" name="idReuniao" id="idReuniao" value="{$busca.idReuniao|default:''}">       
                        </div>  -->
                        <div class="col-md-1">
                            <label for="form-control">Período inicial</label>
                            <input type="text" class="form-control datetime" name="dtInicio" id="dtInicio" value="{$busca.dtInicio|date_format:'%d/%m/%Y %H:%M'|default:''}" >    
                        </div> 
                        <div class="col-md-1">
                            <label for="form-control">Período final</label>
                            <input type="text" class="form-control datetime" name="dtFim" id="dtFim" value="{$busca.dtFim|default:''|date_format:'%d/%m/%Y %H:%M'}">       
                        </div>                         
                        <div class="col-md-2">
                            <label for="form-control">Status da ação</label>
                            <select class="form-control"  id="stStatusTarefa" name="stStatusTarefa"> 
                                    {include file="reuniao/lista_statusTarefa.tpl"}       
                            </select>                                    
                        </div>  
                        <br>
                    </div>
                </div>
            </div>
            <button title="Clique aqui para buscar os dados" class="btn btn-primary buscar" type="submit">Buscar</button>
            <a title="Clique aqui para sair" class="btn btn-primary" href="/menuReuniao/">Sair</a>            
        </form>
        <br><br>
        <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>Data da reunião</th>
                        <th>Pauta da reunião</th>
                        <th>Minha ação</th>
                        <th>Prazo para entregar</th>
                        <th>Ação</th>
                    </tr>
                </thead>
            <tbody>
<!--                {var_dump($tarefas_lista)}-->
                {foreach from=$tarefas_lista item="linha"}  
                <tr>
                    <td style='width:8%;'> {$linha.dtReuniao|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    <td>{$linha.dsPauta|default:''}</td> 
                    <td>{$linha.dsTarefa|default:''}</td> 
                    {if $linha.temOutrasDatas eq 1}
                        <td> 
                            <div id="modal_fotos">
                                {include file="reuniao/modalDatas/modal.tpl"}                            
                            </div>                                            
                            <a title="Clique aqui ver as sub-tarefas" class="glyphicon glyphicon-info-sign" onclick="reuniao.selecionardatas('{$linha.idReuniao}','{$linha.idTarefa}','usuario','{$linha.idUsuario}');"> </a> {$linha.dtPrazo|date_format:'%d/%m/%Y %H:%M'|default:''}
                            </td> 
                    {else}
                        <td> {$linha.dtPrazo|date_format:'%d/%m/%Y %H:%M'|default:''}</td> 
                    {/if}
                    <td> 
                        {if $linha.stStatusTarefa eq 0}
                            <a title="Clique aqui para concluir a tarefa" class="glyphicon glyphicon-check" onclick="reuniao.concluirTarefa('{$linha.idTarefa}');"></a>
                        {/if}
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>                
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<link href="/files/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
<script src="/files/js/reuniao/reuniao.js"></script>