{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>SERVICOS CADASTRADOS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-servico" action="/servico/busca_servico" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/servico/novo_servico"> INCLUIR</a>
        <br>       
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRICAO SERVICO</th>
                    <th>TIPO DE SERVICO</th>
                    <th>OBSERVACAO</th>
                    <th>VALOR</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$servico_lista item="linha"}  
                <tr>
                    <td><a href="/servico/novo_servico/idServico/{$linha.idServico}">{$linha.idServico}</a></td>
                    <td>{$linha.dsServico}</td> 
                    <td>{$linha.dsTipoServico}</td> 
                    <td>{$linha.dsObservacao}</td> 
                    <td>{$linha.vlOrcado}</td> 
                    <td ><a class="glyphicon glyphicon-pencil" href="/servico/novo_servico/idServico/{$linha.idServico}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/servico/delservico/idServico/{$linha.idServico}"> Excluir</a> </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
