                <table class="table">
                    <thead>
                        <tr>
                            <th>MAO DE OBRA</th>
                            <th>QUANTIDADE</th>
                            <th>UNIDADE</th>
                            <th>VALOR UNITARIO</th>
                            <th>VALOR TOTAL</th>
                            <th>OBSERVACAO</th>
                            <th>ACAO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_servicomaoobra item="linha"}  
                            <tr>
                                <td>{$linha.dsMaoObra|default:''}</td> 
                                <td>{$linha.qtHoras|default:''}</td> 
                                <td>{$linha.dsUnidade|default:''}</td> 
                                <td>R$ {$linha.vlUnitario|default:''}</td> 
                                <td>R$ {$linha.vlTotal|default:''}</td> 
                                <td>{$linha.dsObservacao|default:''}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="delmaoobra({$linha.idServicoMaoObra});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
