{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>TELA PARA IMPORTACAO DE DADOS</h1>
            </div>
            <br>
        <br>
        <a class="btn btn-primary" href="/importar/importar_produtos">IMPORTAR PRODUTOS</a>
        <br>       
    </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
{include file="comuns/footer.tpl"}
