    <div class="form-group">
        <input type="text" class="form-control hidden" name="idSolicitacaoPaiZ" value="{$idSolicitacaoPai}">                                       
        <input type="text" class="form-control hidden" name="idSolicitacaoItem" value="{$idSolicitacaoItem}">                                       
        <input type="text" class="form-control hidden" name="dsTabela" value="{$dsTabela}">                                       
        <div class="row small">
            <div class="col-md-7">
                <label for="form-control">DIGITE UMA MENSAGEM</label>
                <input type="text" class="form-control" name="dsMensagem"  id="dsMensagem" value=""> 
            </div>         
            <div class="col-md-3">
                 <input type="file" name="arquivo" />
            </div> 
            <div class="col-md-1" id="botao_sair">
                 <input class="btn btn-primary" type="button" onclick="solicitacaocompras.closejanela();" value="ABORTAR" />
            </div> 
            <div class="col-md-1" id="botao_enviar">
                 <input class="btn btn-primary" type="submit" value="GRAVAR" />
            </div> 
        </div> 
        <br>
        <div class="row small">
        </div>
    </div>