{include file="comuns/head.tpl"}
<div id="wrapper">   
    <div id="page-wrapper">
        <!-- Sidebar -->
        {include file="comuns/sidebar.tpl"}    
        <div id="page-wrapper">
            <div class="row small">
                <div class="col-lg-12">
                    <h1>Sessão Expirada</h1>                   
                    <p>Faça o <a href="/login">login</a> novamente</p>                    
                    <img src="/files/images/acesso negado.jpeg" width="120" height="120" alt="acesso negado"/>
                </div>
            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Blank JS -->
<!--<script src="/files/js/blank/blank.js"></script> -->
{include file="comuns/footer.tpl"}
