{include file="comuns/head.tpl"}
<div id="modal_pedido_compra">
    {include file="pedido/pedido_compra/modal/modal.tpl"}                            
</div>                
<div id="modal_produtos">
    {include file="solicitacaocompras/produtos/modal.tpl"}                            
</div>                
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>GERENCIAR AS SOLICITACAO DE COMPRAS CADASTRADAS</h1>
            </div>
            <br>
            <form name="frm-busca-solicitacao" 
                  id="frm-busca-solicitacao" 
                  action="/solicitacaocomprasmanutencao/busca_solicitacaocompras" 
                  method="POST" 
                  enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">SOLICITANTE</label>
                        <input type="text" class="form-control" name="dsSolicitante" id="dsSolicitante" value="{$busca.dsSolicitante|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                    </div>                 
                    <div class="col-md-5">
                        <label for="Parceiro">PARCEIRO</label>                        
                        <input data-label="Parceiro" type="text" data-tipo="dsParceiro" class="form-control complete_Parceiro" name="dsParceiro"  id="dsParceiro" onchange="solicitacaocompras.lerParceiro();"  value="{$busca.dsParceiro|default:''}"/>     {*onkeypress="pedido.completar_Parceiro();" *}
                        <input type="hidden" id="idParceiro" value="{$busca.idParceiro|default:''}" name="idParceiro"/>
                    </div> 
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="prioridade">PRIORIDADE</label>
                            <select class="form-control" name="idPrioridade" id="idPrioridade" value="{$busca.idPrioridade|default:''}">
                                {html_options options=$lista_prioridade selected=$busca.idPrioridade|default:''}
                            </select>                                    
                        </div>
                    </div>                                                         
                </div>                                                         
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">OBSERVACAO</label>
                        <input type="text" class="form-control" name="dsObservacao"  id="dsObservacao" value="{$busca.dsObservacao|default:''}"> 
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">LOCAL PARA ENTREGA</label>
                        <input type="text" class="form-control" name="dsLocalEntrega" id="dsLocalEntrega" value="{$busca.dsLocalEntrega|default:''}" >           
                    </div>                      
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacao" >SITUACAO</label>
                            <select class="form-control"  id="idSituacao" name="idSituacao"> 
                                    {include file="solicitacaocompras/lista_situacao.tpl"}       
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>                         
                    
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                    <div class="col-md-1">
                        <label for="form-control">MARCAR TODOS</label>
                        <input type="checkbox" class="form-control" name="selecionar_tudo" id="selecionar_tudo">       
                    </div>                         
                    <div class="col-md-1">
                        <button class="btn btn-primary cotacao" type="submit">CRIAR ORCAMENTO</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary pedido" type="submit">GRAVAR PEDIDO</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary csv" type="submit">CRIAR CSV</button>
                    </div>
                </div>
                <br>
                <br>
                <div class="tabela-scroll" id="listagem">        
                    <table class="table table-striped" border="1" >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>DATA</th>
                                <th>SOLICITANTE</th>
                                <th>PRODUTO/SERVICO</th>
                                <th>CONTROLADO</th>
                                <th>PARCEIRO</th>
                                <th>QTDE</th>
                                <th>UN</th>
                                <th>VALOR</th>
                                <th>MARCAR</th>
                                <th>SITUACAO</th>
                                <th>PRIORIDADE</th>
                                <th>DT NECESSIDADE</th>
                                <th>OBSERVACAO</th>
                                <th>CENTRO CUSTO</th>
                                <th>GRUPO DESPESA</th>
                                <th>ITEM DESPESA</th>
                                <th>LOCAL DE ENTREGA</th>
                                <th>ACAO</th>
                            </tr>
                        </thead>
                        <tbody>

                            {foreach from=$solicitacaocompras item="linha"}  

                            <tr> <td>
                                    {$linha.idSolicitacao}/{$linha.idSolicitacaoItem}
                                </td>
                                <td>{$linha.dtSolicitacao|date_format:'%d/%m/%Y'|default:''}</td>
                                <td>{$linha.dsSolicitante|default:''}</td> 
                                {if $linha.stTipoIS|default:'0' eq '1'}
                                    {if $linha.idInsumo|default:'' neq ''}
                                        <td style="width:40%;">{$linha.dsServico|default:''}</td>
                                    {else}
                                        <td style="width:40%;">{$linha.dsProduto|default:''}</td>
                                    {/if}
                                {else}
                                    {if $linha.idInsumo|default:'0' eq '0'}
                                        <td style="width:40%;">{$linha.dsProduto|default:''}</td>
                                    {else}
                                        <td style="width:40%;">{$linha.dsInsumo|default:''}</td>
                                    {/if}
                                {/if}
                                <td>{if $linha.stControlado|default:0 eq 0} NAO {else} SIM {if $linha.stAprovado|default:0 eq 0} - NAO APROVADO {else} APROVADO {/if} {/if}</td>                                 
                                {if $linha.dsParceiro|default:'' eq ''}
                                    <td style="width:40%;">{$linha.dsParceiroSugerido|default:''}</td> 
                                {else}
                                    <td style="width:40%;">{$linha.dsParceiro|default:''}</td> 
                                {/if}

                                <td>{$linha.qtSolicitacao|default:'0'|number_format:"2":",":"."}</td> 
                                <td>{$linha.dsUnidade|default:''}</td> 
                                <td style="width:10%;"> 
                                    <input class="valor" size ="10" type="text" id="valor[{$linha.idSolicitacao}][{$linha.idSolicitacaoItem}]" name="valor[{$linha.idSolicitacao}][{$linha.idSolicitacaoItem}]">
                                </td> 
                                <td> 
                                    <input type="checkbox" id="selecionar[{$linha.idSolicitacao}][{$linha.idSolicitacaoItem}]" name="selecionar[{$linha.idSolicitacao}][{$linha.idSolicitacaoItem}]">
                                </td> 
                                <td>{$linha.dsSituacaoItem|default:''}</td> 
                                <td>{$linha.dsPrioridade|default:''}</td> 
                                <td>{$linha.dtNecessidade|date_format:'%d/%m/%Y'|default:''}</td>
                                <td>{$linha.dsObservacao|default:''} - {$linha.obsItem|default:''}</td> 
                                <td>{$linha.dsCentroCusto|default:''}</td> 
                                <td>{$linha.dsGrupoDR|default:''}</td> 
                                <td>{$linha.dsItemDR|default:''}</td> 
                                <td>{$linha.dsLocalEntrega|default:''}</td> 
                                <td style="width:20%;">
                                    <a title="Editar" class="glyphicon glyphicon-pencil" href="/solicitacaocomprasmanutencao/nova_solicitacao/idSolicitacao/{$linha.idSolicitacao}">Editar</a>  
                                    {if $linha.idSolicitacaoItem}
                                        <a title="Arquivar" class="glyphicon glyphicon-saved" onclick="solicitacaocompras.arquivarsolicitacao('{$linha.idSolicitacao}','{$linha.idSolicitacaoItem}');">Arquivar</a>
                                    {/if}  
                                    <a title="Produto" class="glyphicon glyphicon-exclamation-sign" onclick="solicitacaocompras.verdadosproduto('{$linha.idInsumo}')">Produto</a>  
<!--                                    {if $linha.idSituacaoItem == 2}
                                        <a title="Criar o PDF" class="glyphicon glyphicon-saved" onclick="emitir_pedido_compra.show('{$linha.idPedido}')">Criar PDF</a>
                                    {/if}  
                                    {if $linha.dsCaminhoPDF neq ''}
                                        <a title="Ver o PDF" class="glyphicon glyphicon-saved" href="http://local.thopos.com.br/{$linha.dsCaminhoPDF}" target="_blanck">Ver PDF</a>
                                    {/if}  
                                    {if $linha.dsCaminhoPDF neq ''}
                                        <a title="Enviar o PDF por Email" class="glyphicon glyphicon-saved" onclick="emitir_pedido_compra.enviar('{$linha.idPedido}');" target="_blanck">Enviar Email</a>
                                    {/if}  -->
                                </td>
                            </tr>
                            {/foreach}        
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-12">
                            {$paginacao|default:''}
                        </div>
                    </div>        

                </div>
            <!--Altere daqui pra cima-->
            </form>
        </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>

<!-- Utils -->
<script src="/files/js/util.js"></script>
<script type="text/javascript" src="/files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/files/js/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>       
<script src="/files/js/solicitacaocompras/solicitacaocompras.js"></script>
<script src="/files/js/pedido/pedido.js"></script>
{include file="comuns/footer.tpl"}


{*                                    {if $linha.stControlado|default:0 eq 0} 
                                        <input type="checkbox" id="selecionar[{$linha.idSolicitacao}][{$linha.idSolicitacaoItem}]" name="selecionar[{$linha.idSolicitacao}][{$linha.idSolicitacaoItem}]">
                                    {else}
                                    {if $linha.stAprovado|default:0 eq 1}
*}                                    

