{include file="comuns/head.tpl"}
<div id="modal_produtos">
    {include file="solicitacaocompras/produtos/modal.tpl"}                            
</div>   
<div id="wrapper">
    <!--Sidebar -->   
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <div class="panel-body">
            <div class="alert alert-info" >
                <h1>SOLICITACAO DE COMPRAS CADASTRADAS</h1>
            </div>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-setor" action="/solicitacaocompras/busca_solicitacaocompras" method="POST" enctype="multipart/form-data">
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">SOLICITANTE</label>
                        <input type="text" class="form-control" name="dsSolicitante" id="dsSolicitante" value="{$busca.dsSolicitante|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">PRODUTO</label>
                        <input type="text" class="form-control" name="dsProduto" id="dsProduto" value="{$busca.dsProduto|default:''}">       
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">CODIGO PRODUTO</label>
                        <input type="text" class="form-control" name="cdInsumo" id="cdInsumo" value="{$busca.cdInsumo|default:''}">       
                    </div>                 
                    <div class="col-md-5">
                        <label for="Parceiro">PARCEIRO</label>                        
                        <input data-label="Parceiro" type="text" data-tipo="dsParceiro" class="form-control complete_Parceiro" name="dsParceiro"  id="dsParceiro" onchange="solicitacaocompras.lerParceiro();"  value="{$busca.dsParceiro|default:''}"/>     {*onkeypress="pedido.completar_Parceiro();" *}
                        <input type="hidden" id="idParceiro" value="{$busca.idParceiro|default:''}" name="idParceiro"/>
                    </div> 
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="prioridade">PRIORIDADE</label>
                            <select class="form-control" name="idPrioridade" id="idPrioridade" value="{$busca.idPrioridade|default:''}">
                                {html_options options=$lista_prioridade selected=$busca.idPrioridade|default:''}
                            </select>                                    
                        </div>
                    </div>                                                         
                </div>                                                         
                <div class="row small" >
                    <div class="col-md-2">
                        <label for="form-control">OBSERVACAO</label>
                        <input type="text" class="form-control" name="dsObservacao"  id="dsObservacao" value="{$busca.dsObservacao|default:''}"> 
                    </div> 
                    <div class="col-md-2">
                        <label for="form-control">LOCAL PARA ENTREGA</label>
                        <input type="text" class="form-control" name="dsLocalEntrega" id="dsLocalEntrega" value="{$busca.dsLocalEntrega|default:''}" >           
                    </div>                      
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situacao" >SITUACAO</label>
                            <select class="form-control"  id="idSituacao" name="idSituacao"> 
                                    {include file="solicitacaocompras/lista_situacao.tpl"}       
                            </select>                                    
                        </div>
                    </div> 
                    <div class="col-md-1">
                        <label for="form-control">COM PAGINAÇAO</label>
                        <input type="checkbox" class="form-control" name="cpagina" id="cpagina" {if $busca.cpagina|default:0 eq 1} checked {/if} >       
                    </div>                         
                    
                    <div class="col-md-1">
                        <button class="btn btn-primary buscar" type="submit">BUSCAR</button>
                    </div>
                </div>
                <br>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/solicitacaocompras/nova_solicitacao"> INCLUIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                    <th>SOLICITANTE</th>
                    <th>PARCEIRO</th>
                    <th>PRODUTO/SERVICO</th>
                    <th>QTDE</th>
                    <th>SITUACAO</th>
                    <th>PRIORIDADE</th>
                    <th>OBSERVACAO</th>
                    <th>LOCAL DE ENTREGA</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
<!--                {var_dump($solicitacaocompras)}-->
                {foreach from=$solicitacaocompras item="linha"}  
                <tr>
                    <td><a href="/solicitacaocompras/novo_solicitacao/idSolicitacao/{$linha.idSolicitacao}">{$linha.idSolicitacao}</a></td>
                    <td>{$linha.dtSolicitacao|date_format:'%d/%m/%Y'|default:''}</td>
                    <td>{$linha.dsSolicitante|default:''}</td> 
                    {if $linha.dsParceiro|default:'' eq ''}
                        <td>{$linha.dsParceiroSugerido|default:''}</td> 
                    {else}
                        <td>{$linha.dsParceiro|default:''}</td> 
                    {/if}

                    {if $linha.stTipoIS|default:'0' eq '1'}
                        {if $linha.idInsumo|default:'' neq ''}
                            <td>{$linha.dsServico|default:''}</td>
                        {else}
                            <td>{$linha.dsProduto|default:''}</td>
                        {/if}
                    {else}
                        {if $linha.idInsumo|default:'0' neq '0'}
                            <td>{$linha.dsInsumo|default:''}</td>
                        {else}
                            <td>{$linha.dsProduto|default:''}</td>
                        {/if}
                    {/if}


                    <td>{$linha.qtSolicitacao|default:'0'|number_format:"2":",":"."}</td> 
                    <td>{$linha.dsSituacaoItem|default:''}</td> 
                    <td>{$linha.dsPrioridade|default:''}</td> 
                    <td>{$linha.dsObservacao|default:''} - {$linha.obsItem|default:''}</td> 
                    <td>{$linha.dsLocalEntrega|default:''}</td> 
                    
                    
                    <td><a title="Editar" class="glyphicon glyphicon-pencil" href="/solicitacaocompras/nova_solicitacao/idSolicitacao/{$linha.idSolicitacao}">Editar</a> |  
                        <a title="Excluir" class="glyphicon glyphicon-trash" onclick="solicitacaocompras.excluirsolicitacao('{$linha.idSolicitacao}');">Excluir</a> |
                        {if $linha.idSolicitacaoItem}
                            <a title="Arquivar" class="glyphicon glyphicon-saved" onclick="solicitacaocompras.arquivarsolicitacao('{$linha.idSolicitacao}','{$linha.idSolicitacaoItem}');">Arquivar</a>
                        {/if}  
                        <a title="Produto" class="glyphicon glyphicon-exclamation-sign" onclick="solicitacaocompras.verdadosproduto('{$linha.idInsumo}')">Produto</a>                      
                    </td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-12">
                {$paginacao|default:''}
            </div>
        </div>        
        
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>-->

<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>

<!-- Utils -->
<script src="/files/js/util.js"></script>
<script type="text/javascript" src="/files/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/files/js/fancybox/source/jquery.fancybox.js" type="text/javascript"></script>       
<script src="/files/js/solicitacaocompras/solicitacaocompras.js"></script>

{include file="comuns/footer.tpl"}
