{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
            <br>
            <div class="alert alert-info" >
                <tt><h1>LISTA DE PROJETOS</h1></tt>
            </div> 
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-projeto" action="/projeto/busca_projeto" method="POST" enctype="multipart/form-data">
                    DESCRICAO:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">BUSCAR</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/projeto/novo_projeto"> INSERIR</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Nome do Projeto</th>
                    <th>Empresa</th>
                    <th>Colaborador Responsavel</th>
                    <th>Data da Abertura</th>
                    <th>Status</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$projeto_lista item="linha"}  
                <tr>
                    <td><a href="/projeto/novo_projeto/idProjeto/{$linha.idProjeto}">{$linha.idProjeto}</a></td>
                    <td>{$linha.dsProjeto}</td> 
                    <td>{$linha.dsEmpresa}</td> 
                    <td>{$linha.dsColaborador}</td> 
                    <td>{$linha.dtAbertura|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsStatusProjeto}</td> 
                    <td><a title="Editar os dados do Projeto" class="glyphicon glyphicon-pencil" href="/projeto/novo_projeto/idProjeto/{$linha.idProjeto}">  A</a> |  
                        <a title="Excluir o Projeto" class="glyphicon glyphicon-trash" href="/projeto/delprojeto/idProjeto/{$linha.idProjeto}">  E</a> |
                        <a title="Mudar o status do Projeto" class="glyphicon glyphicon-adjust" href="/projetomudanca/novo_projetomudanca/idProjeto/{$linha.idProjeto}">  M</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
