        <!--Altere daqui pra baixo-->
        <h3>Documentos selecionados:</h3>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>DESCRICAO</th>
                    <th>Caminho</th>
                    <th>ACAO</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$projetosdocumentos item="linha"}  
                <tr>
                    <td> <input type="text" disabled id="dsDocumento-{$linha.idDocumento}" name="dsDocumento" value="{$linha.dsDocumento|default:''}"></td> 
                    <td> <input type="text" disabled id="dsCaminho-{$linha.idDocumento}" name="dsCaminho" value="{$linha.dsCaminho|default:''}"></td> 
                    <td>
                        <a class="glyphicon glyphicon-pencil" onclick="projeto.editarfinanceiro({$linha.nrParcela});">Editar</a>  |  
                        <a class="glyphicon glyphicon-floppy-disk" onclick="projeto.alterarfinanceiro({$linha.idFinanceiroParcela}, {$linha.nrParcela});">Gravar</a> |  
                        <a class="glyphicon glyphicon-camera" onclick="projeto.alterarfinanceiro({$linha.idFinanceiroParcela}, {$linha.nrParcela});">Ver</a> |  
                        <a class="glyphicon glyphicon-trash" onclick="projeto.delfinanceiroitem({$linha.idFinanceiroParcela});">Excluir</a>
                    </td>
                </tr>
                {/foreach}        
                
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
